<div class="container">
  <div ng-if="!testCaseUploadsCtrl.fromTestMapsPage">
    <ol class="breadcrumb">
      <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
      <li><a ui-sref="previewers">QTI Validation (Previewers)</a></li>
      <li qm-loading-breadcrumb="!testCaseUploadsCtrl.previewerName">
        <a ui-sref="tenants({previewerId: testCaseUploadsCtrl.previewerId,
                            previewerName: testCaseUploadsCtrl.previewerName
                        })">
          {{::testCaseUploadsCtrl.previewerName}}
        </a>
      </li>
      <li qm-loading-breadcrumb="!testCaseUploadsCtrl.tenantName">
        {{::testCaseUploadsCtrl.tenantName}} ({{::testCaseUploadsCtrl.tenantId}})
      </li>
      <li>
        <a ui-sref="items({
                            previewerId: testCaseUploadsCtrl.previewerId,
                            previewerName: testCaseUploadsCtrl.previewerName,
                            tenantId: testCaseUploadsCtrl.tenantId,
                            tenantName: testCaseUploadsCtrl.tenantName
                        })">
          Items
        </a>
      </li>
      <li>Test Case Upload History</li>
    </ol>
  </div>
  <div ng-if="testCaseUploadsCtrl.fromTestMapsPage">
    <ol class="breadcrumb">
      <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
      <li><a ui-sref="previewers">QTI Validation (Previewers)</a></li>
      <li qm-loading-breadcrumb="!testCaseUploadsCtrl.previewerName">
        <a ui-sref="tenants({previewerId: testCaseUploadsCtrl.previewerId,
                            previewerName: testCaseUploadsCtrl.previewerName
                        })">
          {{::testCaseUploadsCtrl.previewerName}}
        </a>
      </li>
      <li qm-loading-breadcrumb="!testCaseUploadsCtrl.tenantName">
        {{::testCaseUploadsCtrl.tenantName}} ({{::testCaseUploadsCtrl.tenantId}})
      </li>
      <li>
        <a ui-sref="testMaps({
                            previewerId: testCaseUploadsCtrl.previewerId,
                            previewerName: testCaseUploadsCtrl.previewerName,
                            tenantId: testCaseUploadsCtrl.tenantId,
                            tenantName: testCaseUploadsCtrl.tenantName
                        })">
          Test Maps
        </a>
      </li>
      <li>Test Case Upload History</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Test Case Upload History</h1>
      <table st-table="testCaseUploadsCtrl.displayedTestCaseUploads" st-safe-src="testCaseUploadsCtrl.testCaseUploads"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="8">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="testCaseUploadsCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in testCaseUploadsCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="testCaseUploads" qm-property="perPage"
                          qm-context="{{::testCaseUploadsCtrl.previewerId}}_{{::testCaseUploadsCtrl.tenantId}}">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control"
                         qm-memory qm-page-name="testCaseUploads" qm-property="search"
                         qm-context="{{::testCaseUploadsCtrl.previewerId}}_{{::testCaseUploadsCtrl.tenantId}}"
                         ng-model="testCaseUploadsCtrl.search"/>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="testCaseUploadsId" st-sort-default="reverse">Upload ID</th>
          <th st-sort="processedDate">Processed Date</th>
          <th st-sort="user.fullname">Uploaded By</th>
          <th st-sort="itemsCount" class="text-center">Items Processed</th>
          <th st-sort="testCasesCount" class="text-center">Test Cases Processed</th>
          <th st-sort="failedTestCasesCount" class="text-center">Test Cases with Errors</th>
          <th st-sort="mismatchedTestCasesCount" class="text-center">Test Cases with Mismatched Scores</th>
          <th st-sort="uploadJsonResult" class="text-center">Upload JSON Result</th>
        </tr>
        </thead>
        <tbody qm-loading="testCaseUploadsCtrl.loadingTestCaseUploads">
        <tr ng-hide="testCaseUploadsCtrl.displayedTestCaseUploads.length">
          <td colspan="8" class="text-center" ng-if="!testCaseUploadsCtrl.testCaseUploadsInitialized">
            &nbsp;
          </td>
          <td colspan="8" class="text-center" ng-if="testCaseUploadsCtrl.testCaseUploadsInitialized">
            No results found.
          </td>
        </tr>
        <tr ng-repeat="testCaseUpload in testCaseUploadsCtrl.displayedTestCaseUploads">
          <td>{{testCaseUpload.testCaseUploadsId}}</td>
          <td>{{testCaseUpload.processedDate | amDateFormat: testCaseUploadsCtrl.dateTimeFormat}}</td>
          <td>{{testCaseUpload.user.fullname}}</td>
          <td class="text-center">{{testCaseUpload.itemsCount}}</td>
          <td class="text-center">{{testCaseUpload.testCasesCount}}</td>
          <td class="text-center">
                            <span class="label" ng-class="testCaseUpload.failedTestCasesCount ?
                                    'label-danger' : 'label-default'">
                                {{testCaseUpload.failedTestCasesCount}}
                            </span>
          </td>
          <td class="text-center">
                            <span class="label" ng-class="testCaseUpload.mismatchedTestCasesCount ?
                                    'label-danger' : 'label-default'">
                                {{testCaseUpload.mismatchedTestCasesCount}}
                            </span>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-default btn-xs"
                    ng-click="testCaseUploadsCtrl.showJsonResult(testCaseUpload.uploadJsonResult)">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="8">
            <div st-pagination st-items-by-page="testCaseUploadsCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

