<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="previewers">QTI Validation (Previewers)</a></li>
    <li qm-loading-breadcrumb="!tenantsCtrl.previewerName">
      {{::tenantsCtrl.previewerName}}
    </li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="tenantsCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="tenantsCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close" ng-click="tenantsCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{tenantsCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h1>Tenants</h1>
      <table qm-custom-search qm-custom-search-key="tenantsCtrl.searchKey" qm-custom-search-field="subscribed"
             st-table="tenantsCtrl.displayedTenants"
             st-safe-src="tenantsCtrl.tenants"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="4">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="tenantsCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in tenantsCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="tenants" qm-property="perPage"
                          qm-context="{{::tenantsCtrl.previewerId}}">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control"
                         qm-memory qm-page-name="tenants" qm-property="search"
                         qm-context="{{::tenantsCtrl.previewerId}}"
                         ng-model="tenantsCtrl.search"/>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="tenantId" st-sort-default="true">ID</th>
          <th st-sort="name">Name</th>
          <th class="text-center">Actions</th>
          <th class="text-center" ng-if="tenantsCtrl.showCheckboxes">Subscribed
            <input st-search="tenant.subscribed" type="text" ng-model="tenantsCtrl.searchKey"
                   ng-hide="true"/>

            <div class="btn-group pull-right" uib-dropdown>
              <button type="button" class="btn btn-xs dropdown-toggle" uib-dropdown-toggle
                      ng-class="tenantsCtrl.tenantSubscriptionFilter ? 'btn-primary' : 'btn-default'">
                <i class="fa fa-filter"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="tenantsCtrl.setTenantSubscriptionFilter(0)">
                  <i class="fa fa-check"
                     ng-class="{ 'visually-hidden': tenantsCtrl.tenantSubscriptionFilter !== 0 }"></i>
                  No Filter
                </a></li>
                <li><a href="#" ng-click="tenantsCtrl.setTenantSubscriptionFilter(1)">
                  <i class="fa fa-check"
                     ng-class="{ 'visually-hidden': tenantsCtrl.tenantSubscriptionFilter !== 1 }"></i>
                  Subscribed
                </a></li>
                <li><a href="#" ng-click="tenantsCtrl.setTenantSubscriptionFilter(-1)">
                  <i class="fa fa-check"
                     ng-class="{ 'visually-hidden': tenantsCtrl.tenantSubscriptionFilter !== -1 }"></i>
                  Not Subscribed
                </a></li>
              </ul>
            </div>
          </th>
        </tr>
        </thead>
        <tbody qm-loading="tenantsCtrl.loadingTenants">
        <tr ng-hide="tenantsCtrl.displayedTenants.length">
          <td colspan="4" class="text-center" ng-if="!tenantsCtrl.tenantsInitialized">&nbsp;</td>
          <td colspan="4" class="text-center" ng-if="tenantsCtrl.tenantsInitialized">No results found.</td>
        </tr>
        <tr ng-repeat="tenant in tenantsCtrl.displayedTenants">
          <td>{{tenant.tenantId}}</td>
          <td>{{tenant.name}}</td>
          <td class="button-column text-center">
            <button class="btn btn-default btn-sm" type="button"
                    ng-disabled="!tenantsCtrl.hasItemReadAccess(tenant.tenantId)"
                    ui-sref="items({
                                            previewerId: tenantsCtrl.previewerId,
                                            previewerName: tenantsCtrl.previewerName,
                                            tenantId: tenant.tenantId,
                                            tenantName: tenant.name
                                        })">
              <i class="fa fa-bars"></i> Items
            </button>
            <button class="btn btn-default btn-sm" type="button"
                    ng-disabled="!tenantsCtrl.hasTestMapReadAccess(tenant.tenantId)"
                    ui-sref="testMaps({
                            				previewerId: tenantsCtrl.previewerId,
                                            previewerName: tenantsCtrl.previewerName,
                                            tenantId: tenant.tenantId,
                                            tenantName: tenant.name
                            			})">
              <i class="fa fa-key"></i> Test Maps
            </button>
            <button class="btn btn-default btn-sm" type="button"
                    ng-disabled="!tenantsCtrl.hasQtiScvReadAccess(tenant.tenantId)"
                    ui-sref="dashboard({
                                            previewerId: tenantsCtrl.previewerId,
                                            previewerName: tenantsCtrl.previewerName,
                                            tenantId: tenant.tenantId,
                                            tenantName: tenant.name
                                        })">
              <i class="fa fa-tachometer"></i> Dashboard
            </button>
          </td>
          <td class="text-center" ng-if="tenantsCtrl.showCheckboxes">
            <input type="checkbox" ng-checked="tenant.subscribed === 'yes'"
                   ng-click="tenantsCtrl.disPlayConfirmationDialog(tenant)"/>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="4">
            <div st-pagination st-items-by-page="tenantsCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-sm-4">
      <h1>What's This?</h1>
      <div class="well well-lg">
        <p>
          The QTI Validation app allows you to browse, run, play, and approve scoring test cases that
          have been created for items in a tenant.
        </p>
        <p>
          To get started, click on a tenant from the list to the left. You can see which items in the
          selected tenant contain scoring test cases.
        </p>
      </div>

      <div ng-if="tenantsCtrl.showScv">
        <h1>Previewer Score Consistency Validation Job Reports</h1>
        <div class="well well-lg">
          <p>
            The Score Consistency Validation Job Reports page allows you to browse the reports created by
            the nightly score consistency validation job for the given previewer.
          </p>
          <p>
            To get started, click on the link below. You will see a table listing the score consistency job
            executions. Clicking on the view button for a given execution will render the report showing the
            list of tenants that were validated. For each tenant, the number of items, number of items with
            failed test cases, number of items with pending test cases, and number of deactivated items will
            be summarized. Details for the items in each tenant and any failed test cases are also provided.
          </p>
          <p class="text-center">
            <a ui-sref="qtiScvExecutions({
                                    previewerId: tenantsCtrl.previewerId,
                                    previewerName: tenantsCtrl.previewerName
                                })">
              <b>SCV Nightly Job History</b>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

