<form class="form-horizontal" name="commentForm"
      ng-submit="commentDtlCtrl.save(commentForm.$valid)" novalidate>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close"
            ng-click="commentDtlCtrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="commentDetailModal">{{commentDtlCtrl.modalTitle}}</h4>
  </div>
  <div class="modal-body">
    <div ng-hide="!commentDtlCtrl.validSave">
      <div ng-hide="!commentDtlCtrl.alertSuccess"
           class="alert alert-success">{{commentDtlCtrl.alertMessage}}
      </div>
      <div ng-hide="commentDtlCtrl.alertSuccess" class="alert alert-danger">{{commentDtlCtrl.alertMessage}}</div>
    </div>

    <div ng-hide="commentDtlCtrl.validSave">
      <div class="form-group"
           ng-class="{'has-error': commentForm.resultComment.$invalid && (commentForm.resultComment.$touched || commentForm.$submitted)}">
        <label for="resultComment" class="col-sm-2 form-control-label">Comment
          Detail</label>
        <div class="col-sm-10">
					<textarea class="form-control" id="resultComment"
                    name="resultComment" rows="10"
                    ng-model="commentDtlCtrl.studentScenarioResultComment.resultComment"
                    ng-maxlength="512" required></textarea>
        </div>
        <div class="col-sm-9 col-sm-offset-2"
             ng-show="commentForm.resultComment.$touched ||commentForm.$submitted">
          <div class="help-block"
               ng-show="commentForm.resultComment.$error.required">Please
            enter comment details.
          </div>
          <div class="help-block"
               ng-show="commentForm.resultComment.$error.maxlength">The
            comment detail should 512 characters or less.
          </div>
        </div>
      </div>
      <div class="form-group"
           ng-class="{'has-error': commentForm.externalDefectRepository.$invalid && (commentForm.externalDefectRepository.$touched || commentForm.$submitted)}">
        <label for="externalDefectRepository"
               class="col-sm-2 form-control-label">Defect Repository</label>
        <div class="col-sm-10">
          <select class="form-control"
                  qm-loading="!commentDtlCtrl.externalDefectRepositories"
                  id="externalDefectRepository" name="externalDefectRepository"
                  ng-model="commentDtlCtrl.studentScenarioResultComment.externalDefectRepository"
                  ng-options="externalDefectRepository.name for externalDefectRepository in commentDtlCtrl.externalDefectRepositories track by externalDefectRepository.name"
                  required>
            <option value="">Select a defect repository from the list</option>
          </select>
        </div>
        <div class="col-sm-9 col-sm-offset-2"
             ng-show="commentForm.externalDefectRepository.$touched ||commentForm.$submitted">
          <div class="help-block"
               ng-show="commentForm.externalDefectRepository.$error.required">Please
            select a defect repository.
          </div>
        </div>
      </div>
      <div class="form-group"
           ng-class="{'has-error': commentForm.defectId.$invalid && (commentForm.defectId.$touched || commentForm.$submitted)}">
        <label for="defectId" class="col-sm-2 form-control-label">Defect
          ID</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="defectId"
                 name="defectId"
                 ng-model="commentDtlCtrl.studentScenarioResultComment.externalDefectId"
                 ng-maxlength="50"
                 ng-required="commentDtlCtrl.studentScenarioResultComment.externalDefectRepository.name !='Other'">
        </div>
        <div class="col-sm-9 col-sm-offset-2"
             ng-show="commentForm.defectId.$touched ||commentForm.$submitted">
          <div class="help-block"
               ng-show="commentForm.defectId.$error.required">Please enter
            an external defect ID.
          </div>
          <div class="help-block"
               ng-show="commentForm.defectId.$error.maxlength">The defect
            ID should 50 characters or less.
          </div>
        </div>
      </div>
      <div class="form-group"
           ng-class="{'has-error': commentForm.studentScenarioResultCommentCategory.$invalid && (commentForm.studentScenarioResultCommentCategory.$touched || commentForm.$submitted)}">
        <label for="studentScenarioResultCommentCategory" class="col-sm-2 form-control-label">Comment
          Category</label>
        <div class="col-sm-10">
          <select class="form-control"
                  qm-loading="!commentDtlCtrl.studentScenarioResultCommentCategories"
                  id="studentScenarioResultCommentCategory"
                  name="studentScenarioResultCommentCategory"
                  ng-model="commentDtlCtrl.studentScenarioResultComment.studentScenarioResultCommentCategory"
                  ng-options="studentScenarioResultCommentCategory.name for studentScenarioResultCommentCategory in commentDtlCtrl.studentScenarioResultCommentCategories track by studentScenarioResultCommentCategory.name"
                  required>

            <option value="">Select a comment category from the list</option>
          </select>
        </div>
        <div class="col-sm-9 col-sm-offset-2"
             ng-show="commentForm.studentScenarioResultCommentCategory.$touched ||commentForm.$submitted">
          <div class="help-block"
               ng-show="commentForm.studentScenarioResultCommentCategory.$error.required">Please
            select a comment category.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="commentDtlCtrl.close()">Close
    </button>
    <button type="submit" class="btn btn-primary"
            ng-hide="commentDtlCtrl.validSave">{{commentDtlCtrl.submitButtonLabel}}
    </button>
  </div>
</form>
