<script type="text/javascript">
  $('.dropdown-menu').click(function (e) {
    e.stopPropagation();
  });
</script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="{{::mainCtrl.landingPage}}" href="#">
        Quality Monitoring
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown is-open="mainCtrl.showingUserDropdown">
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button">
            {{::mainCtrl.user}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="mainCtrl.logout()" href><i class="fa fa-sign-out"></i> Sign Out</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown ng-class="{ 'disabled': !mainCtrl.notificationCount }" is-open="mainCtrl.showingNotifications">
          <a href="#" class="dropdown-toggle notifications-button clearfix" uib-dropdown-toggle role="button"
             ng-disabled="mainCtrl.notificationCount <= 0"
             uib-tooltip="{{mainCtrl.notificationPopupText}}"
             tooltip-is-open="mainCtrl.notificationPopupIsOpen && !mainCtrl.showingNotifications"
             tooltip-trigger="none" tooltip-placement="bottom">
            <div class="notifications-numbers" ng-if="mainCtrl.notificationCount">
              <div>
                <i class="fa fa-refresh notifications-number-icon"></i>
                {{mainCtrl.pendingNotificationCount}}
              </div>
              <div>
                <i class="fa fa-check notifications-number-icon"></i>
                {{mainCtrl.completedNotificationCount}}
              </div>
            </div>
            <div class="pull-right">
              Notifications
              <span class="caret"></span>
            </div>
          </a>
          <ul class="dropdown-menu notifications" role="menu">
            <li class="text-center" ng-if="mainCtrl.currentJobs.length">
              <h5><i class="fa fa-cogs"></i> Jobs</h5>
            </li>
            <div ng-repeat="job in mainCtrl.currentJobs">
              <li role="separator" class="divider"></li>
              <li>
                <div class="notification-icon">
                  <i ng-class="{'fa fa-refresh fa-lg fa-spin': job.isRunning,
                                        'fa fa-check fa-lg text-success': !job.isRunning && job.successful,
                                        'fa fa-exclamation-circle fa-lg text-danger': !job.isRunning && !job.successful}">
                  </i>
                </div>
                <div class="notification-body">
                  <h6>{{job.name}}</h6>
                  <div class="notification-info">
                    <div ng-repeat="displayDatum in job.details.displayData">
                      {{displayDatum}}
                    </div>
                  </div>
                  <div ng-if="job.showData">
                    <div class="notification-info notification-alert alert"
                         ng-class="{'alert-success': job.successful, 'alert-info': !job.successful}"
                         ng-if="job.data && job.data.length">
                      <div ng-if="job.data.length === 1">
                        {{job.data[0]}}
                      </div>
                      <ul ng-if="job.data.length !== 1">
                        <li ng-repeat="jobDatum in job.data">
                          {{jobDatum}}
                        </li>
                      </ul>
                    </div>
                    <div class="notification-info notification-alert alert"
                         ng-class="{'alert-warning': job.successful, 'alert-danger': !job.successful}"
                         ng-if="job.errors && job.errors.length">
                      <div ng-if="job.errors.length === 1">
                        {{job.errors[0]}}
                      </div>
                      <ul ng-if="job.errors.length !== 1">
                        <li ng-repeat="jobError in job.errors">
                          {{jobError}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <button type="button" class="btn btn-default btn-xs notification-info"
                          ng-if="(job.data && job.data.length) || (job.errors && job.errors.length)"
                          ng-click="job.showData = !job.showData">
                    <i class="fa fa-chevron-down" ng-if="!job.showData"></i>
                    <i class="fa fa-chevron-up" ng-if="job.showData"></i>
                  </button>
                </div>
                <div class="notification-close" ng-if="!job.isRunning">
                  <button type="button" class="btn btn-default btn-xs"
                          ng-click="mainCtrl.removeJob(job)">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </li>
            </div>
            <li role="separator" class="divider"
                ng-if="mainCtrl.currentDownloads.length && mainCtrl.currentJobs.length"></li>
            <li class="text-center" ng-if="mainCtrl.currentDownloads.length">
              <h5><i class="fa fa-download"></i> Downloads</h5>
            </li>
            <div ng-repeat="download in mainCtrl.currentDownloads">
              <li role="separator" class="divider"></li>
              <li>
                <div class="notification-icon">
                  <i ng-class="{'fa fa-refresh fa-lg fa-spin': download.isRunning,
                                        'fa fa-check fa-lg text-success': !download.isRunning && download.successful,
                                        'fa fa-exclamation-circle fa-lg text-danger': !download.isRunning && !download.successful}">
                  </i>
                </div>
                <div class="notification-body">
                  <h6>{{download.name}}</h6>
                  <div class="notification-info">
                    <div ng-repeat="displayDatum in download.details.displayData">
                      {{displayDatum}}
                    </div>
                  </div>
                  <div class="notification-info notification-alert alert"
                       ng-class="{'alert-warning': download.errorType === 'WARNING', 'alert-danger': download.errorType !=='WARNING'}"
                       ng-if="download.error && download.error.length">
                    <div ng-if="download.error.length > 1">
                      {{download.error}}
                    </div>
                  </div>
                  <a class="btn btn-default btn-xs notification-info"
                     download="{{download.fileName}}" target="_blank"
                     ng-href="{{download.csvUrl}}"
                     ng-if="!download.isRunning && download.successful">
                    <i class="fa fa-download"></i> Download
                  </a>
                </div>
                <div class="notification-close" ng-if="!download.isRunning">
                  <button type="button" class="btn btn-default btn-xs"
                          ng-click="mainCtrl.removeDownload(download)">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="mainContent">
  <div id="mainUi" ui-view></div>

  <footer id="footer">
    <div class="container">
      <hr/>
      <p>&copy; {{::mainCtrl.year}} Pearson. All rights reserved.<a ng-click="mainCtrl.showReleaseModal()"
                                                                    class="version-right" href="">Version
        {{::mainCtrl.appVersion}}</a></p>
    </div>
  </footer>
</div>
