<form class="form-horizontal" name="dbForm" ng-submit="dbConnectionCtrl.save(dbForm.$valid)" novalidate>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="dbConnectionCtrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="dbConnectionModal">Database Connection Detail</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" role="alert"
         ng-class="dbConnectionCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
         ng-if="dbConnectionCtrl.alertMessage">{{dbConnectionCtrl.alertMessage}}
    </div>
    <div class="form-group"
         ng-class="{'has-error': dbForm.hostName.$invalid &&
                            (dbForm.hostName.$touched || dbForm.$submitted)}">
      <label for="hostName" class="col-sm-3 control-label">Host </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="hostName" name="hostName" ng-pattern="/^([^\(^ \)])*$/"
               ng-model="dbConnectionCtrl.dbConnection.host" placeholder="Database Host Name" required>
      </div>
      <div class="col-sm-9 col-sm-offset-3" ng-show="dbForm.hostName.$touched || dbForm.$submitted">
        <div class="help-block" ng-show="dbForm.hostName.$error.required">Please enter database host name.</div>
        <div class="help-block" ng-show="dbForm.hostName.$error.pattern">Host field cannot contain spaces or parentheses.</div>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': dbForm.databaseName.$invalid &&
                            (dbForm.databaseName.$touched || dbForm.$submitted)}">
      <label for="databaseName" class="col-sm-3 control-label"> Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="databaseName" name="databaseName" ng-pattern="/^[0-9a-zA-Z$_]*$/"
               ng-model="dbConnectionCtrl.dbConnection.dbName" placeholder="Database Name" required>
      </div>
      <div class="col-sm-9 col-sm-offset-3" ng-show="dbForm.databaseName.$touched || dbForm.$submitted">
        <div class="help-block" ng-show="dbForm.databaseName.$error.required">Please enter database name.</div>
        <div class="help-block" ng-show="dbForm.databaseName.$error.pattern">Name field can only contain letters, numbers, $ and _ symbols.</div>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': dbForm.dbUser.$invalid &&
                            (dbForm.dbUser.$touched || dbForm.$submitted)}">
      <label for="dbUser" class="col-sm-3 control-label">User</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="dbUser" name="dbUser"
               ng-model="dbConnectionCtrl.dbConnection.dbUser" placeholder="Database User Name" required>
      </div>
      <div class="col-sm-9 col-sm-offset-3" ng-show="dbForm.dbUser.$touched || dbForm.$submitted">
        <div class="help-block" ng-show="dbForm.dbUser.$error.required">Please enter database user name.</div>
      </div>
    </div>
    <div class="form-group has-feedback"
         ng-class="{'has-error': dbForm.dbPassword.$invalid &&
                            (dbForm.dbPassword.$touched || dbForm.$submitted)}">
      <label for="dbPassword" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-9">
        <div class="input-group">
          <!-- To stop password auto fill by browser, added readOnly property and to make this field as text entry added read-only-no-color class  -->
          <input type="{{dbConnectionCtrl.inputType}}" class="form-control read-only-no-color" id="dbPassword"
                 readonly onfocus="this.removeAttribute('readonly');" name="dbPassword"
                 ng-model="dbConnectionCtrl.dbConnection.dbPass" placeholder="Database Password" required>
          <span id="spnPassword" class="add-on input-group-addon" style="cursor: pointer;"
                ng-click="dbConnectionCtrl.hideShowPassword()">
                        <i class="glyphicon glyphicon-eye-close"
                           ng-if="dbConnectionCtrl.inputType == 'password'"></i> <i
            class="glyphicon glyphicon-eye-open" ng-if="dbConnectionCtrl.inputType == 'text'"></i>
                    </span>
        </div>
      </div>
      <div class="col-sm-9 col-sm-offset-3" ng-show="dbForm.dbPassword.$touched || dbForm.$submitted">
        <div class="help-block" ng-show="dbForm.dbPassword.$error.required">Please enter database user password.
        </div>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': dbForm.portNumber.$invalid &&
                            (dbForm.portNumber.$touched || dbForm.$submitted)}">
      <label for="portNumber" class="col-sm-3 control-label">Port Number</label>
      <div class="col-sm-9">
        <input type="number" pattern="\d*" class="form-control" id="portNumber" name="portNumber"
               ng-model="dbConnectionCtrl.dbConnection.port" placeholder="Database Port Number" required>
      </div>
      <div class="col-sm-9 col-sm-offset-3" ng-show="dbForm.portNumber.$touched || dbForm.$submitted">
        <div class="help-block" ng-show="dbForm.portNumber.$error.required">Please enter database port number.</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dbConnectionCtrl.close()">Close</button>
    <button type="submit" class="btn btn-primary" ng-hide="dbConnectionCtrl.hideButton"
            ng-if="!dbConnectionCtrl.tempDbConnection">Save
    </button>
    <button type="button" class="btn btn-primary" ng-hide="dbConnectionCtrl.hideButton"
            ng-if="dbConnectionCtrl.tempDbConnection" ng-click="dbConnectionCtrl.update(dbForm.$valid)">Update
    </button>
  </div>
</form>

