<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>
    <li qm-loading-breadcrumb="!ssResultCtrl.environmentName"><a
      ui-sref="divJobs({environmentId: ssResultCtrl.environmentId})">
      {{::ssResultCtrl.environmentName}}</a></li>

    <li ng-if="ssResultCtrl.batteryStudentScenarioId">
      <a
        ui-sref="divJobs.batteryStudentScenarios({
                    environmentId:ssResultCtrl.environmentId,
                    divJobExecId:ssResultCtrl.divJobExecId
                    })">
        DIV Job {{::ssResultCtrl.divJobExecId}}
      </a>
    </li>
    <li ng-if="ssResultCtrl.batteryStudentScenarioId">
      <a ng-if="ssResultCtrl.batteryStudentScenarioId"
         ui-sref="divJobs.batteryStudentScenarios.batteryUnits({
               environmentId:ssResultCtrl.environmentId,
               divJobExecId: ssResultCtrl.divJobExecId,
               batteryStudentScenarioId: ssResultCtrl.batteryStudentScenarioId
               })">
        Battery {{::ssResultCtrl.batteryStudentScenarioId}}</a>
    </li>

    <li ng-if="!ssResultCtrl.batteryStudentScenarioId"><a
      ui-sref="divJobs.studentScenarios({
                environmentId:ssResultCtrl.environmentId,
                divJobExecId: ssResultCtrl.divJobExecId
                })">
      DIV Job {{::ssResultCtrl.divJobExecId}} </a></li>
    <li>Student Scenario
      {{::ssResultCtrl.studentScenarioId}}
    </li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <h1>Student Scenario Result (Student Scenario
        {{::ssResultCtrl.studentScenarioId}})</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <strong>UUID:</strong>
      {{(ssResultCtrl.studentScenarioResult|filter:query)[0].studentScenario.uuid}}
    </div>
    <div class="col-sm-12">
      <strong>Student Code:</strong>
      {{(ssResultCtrl.studentScenarioResult|filter:query)[0].studentScenario.studentCode}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-sm-12">
      <strong>TestNav Scenario:</strong>
      {{(ssResultCtrl.studentScenarioResult|filter:query)[0].studentScenario.testnavScenario.scenarioName}}
      <button class="btn btn-default btn-xs"
              ng-click="ssResultCtrl.showScenario(
                    ssResultCtrl.environmentId,
                    ssResultCtrl.divJobExecId,
                    ssResultCtrl.studentScenarioId, false
                    )">
        <i class="fa fa-eye"></i>
      </button>
    </div>
    <div class="col-sm-12"
         ng-if="(ssResultCtrl.studentScenarioResult|filter:query)[0].studentScenario.epenScenario.scenarioName.length">
      <strong>ePEN Scenario:</strong>
      {{(ssResultCtrl.studentScenarioResult|filter:query)[0].studentScenario.epenScenario.scenarioName}}
      <button class="btn btn-default btn-xs"
              ng-click="ssResultCtrl.showScenario(
                    ssResultCtrl.environmentId,
                    ssResultCtrl.divJobExecId,
                    ssResultCtrl.studentScenarioId,
                    true)">
        <i class="fa fa-eye"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="ssResultCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="ssResultCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close"
                ng-click="ssResultCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ssResultCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group form-group-sm col-xs-10">
      <button class="btn btn-default" type="button"
              ng-click="ssResultCtrl.resumeDivJob()"
              ng-disabled="!ssResultCtrl.divJobResumable"
              ng-if="ssResultCtrl.allowDivJobResume">Resume/Rerun Current DIV Job
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>State Name</th>
          <th>TimeStamp</th>
          <th>Details</th>
          <th>Comments</th>
          <th>Last Status</th>
          <th># of previous executions</th>
        </tr>
        </thead>
        <tbody qm-loading="ssResultCtrl.loadingResult">
        <tr ng-hide="ssResultCtrl.studentScenarioResult.length">
          <td colspan="6" class="text-center"
              ng-if="!ssResultCtrl.scenarioResultInitialized">&nbsp;
          </td>
          <td colspan="6" class="text-center"
              ng-if="ssResultCtrl.scenarioResultInitialized">No results
            found.
          </td>
        </tr>
        <tr ng-repeat="result in ssResultCtrl.studentScenarioResult">
          <td>{{result.state.stateName}}&nbsp;&nbsp;<i
            class="fa fa-question-circle default-cursor dotted-underline"
            uib-popover="{{result.state.stateDescription}}"
            popover-trigger="mouseenter"></i></td>
          <td>{{result.timestamp | amDateFormat:
            ssResultCtrl.dateTimeFormat}}
          </td>

          <td class="text-center">
            <button
              ng-disabled="result.lastStatus =='In Progress' || !result.resultDetails.length"
              class="btn btn-default btn-xs"
              ng-click="ssResultCtrl.showDetails(result.resultDetails)"
              type="button">
              <i class="fa fa-eye"></i>
            </button>
          </td>

          <td class="text-center">
            <button class="btn btn-default btn-xs"
                    ng-disabled="!(result.lastStatus==='Failed')"
                    ng-click="ssResultCtrl.showCommentDetailModal(result.studentScenarioResultId, result.studentScenarioResultComments)"
                    type="button">
              <i class="fa fa-plus"></i>
            </button>
            &nbsp;&nbsp;
            <a
              ng-if="ssResultCtrl.batteryStudentScenarioId && result.studentScenarioResultComments != null"
              ui-sref="batteryComments({
                                        environmentId: ssResultCtrl.environmentId,
                                        divJobExecId: ssResultCtrl.divJobExecId,
                                        batteryStudentScenarioId:ssResultCtrl.batteryStudentScenarioId,
                                        studentScenarioId: ssResultCtrl.studentScenarioId,
                                        stateId: result.stateId,
                                        studentScenarioResultId: result.studentScenarioResultId,
                                        studentScenarioResultVersion: result.version
									})">
              <span
                ng-if="!(result.studentScenarioResultComments == null || result.studentScenarioResultComments == 0)">{{result.studentScenarioResultComments.length}}</span>
            </a>
            <a
              ng-if="!ssResultCtrl.batteryStudentScenarioId && result.studentScenarioResultComments != null"
              ui-sref="comments({
                                        environmentId: ssResultCtrl.environmentId,
                                        divJobExecId: ssResultCtrl.divJobExecId,
                                        studentScenarioId: ssResultCtrl.studentScenarioId,
                                        stateId: result.stateId,
                                        studentScenarioResultId: result.studentScenarioResultId,
                                        studentScenarioResultVersion: result.version
									})">
              <span
                ng-if="!(result.studentScenarioResultComments == null || result.studentScenarioResultComments == 0)">{{result.studentScenarioResultComments.length}}</span>
            </a>

            <span
              ng-if="result.studentScenarioResultComments == null || result.studentScenarioResultComments == 0">0</span>
          </td>

          <td><span class="label"
                    ng-class="{
								'label-info': result.lastStatus =='N/A',
								'label-default': result.lastStatus ==='Not Started',
								'label-warning': result.lastStatus === 'In Progress',
								'label-danger': result.lastStatus === 'Failed',
								'label-success': result.lastStatus === 'Completed',
								'label-success': result.lastStatus.indexOf('Completed') === 0}">
								{{result.lastStatus}} </span></td>

          <td>
            <a ng-if="ssResultCtrl.batteryStudentScenarioId &&
                                (result.version > 1 ||  result.lastStatus === 'In Progress')"
               ui-sref="divJobs.batteryStudentScenarios.batteryUnits.studentScenarioResult.states({
                                        environmentId: ssResultCtrl.environmentId,
                                        divJobExecId: ssResultCtrl.divJobExecId,
                                        batteryStudentScenarioId: ssResultCtrl.batteryStudentScenarioId,
                                        studentScenarioId: ssResultCtrl.studentScenarioId,
                                        stateId: result.stateId
									})">
								<span ng-if="result.lastStatus === 'In Progress'">
									{{result.version}}</span> <span
              ng-if="result.lastStatus !== 'In Progress'">{{result.version-1}}</span>
            </a>
            <a ng-if="!ssResultCtrl.batteryStudentScenarioId &&
                                (result.version > 1 ||  result.lastStatus === 'In Progress')"
               ui-sref="divJobs.studentScenarios.studentScenarioResult.states({
                                        environmentId: ssResultCtrl.environmentId,
                                        divJobExecId: ssResultCtrl.divJobExecId,
                                        studentScenarioId: result.studentScenarioId,
                                        stateId: result.stateId
									})">
								<span ng-if="result.lastStatus === 'In Progress'">
									{{result.version}}</span> <span
              ng-if="result.lastStatus !== 'In Progress'">{{result.version-1}}</span>
            </a>
            <span
              ng-if="result.version === 1 && result.lastStatus !== 'In Progress'">
								{{result.version-1}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
