<div class="container ng-scope">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>
    <li><a
      ui-sref="divJobs({environmentId:tcsCtrl.environment.environmentId})">
      {{tcsCtrl.environment.name}}</a></li>
    <li>Test Code Selection</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="tcsCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="tcsCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close"
                ng-click="tcsCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{tcsCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h1>Data Integrity Validation Job Setup - Step 1/4</h1>
      <form name="testCodeSelectionForm" ng-submit="tcsCtrl.submit(testCodeSelectionForm.$valid)" novalidate>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group form-group-sm">
              <label for="testType">Test Type*</label>
              <div class="input-group">
                <select id="testType" name="testType" class="form-control" ng-model="tcsCtrl.testType"
                        ng-change="tcsCtrl.clearScopeTreePathAndTestCodeSelection()"
                        ng-options="testType for testType in tcsCtrl.testTypes track by testType" required>
                  <option value="">Select a test type from the list</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-sm-6">Path States*</label>
            <label class="col-sm-12" ng-repeat="state in tcsCtrl.states">
              <input type="checkbox"
                     checklist-model="tcsCtrl.selected"
                     checklist-value="state.key"
                     ng-disabled="state.key == 1"
                     ng-click="tcsCtrl.getCheckedBoxes(state.value)"/>
              {{state.value}}
            </label>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <label for="scopeTreePath">Scope Tree Path*</label>
          <div class="input-group"
               ng-class="{'has-error': testCodeSelectionForm.scopeTreePath.$invalid &&
                            (testCodeSelectionForm.scopeTreePath.$touched || testCodeSelectionForm.$submitted)}">
            <select qm-loading="tcsCtrl.loadingScopeTreePaths" ng-disabled="!tcsCtrl.testType"
                    id="scopeTreePath" name="scopeTreePath" class="form-control"
                    ng-model="tcsCtrl.selectedScopeTreePath"
                    ng-change="tcsCtrl.getTestCodes()"
                    ng-options="scopeTreePath for scopeTreePath in tcsCtrl.scopeTreePaths track by scopeTreePath"
                    required>
              <option value="">Select a scope tree path from the list</option>
            </select>
            <div ng-show="testCodeSelectionForm.scopeTreePath.$touched || testCodeSelectionForm.$submitted">
              <div class="help-block" ng-show="testCodeSelectionForm.scopeTreePath.$error.required">Please
                select a scope tree path from the list.
              </div>
            </div>
          </div>
        </div>
        <div class="row" qm-loading="tcsCtrl.testCodeLoading && tcsCtrl.selectedScopeTreePath">
          <qm-pick-list collection-name="Test Codes" ng-disabled="!tcsCtrl.selectedScopeTreePath"
                        available-items="tcsCtrl.testDetails" display-attribute="testCode"
                        picked-items="tcsCtrl.selectedTestCodes"/>
        </div>
        <div class="form-group form-group-sm text-right">
          <input type="submit" class="btn btn-default" value="Next" ng-disabled="tcsCtrl.submitted"/>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <h1>Important</h1>
      <div class="well well-sm">
        <p>
        <ul>
          <li>The most recent KT test case manifest was loaded on: <b>{{tcsCtrl.lastKtTestCaseDownloadTime}}</b></li>
          <li>If the scope tree path for a specific admin is missing, please make sure that:</li>
          <ul>
            <li>At least one <i><b>started</b></i>, <i><b>unlocked</b></i> test session is available for this admin.
            </li>
            <li>At least one student in this test session is in <i><b>Ready</b></i> status.</li>
            <li>The current day/time falls in the configured delivery schedule.</li>
          </ul>
        </ul>
        </p>
      </div>

      <h1>What's This?</h1>
      <div class="well well-lg">
        <p>
          A DIV job allows a user to:
        <ul>
          <li>introduce test attempt data into TestNav using one or more test scenarios.</li>
          <li>do integration validations across systems involved in the lifecycle of a test attempt.
          </li>
          <li>perform automated scoring of open ended items, if present.</li>
          <li>track failures that could occur due to:
            <ul>
              <li>testmap issues</li>
              <li>integration, config or outage issues</li>
              <li>scoring issues</li>
            </ul>
        </ul>
        </p>
        <p>
          To begin, select the test type, scope tree path, test code(s) and adjust the path states as desired. After the
          DIV job is submitted,
          you will receive an email notification once the job is complete.
        </p>
      </div>
    </div>
  </div>
</div>
