<div class="container center-contents-vertically">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
      <form name="loginForm"
            ng-submit="loginCtrl.login(loginCtrl.networkId, loginCtrl.password, loginForm.$valid)"
            novalidate>
        <div class="panel panel-default">
          <div class="panel-heading">Sign in to Quality Monitoring</div>
          <div class="panel-body">
            <div class="alert alert-danger" role="alert"
                 ng-show="loginCtrl.message">{{loginCtrl.message}}
            </div>

            <div class="form-group"
                 ng-class="{'has-error': loginForm.networkId.$invalid && (loginForm.networkId.$touched || loginForm.$submitted)}">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control" id="networkId"
                       name="networkId" placeholder="Network Id" autofocus required
                       ng-model="loginCtrl.networkId"/>
              </div>
              <div
                ng-show="loginForm.networkId.$touched || loginForm.$submitted">
                <div class="help-block"
                     ng-show="loginForm.networkId.$error.required">Network Id
                  is required.
                </div>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': loginForm.password.$invalid && (loginForm.password.$touched || loginForm.$submitted)}">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-lock"></i>
                </div>
                <input type="password" class="form-control" id="password"
                       name="password" placeholder="Password" required
                       ng-model="loginCtrl.password"/>
              </div>
              <div
                ng-show="loginForm.password.$touched || loginForm.$submitted">
                <div class="help-block"
                     ng-show="loginForm.password.$error.required">Password is
                  required.
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer text-right">
            <button class="btn btn-primary" type="submit"
                    ng-disabled="loginCtrl.pendingLogin">
              <i class="fa fa-sun-o"
                 ng-class="{'fa-spin': loginCtrl.pendingLogin}"
                 ng-show="loginCtrl.pendingLogin"></i> Sign In
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
