<form name="issueReportForm" ng-submit="issueReportCtrl.submitReport(issueReportForm.$valid)" novalidate>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="issueReportCtrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="issueReportModalLabel">
      <i class="fa fa-exclamation-triangle"></i> Unfortunately, an error has occurred.
    </h4>
  </div>
  <div class="modal-body">
    <div ng-hide="issueReportCtrl.reportSubmitted">
      <p>
        If you would like to report this issue, please fill in the comment box below with details
        of what you were doing when the error occurred. You can also fill in your email address if
        you'd like to hear back.
      </p>
      <p>
        Your description will be sent to us, along with the technical details of the error. Sorry for
        the inconvenience, and thanks for your help!
      </p>

      <hr/>

      <div class="form-group" ng-class="{'has-error': issueReportForm.email.$invalid &&
                    (issueReportForm.email.$touched || issueReportForm.$submitted)}">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" autofocus
               ng-model="issueReportCtrl.email"/>
        <div ng-show="issueReportForm.email.$touched || issueReportForm.$submitted">
          <div class="help-block" ng-show="issueReportForm.email.$error.email">
            Please enter a valid email address.
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': issueReportForm.description.$invalid &&
                    (issueReportForm.description.$touched || issueReportForm.$submitted)}">
        <label for="description">What were you doing when this happened? (More details are better.)</label>
        <textarea class="form-control" id="description" name="description" required
                  ng-model="issueReportCtrl.description"></textarea>
        <div ng-show="issueReportForm.description.$touched || issueReportForm.$submitted">
          <div class="help-block" ng-show="issueReportForm.description.$error.required">
            Please enter a description of the conditions that caused this issue.
          </div>
        </div>
      </div>
    </div>
    <div ng-show="issueReportCtrl.reportSubmitted">
      <p>
        Thank you for your assistance! Your issue report has been submitted with the ID
        <b>{{::issueReportCtrl.errorId}}</b>.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="issueReportCtrl.close()">Close</button>
    <button type="submit" class="btn btn-primary" ng-hide="issueReportCtrl.reportSubmitted">Submit</button>
  </div>
</form>
