<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>

    <li qm-loading-breadcrumb="!stdScenarioCtrl.environmentName"><a
      ui-sref="divJobs({environmentId:stdScenarioCtrl.environmentId})">{{::stdScenarioCtrl.environmentName}}</a></li>


    <li ng-if="stdScenarioCtrl.batteryStudentScenarioId">
      <a
        ui-sref="divJobs.batteryStudentScenarios({environmentId:stdScenarioCtrl.environmentId,divJobExecId:stdScenarioCtrl.divJobExecId})">
        DIV Job {{::stdScenarioCtrl.divJobExecId}}
      </a>
    </li>
    <li ng-if="stdScenarioCtrl.batteryStudentScenarioId">Battery {{::stdScenarioCtrl
      .batteryStudentScenarioId}}
    </li>
    <li ng-if="!stdScenarioCtrl.batteryStudentScenarioId">DIV Job
      {{::stdScenarioCtrl.divJobExecId}}
    </li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="stdScenarioCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="stdScenarioCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close"
                ng-click="stdScenarioCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{stdScenarioCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>
        <span ng-if="stdScenarioCtrl.batteryStudentScenarioId"> Units (Battery {{::stdScenarioCtrl.batteryStudentScenarioId}})</span>
        <span ng-if="!stdScenarioCtrl.batteryStudentScenarioId">Student Scenarios (DIV	Job {{::stdScenarioCtrl.divJobExecId}})</span>
      </h1>
      <table st-table="stdScenarioCtrl.displayedStudentScenarios"
             st-safe-src="stdScenarioCtrl.studentScenarios"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="10">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control"
                          ng-model="stdScenarioCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in stdScenarioCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="studentScenarios"
                          qm-property="perPage"
                          qm-context="{{::stdScenarioCtrl.divJobExecId}}">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search"
                         class="form-control" qm-memory
                         qm-page-name="studentScenarios" qm-property="search"
                         qm-context="{{::stdScenarioCtrl.divJobExecId}}"
                         ng-model="stdScenarioCtrl.search"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group form-group-sm col-xs-10">
                <button class="btn btn-default" type="button"
                        ng-click="stdScenarioCtrl.resumeDivJob()"
                        ng-disabled="!stdScenarioCtrl.divJobResumable"
                        ng-if="stdScenarioCtrl.allowDivJobResume">Resume/Rerun Current DIV Job
                </button>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="studentScenarioId" st-sort-default="true">ID</th>
          <th st-sort="testCode">Test Code</th>
          <th st-sort="formCode">Form Code</th>
          <th st-sort="formCode">Test Session</th>
          <th st-sort="uuid">UUID</th>
          <th st-sort="studentCode">Student Code</th>
          <th st-sort="testnavScenario.scenarioName">TestNav Scenario</th>
          <th st-sort="epenScenario.scenarioName">ePEN Scenario</th>
          <th>Current State</th>
          <th>Status
            <div class="btn-group pull-right" uib-dropdown auto-close="outsideClick">
              <button type="button" class="btn btn-xs dropdown-toggle" uib-dropdown-toggle
                      ng-class="stdScenarioCtrl.statusFilter ? 'btn-primary' : 'btn-default'">
                <i class="fa fa-filter"></i>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li ng-repeat="menu in stdScenarioCtrl.statusFilterMenus">
                  <div class="checkbox dropdown-margin">
                    <label>
                      <input type="checkbox" ng-checked="stdScenarioCtrl.selectedFilter.indexOf(menu) >=0"
                             ng-click="stdScenarioCtrl.setStatusFilter(menu)">{{menu}}
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </th>
        </tr>
        </thead>
        <tbody qm-loading="stdScenarioCtrl.loadingDivJobs">
        <tr ng-hide="stdScenarioCtrl.displayedStudentScenarios.length">
          <td colspan="10" class="text-center"
              ng-if="!stdScenarioCtrl.divJobsInitialized">&nbsp;
          </td>
          <td colspan="10" class="text-center"
              ng-if="stdScenarioCtrl.divJobsInitialized">No results found.
          </td>
        </tr>
        <tr ng-repeat="result in stdScenarioCtrl.displayedStudentScenarios">

          <td>
            <a ng-if="!stdScenarioCtrl.batteryStudentScenarioId"
               ui-sref="divJobs.studentScenarios.studentScenarioResult({environmentId:stdScenarioCtrl.environmentId,divJobExecId: stdScenarioCtrl.divJobExecId,studentScenarioId: result.studentScenarioId})">
              {{result.studentScenarioId}} </a>
            <a ng-if="stdScenarioCtrl.batteryStudentScenarioId"
               ui-sref="divJobs.batteryStudentScenarios.batteryUnits.studentScenarioResult({environmentId:stdScenarioCtrl.environmentId,divJobExecId: stdScenarioCtrl.divJobExecId,batteryStudentScenarioId: stdScenarioCtrl.batteryStudentScenarioId,studentScenarioId:result.studentScenarioId})">
              {{result.studentScenarioId}} </a>
          </td>
          <td>{{result.testnavScenario.testCode}}</td>
          <td>{{result.testnavScenario.formCode}}</td>
          <td>{{result.testSession.sessionName}}</td>
          <td>{{result.uuid}}</td>
          <td>{{result.studentCode}}</td>
          <td>
            {{result.testnavScenario.scenarioName}}
            <button class="btn btn-default btn-xs"
                    ng-click="stdScenarioCtrl.showScenario(stdScenarioCtrl.environmentId, stdScenarioCtrl.divJobExecId, result.studentScenarioId, false)">
              <i class="fa fa-eye"></i>
            </button>
          </td>
          <td>
            {{result.epenScenario.scenarioName}}
            <button class="btn btn-default btn-xs"
                    ng-click="stdScenarioCtrl.showScenario(stdScenarioCtrl.environmentId, stdScenarioCtrl.divJobExecId, result.studentScenarioId, true)"
                    ng-if="result.epenScenario">
              <i class="fa fa-eye"></i>
            </button>
          </td>
          <td>{{result.currentState}}</td>
          <td><span class="label"
                    ng-class="{
                                'label-default': result.studentScenarioStatus.status=='Not Started',
                                'label-warning': result.studentScenarioStatus.status=='In Progress',
                                'label-danger': result.studentScenarioStatus.status=='Failed',
                                'label-success': result.studentScenarioStatus.status=='Completed',
                                'label-info': result.studentScenarioStatus.status=='Waiting',
                                'label-success': result.studentScenarioStatus.status.indexOf('Completed') === 0}">
								{{result.studentScenarioStatus.status}} </span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="10">
            <div st-pagination
                 st-items-by-page="stdScenarioCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

