<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li>QTI Validation (Previewers)</li>
  </ol>
  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron">
        Welcome to the QTI Validation app. Please choose a Previewer from the list.
      </div>
      <div class="alert alert-success" role="alert"
           ng-class="previewersCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="previewersCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close" ng-click="previewersCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{previewersCtrl.alertMessage}}
      </div>
      <h1 ng-if="previewersCtrl.respGenVersions.length > 0 && previewersCtrl.isAdmin">Response Generator Versions</h1>
      <div class="row" ng-if="previewersCtrl.respGenVersions.length > 0 && previewersCtrl.isAdmin">
        <div class="col-sm-6">
          <select class="form-control" ng-model="previewersCtrl.selectedRespGenVersion"
                  ng-options="respGenVersion for respGenVersion in previewersCtrl.respGenVersions"> </select>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-default" ng-click="previewersCtrl.downloadSelectedRespGenVersion()"
                  qm-loading="previewersCtrl.downloading">Install
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h1>Previewers</h1>
      <div qm-loading="previewersCtrl.loadingPreviewers">
        <table class="table table-bordered table-striped" ng-hide="previewersCtrl.loadingPreviewers">
          <thead>
          <tr>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="previewer in previewersCtrl.previewers | orderBy:'previewerUrl'">
            <td><a ui-sref="tenants({previewerId: previewer.previewerId, previewerName: previewer.url})">
              {{previewer.url}}
            </a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

