<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="jsonDetailsCtrl.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="jsonDetailsModalLabel">
    {{::jsonDetailsCtrl.title}}
    <i class="fa fa-spinner" ng-class="{'fa-spin': jsonDetailsCtrl.loadingJsonDetails}"
       ng-show="jsonDetailsCtrl.loadingJsonDetails"></i>
  </h4>
</div>
<div class="modal-body">
  <pre class="pre-scrollable" ng-hide="jsonDetailsCtrl.loadingJsonDetails">{{::jsonDetailsCtrl.json}}</pre>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="jsonDetailsCtrl.close()">Close</button>
  <button type="button" class="btn btn-default"
          clipboard text="jsonDetailsCtrl.json" on-copied="jsonDetailsCtrl.copySuccess()"
          on-error="jsonDetailsCtrl.copyError()"
          uib-tooltip="{{jsonDetailsCtrl.confirmationTooltipText}}" tooltip-placement="top"
          tooltip-trigger="none" tooltip-is-open="jsonDetailsCtrl.confirmationTooltipEnabled"
          ng-mouseleave="jsonDetailsCtrl.disableConfirmationTooltip()">
    Copy to Clipboard
  </button>
</div>
