<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="previewers"><i class="fa fa-home"></i></a></li>
    <li qm-loading-breadcrumb="!qtiScvTenantExecutionsCtrl.previewerName">
      <a ui-sref="tenants({
                        previewerId: qtiScvTenantExecutionsCtrl.previewerId,
                        previewerName: qtiScvTenantExecutionsCtrl.previewerName
                    })">
        {{::qtiScvTenantExecutionsCtrl.previewerName}}
      </a>
    </li>
    <li>
      <a ui-sref="qtiScvExecutions({
                                previewerId: qtiScvTenantExecutionsCtrl.previewerId,
                                previewerName: qtiScvTenantExecutionsCtrl.previewerName
                            })">
        Nightly Job History
      </a>
    </li>
    <li>Execution {{::qtiScvTenantExecutionsCtrl.qtiScvExecutionId}}</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <h1>QTI Score Consistency Validation - Execution Summary</h1>
      <table st-table="qtiScvTenantExecutionsCtrl.displayedQtiScvTenantExecutions"
             st-safe-src="qtiScvTenantExecutionsCtrl.qtiScvTenantExecutions"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="9">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="qtiScvTenantExecutionsCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in qtiScvTenantExecutionsCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="qtiScvTenantExecutions" qm-property="perPage"
                          qm-context="{{::qtiScvTenantExecutionsCtrl.qtiScvExecutionId}}">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control"
                         qm-memory qm-page-name="qtiScvTenantExecutions" qm-property="search"
                         qm-context="{{::qtiScvTenantExecutionsCtrl.qtiScvExecutionId}}"
                         ng-model="qtiScvTenantExecutions.search"/>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="previewerTenant.tenantId">Tenant ID</th>
          <th st-sort="previewerTenant.name">Tenant Name</th>
          <th st-sort="itemsValidated" class="text-center">Items Validated</th>
          <th st-sort="qtiScvTenantExecutionsCtrl.getTotalIssues" st-sort-default="reverse"
              class="text-center">
            Total Issues
          </th>
          <th st-sort="itemsWithFailedTcs" class="text-center">Items with Failed Test Cases</th>
          <th st-sort="itemExceptions" class="text-center">Item Exceptions</th>
          <th st-sort="itemsWithPendingTcs" class="text-center">Items with Pending Test Cases</th>
          <th st-sort="deactivatedItems" class="text-center">Deactivated Items</th>
          <th class="text-center">Validated Items Summary</th>
        </tr>
        </thead>
        <tbody qm-loading="qtiScvTenantExecutionsCtrl.loadingQtiScvTenantExecutions">
        <tr ng-hide="qtiScvTenantExecutionsCtrl.displayedQtiScvTenantExecutions.length">
          <td colspan="9" class="text-center"
              ng-if="!qtiScvTenantExecutionsCtrl.qtiScvTenantExecutionsInitialized">
            &nbsp;
          </td>
          <td colspan="9" class="text-center"
              ng-if="qtiScvTenantExecutionsCtrl.qtiScvTenantExecutionsInitialized">
            No results found.
          </td>
        </tr>
        <tr ng-repeat="qtiScvTenantExecution in qtiScvTenantExecutionsCtrl.displayedQtiScvTenantExecutions">
          <td>{{qtiScvTenantExecution.previewerTenant.tenantId}}</td>
          <td>{{qtiScvTenantExecution.previewerTenant.name}}</td>
          <td class="text-center">{{qtiScvTenantExecution.itemsValidated}}</td>
          <td class="text-center">
                            <span class="label"
                                  ng-class="qtiScvTenantExecutionsCtrl.getTotalIssues(qtiScvTenantExecution) ?
                                        'label-danger' : 'label-default'">
                                {{qtiScvTenantExecutionsCtrl.getTotalIssues(qtiScvTenantExecution)}}
                            </span>
          </td>
          <td class="text-center">
                            <span class="label" ng-class="qtiScvTenantExecution.itemsWithFailedTcs ?
                                    'label-danger' : 'label-default'">
                                {{qtiScvTenantExecution.itemsWithFailedTcs}}
                            </span>
          </td>
          <td class="text-center">
                            <span class="label" ng-class="qtiScvTenantExecution.itemExceptions ?
                                    'label-danger' : 'label-default'">
                                {{qtiScvTenantExecution.itemExceptions}}
                            </span>
            &nbsp;
            <button type="button" class="btn btn-default btn-xs"
                    ng-click="qtiScvTenantExecutionsCtrl.showItemExceptions(
                                        qtiScvTenantExecution.histTenantId,
                                        qtiScvTenantExecution.previewerTenant.tenantId)"
                    ng-if="qtiScvTenantExecution.itemExceptions">
              <i class="fa fa-eye"></i>
            </button>
          </td>
          <td class="text-center">{{qtiScvTenantExecution.itemsWithPendingTcs}}</td>
          <td class="text-center">{{qtiScvTenantExecution.deactivatedItems}}</td>
          <td class="text-center">
            <button type="button" class="btn btn-default btn-xs"
                    ng-disabled="!qtiScvTenantExecution.itemsValidated"
                    ui-sref="validatedItems({
                                        previewerId: qtiScvTenantExecutionsCtrl.previewerId,
                                        previewerName: qtiScvTenantExecutionsCtrl.previewerName,
                                        tenantId: qtiScvTenantExecution.previewerTenant.tenantId,
                                        tenantName: qtiScvTenantExecution.previewerTenant.name,
                                        qtiScvExecutionId: qtiScvTenantExecutionsCtrl.qtiScvExecutionId,
                                        qtiScvTenantExecutionId: qtiScvTenantExecution.histTenantId,
                                        fromDashboard: false
                                    })">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="9">
            <div st-pagination st-items-by-page="qtiScvTenantExecutionsCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

