<form class="form-horizontal" name="roleForm" ng-submit="roleCtrl.save(roleForm.$valid)" novalidate>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="roleCtrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="roleModal">Please enter role details</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" role="alert"
         ng-class="roleCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
         ng-if="roleCtrl.alertMessage">{{roleCtrl.alertMessage}}
    </div>

    <div class="form-group"
         ng-class="{'has-error': roleForm.roleName.$invalid &&
                            (roleForm.roleName.$touched || roleForm.$submitted)}">
      <div class="col-sm-12">
        <label for="roleName">Role Name</label>
        <input type="text" class="form-control" name="roleName" id="roleName" placeholder="Role Name"
               ng-model="roleCtrl.permissionSetting.name" required/>
        <div class="col-sm-12" ng-show="roleForm.roleName.$touched || roleForm.$submitted">
          <div class="help-block" ng-show="roleForm.roleName.$error.required">Please enter role
            name.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': roleForm.moduleName.$invalid &&
                            (roleForm.moduleName.$touched || roleForm.$submitted)}">
      <div class="col-sm-12">
        <label for="moduleName">Module Name</label>
        <select class="form-control" id="moduleName" name="moduleName"
                ng-model="roleCtrl.permissionSetting.applicationModule"
                ng-disabled="roleCtrl.permissionSetting.permissionSettingsId"
                ng-options="applicationModule.applicationModuleName for applicationModule in roleCtrl.applicationModules track by applicationModule.applicationModuleId"
                required>
          <option value="" selected>Select module name</option>
        </select>
        <div class="col-sm-12" ng-show="roleForm.moduleName.$touched || roleForm.$submitted">
          <div class="help-block" ng-show="roleForm.moduleName.$error.required">Please select module name from
            the list.
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button ng-if="!roleCtrl.alertMessage || !roleCtrl.alertSuccess" type="button" class="btn btn-default"
            ng-click="roleCtrl.close()">Cancel
    </button>
    <button ng-if="roleCtrl.alertSuccess" type="button" class="btn btn-default" ng-click="roleCtrl.displayRoles()">
      Close
    </button>
    <button ng-if="!roleCtrl.alertSuccess && !roleCtrl.permissionSetting.permissionSettingsId" type="submit"
            class="btn btn-primary">
      <i class="fa fa-sun-o"
         ng-class="{'fa-spin': roleCtrl.savingRole}"
         ng-show="roleCtrl.savingRole"></i>Save
      <span ng-if="roleCtrl.permissionSetting.permissionSettingsId">Update</span>
    </button>
  </div>
</form>
