<div class="row">
  <div class="pagination-count col-sm-4">
    <st-pagination-count></st-pagination-count>
  </div>
  <div class="pagination-controls col-sm-8">
    <nav ng-if="numPages && pages.length >= 2">
      <ul class="pagination">
        <li ng-class="{disabled: currentPage === 1}">
          <a ng-click="selectPage(1)"><i class="fa fa-angle-double-left"></i></a>
        </li>
        <li ng-class="{disabled: currentPage === 1}">
          <a ng-click="selectPage(currentPage - 1)"><i class="fa fa-angle-left"></i></a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active: page === currentPage}">
          <a ng-click="selectPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled: currentPage === numPages}">
          <a ng-click="selectPage(currentPage + 1)"><i class="fa fa-angle-right"></i></a>
        </li>
        <li ng-class="{disabled: currentPage === numPages}">
          <a ng-click="selectPage(numPages)"><i class="fa fa-angle-double-right"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
