<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="previewers">QTI Validation (Previewers)</a></li>
    <li qm-loading-breadcrumb="!testMapsCtrl.previewerName">
      <a ui-sref="tenants({previewerId: testMapsCtrl.previewerId, previewerName: testMapsCtrl.previewerName})">
        {{::testMapsCtrl.previewerName}}
      </a>
    </li>
    <li qm-loading-breadcrumb="!testMapsCtrl.tenantName">
      {{::testMapsCtrl.tenantName}} ({{::testMapsCtrl.tenantId}})
    </li>
    <li>Test Maps</li>
  </ol>
  <div class="row">
    <div class="col-sm-8">
      <h1>Test Maps</h1>
      <table st-table="testMapsCtrl.displayedTestMaps" st-safe-src="testMapsCtrl.testMaps"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="5">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="testMapsCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in testMapsCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="testMaps" qm-property="perPage"
                          qm-context="{{::testMapsCtrl.previewerId}}_{{::testMapsCtrl.tenantId}}">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control"
                         qm-memory qm-page-name="testMaps" qm-property="search"
                         qm-context="{{::testMapsCtrl.previewerId}}_{{::testMapsCtrl.tenantId}}"
                         ng-model="testMapsCtrl.search"/>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="text-center" ng-if="testMapsCtrl.showCheckboxes">
            <st-select-all collection="testMapsCtrl.displayedTestMaps"
                           any-selected="testMapsCtrl.testMapsAreSelected"/>
          </th>
          <th st-sort="id" st-sort-default="true">ID</th>
          <th st-sort="title">Title</th>
          <th st-sort="identifier">Test Number</th>
          <th st-sort="formId">Form Number</th>
        </tr>
        </thead>
        <tbody qm-loading="testMapsCtrl.loadingTestMaps">
        <tr ng-hide="testMapsCtrl.displayedTestMaps.length">
          <td colspan="5" class="text-center" ng-if="!testMapsCtrl.testMapsInitialized">&nbsp;</td>
          <td colspan="5" class="text-center" ng-if="testMapsCtrl.testMapsInitialized">No results found.</td>
        </tr>
        <tr ng-repeat="testMap in testMapsCtrl.displayedTestMaps">
          <td class="text-center" ng-if="testMapsCtrl.showCheckboxes">
            <input type="checkbox" ng-model="testMap.isSelected" ng-disabled="!testMap.isSelectable"/>
          </td>
          <td><a ui-sref="testMapItems({
                                            previewerId: testMapsCtrl.previewerId,
                                            previewerName: testMapsCtrl.previewerName,
                                            tenantId: testMapsCtrl.tenantId,
                                            tenantName: testMapsCtrl.name,
                                            identifier: testMap.id
                                        })">
            {{testMap.id}}</a></td>
          <td class="word-break">{{testMap.title}}</td>
          <td class="word-break">{{testMap.identifier}}</td>
          <td class="word-break">{{testMap.formId}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="5">
            <div st-pagination st-items-by-page="testMapsCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>

    <div class="col-sm-4">
      <div ng-if="testMapsCtrl.hasTestCaseCreatePermission || testMapsCtrl.hasTestCaseReadPermission">
        <h1>Add Test Cases</h1>
        <div class="sidebar-content">
          <p>
            <button class="btn btn-default btn-wrapped-text" type="button"
                    ng-if="testMapsCtrl.hasTestCaseCreatePermission"
                    ng-disabled="!testMapsCtrl.testMapsAreSelected"
                    ng-click="testMapsCtrl.showCreateTestCasesDialog()">
              <i class="fa fa-cogs"></i> Create Test Cases for Selected Test Maps
            </button>
            <a class="btn btn-default"
               ng-if="testMapsCtrl.hasTestCaseReadPermission"
               ui-sref="testCaseUploads({
                                        previewerId: testMapsCtrl.previewerId,
                                        previewerName: testMapsCtrl.previewerName,
                                        tenantId: testMapsCtrl.tenantId,
                                        tenantName: testMapsCtrl.tenantName,
                                        fromTestMapsPage: true
                                    })">
              <i class="fa fa-history"></i> Upload History
            </a>
          </p>
        </div>
      </div>

      <div ng-if="testMapsCtrl.hasTestCaseReadPermission">
        <h1>Download Test Cases</h1>
        <div class="sidebar-content">
          <p>
            <button class="btn btn-default" type="button"
                    ng-click="testMapsCtrl.startTestCaseDownload(true)"
                    ng-disabled="!testMapsCtrl.testMapsAreSelected">
              <i class="fa fa-download"></i> Item Response Pool
            </button>
            <button class="btn btn-default" type="button"
                    ng-click="testMapsCtrl.startTestCaseDownload(false)"
                    ng-disabled="!testMapsCtrl.testMapsAreSelected">
              <i class="fa fa-download"></i> Test Case Coverage
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
