<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="previewers">QTI Validation (Previewers)</a></li>
    <li qm-loading-breadcrumb="!itemsCtrl.previewerName">
      <a ui-sref="tenants({previewerId: itemsCtrl.previewerId, previewerName: itemsCtrl.previewerName})">
        {{::itemsCtrl.previewerName}}
      </a>
    </li>
    <li qm-loading-breadcrumb="!itemsCtrl.tenantName">
      {{::itemsCtrl.tenantName}} ({{::itemsCtrl.tenantId}})
    </li>
    <li>Items</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert" role="alert"
           ng-class="itemsCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="itemsCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close" ng-click="itemsCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{itemsCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h1>Items</h1>
      <table st-table="itemsCtrl.items" st-pipe="itemsCtrl.searchItems"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="8">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="itemsCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in itemsCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="items" qm-property="perPage"
                          qm-context="{{::itemsCtrl.previewerId}}_{{::itemsCtrl.tenantId}}">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-4">
                <label for="search">Search by Identifier</label>
                <div class="input-group">
                  <input st-search="identifier" id="search" type="search" class="form-control"
                         qm-memory qm-page-name="items" qm-property="search"
                         qm-context="{{::itemsCtrl.previewerId}}_{{::itemsCtrl.tenantId}}"
                         ng-model="itemsCtrl.search"/>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-4">
                <label for="search">Search by TestMap ID</label>
                <div class="input-group">
                  <input st-search class="form-control" ng-model="itemsCtrl.testMapId"/>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="text-center">
            <st-select-all collection="itemsCtrl.items" any-selected="itemsCtrl.itemsAreSelected"/>
          </th>
          <th st-sort="id" st-sort-default="true">ID</th>
          <th st-sort="identifier">Identifier</th>
          <th class="text-center">View in Previewer</th>
          <th class="text-center">
            Test Cases
            <div class="btn-group pull-right" uib-dropdown>
              <button type="button" class="btn btn-xs dropdown-toggle" uib-dropdown-toggle
                      ng-class="itemsCtrl.testCaseFilter ? 'btn-primary' : 'btn-default'">
                <i class="fa fa-filter"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="itemsCtrl.setTestCaseFilter(0)">
                  <i class="fa fa-check" ng-class="{ 'visually-hidden': itemsCtrl.testCaseFilter !== 0 }"></i>
                  No Filter
                </a></li>
                <li><a href="#" ng-click="itemsCtrl.setTestCaseFilter(1)">
                  <i class="fa fa-check" ng-class="{ 'visually-hidden': itemsCtrl.testCaseFilter !== 1 }"></i>
                  Has Testcases
                </a></li>
                <li><a href="#" ng-click="itemsCtrl.setTestCaseFilter(-1)">
                  <i class="fa fa-check" ng-class="{ 'visually-hidden': itemsCtrl.testCaseFilter !== -1 }"></i>
                  Has No Testcases
                </a></li>
              </ul>
            </div>
          </th>
          <th class="text-center">
            Fingerprint
            <div class="btn-group pull-right" uib-dropdown>
              <button type="button" class="btn btn-xs dropdown-toggle" uib-dropdown-toggle
                      ng-class="itemsCtrl.fingerprintFilter ? 'btn-primary' : 'btn-default'">
                <i class="fa fa-filter"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="itemsCtrl.setFingerprintFilter(0)">
                  <i class="fa fa-check" ng-class="{ 'visually-hidden': itemsCtrl.fingerprintFilter !== 0 }"></i>
                  No Filter
                </a></li>
                <li><a href="#" ng-click="itemsCtrl.setFingerprintFilter(1)">
                  <i class="fa fa-check" ng-class="{ 'visually-hidden': itemsCtrl.fingerprintFilter !== 1 }"></i>
                  Has Fingerprint
                </a></li>
                <li><a href="#" ng-click="itemsCtrl.setFingerprintFilter(-1)">
                  <i class="fa fa-check" ng-class="{ 'visually-hidden': itemsCtrl.fingerprintFilter !== -1 }"></i>
                  Has No Fingerprint
                </a></li>
              </ul>
            </div>
          </th>
          <th class="text-center">
          View Item XML
          </th>
        </tr>
        </thead>
        <tbody qm-loading="itemsCtrl.loadingItems">
        <tr ng-hide="itemsCtrl.items.length">
          <td colspan="6" class="text-center" ng-if="!itemsCtrl.itemsInitialized">&nbsp;</td>
          <td colspan="6" class="text-center" ng-if="itemsCtrl.itemsInitialized">No results found.</td>
        </tr>
        <tr ng-repeat="item in itemsCtrl.items">
          <td class="text-center"><input type="checkbox" ng-model="item.isSelected"/></td>
          <td>
                            <span ng-if="item.numTestCases && itemsCtrl.hasTestCaseReadPermission">
                                <a ui-sref="testCases({
                                            previewerId: itemsCtrl.previewerId,
                                            previewerName: itemsCtrl.previewerName,
                                            tenantId: itemsCtrl.tenantId,
                                            tenantName: itemsCtrl.tenantName,
                                            itemId: item.id,
                                            itemName: item.identifier
                                        })">
                                    {{item.id}}
                                </a>
                            </span>
            <span ng-if="!item.numTestCases || !itemsCtrl.hasTestCaseReadPermission">
                                {{item.id}}
                            </span>
          </td>
          <td>
                            <span ng-if="item.numTestCases && itemsCtrl.hasTestCaseReadPermission">
                                <a ui-sref="testCases({
                                            previewerId: itemsCtrl.previewerId,
                                            previewerName: itemsCtrl.previewerName,
                                            tenantId: itemsCtrl.tenantId,
                                            tenantName: itemsCtrl.tenantName,
                                            itemId: item.id,
                                            itemName: item.identifier
                                        })">
                                    {{item.identifier}}
                                </a>
                            </span>
            <span ng-if="!item.numTestCases || !itemsCtrl.hasTestCaseReadPermission">
                                {{item.identifier}}
                            </span>
          </td>
          <td class="text-center">
            <a class="btn btn-default btn-xs" target="_blank"
               ng-href="{{itemsCtrl.previewerProtocol}}{{itemsCtrl.previewerName}}/tenants/{{itemsCtrl.tenantId}}/items/{{item.id}}">
              <i class="fa fa-eye"></i>
            </a>
          </td>
          <td class="text-center">
                            <span class="label" ng-class="item.numTestCases ? 'label-info' : 'label-default'">
                                {{item.numTestCases}}
                            </span>
          </td>
          <td class="text-center">
                            <span class="label" ng-class="item.fingerprinted ? 'label-success' : 'label-warning'">
                                {{itemsCtrl.isFingerprinted(item)}}
                            </span>
          </td>
          <td class="text-center">
            <button
              class="btn btn-default btn-xs"
              ng-click="itemsCtrl.showItemXml(item)"
              type="button">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="8">
            <st-pagination st-items-by-page="itemsCtrl.itemsPerPage"></st-pagination>
            <div st-refresh="itemsCtrl.refreshTable"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-sm-4">
      <h1>Scoring Validation</h1>
      <div class="well well-lg">
        <p>
          Click on any item in the list to drill down and see the test cases and fingerprint for that item,
          and to run the scoring API for the item's test cases. Items with no test cases are not clickable.
        </p>
      </div>

      <!--
      <h1>Item Test Case Coverage</h1>
      <div class="sidebar-content">
      </div>
      -->
      <div ng-if="itemsCtrl.hasTestCaseCreatePermission || itemsCtrl.hasTestCaseReadPermission">
        <h1>Add Test Cases</h1>
        <div class="sidebar-content">
          <p>
            <qm-file-upload process-file="itemsCtrl.processTestCaseUpload(file)"
                            trigger-select="itemsCtrl.triggerSelect">
            </qm-file-upload>
            <button id="upload_button" class="btn btn-default" type="button"
                    ng-if="itemsCtrl.hasTestCaseCreatePermission"
                    ng-click="itemsCtrl.triggerSelect()">
              <i class="fa fa-upload"></i> Choose Test Case CSV File
            </button>
            <button class="btn btn-default" type="button"
                    ng-if="itemsCtrl.hasTestCaseCreatePermission"
                    ng-disabled="!itemsCtrl.itemsAreSelected"
                    ng-click="itemsCtrl.showCreateTestCasesDialog()">
              <i class="fa fa-cogs"></i> Create Test Cases for Selected Items
            </button>
            <a class="btn btn-default"
               ng-if="itemsCtrl.hasTestCaseReadPermission"
               ui-sref="testCaseUploads({
                                    previewerId: itemsCtrl.previewerId,
                                    previewerName: itemsCtrl.previewerName,
                                    tenantId: itemsCtrl.tenantId,
                                    tenantName: itemsCtrl.tenantName,
                                    fromTestMapsPage: false
                                })">
              <i class="fa fa-history"></i> Upload History
            </a>
          </p>
        </div>
      </div>
      <div ng-if="itemsCtrl.hasTestCaseReadPermission">
        <h1>Download Test Cases</h1>
        <div class="sidebar-content">
          <p>
            <button class="btn btn-default" type="button"
                    ng-click="itemsCtrl.startTestCaseDownload(true)"
                    ng-disabled="!itemsCtrl.itemsAreSelected">
              <i class="fa fa-download"></i> Item Response Pool
            </button>
            <button class="btn btn-default" type="button"
                    ng-click="itemsCtrl.startTestCaseDownload(false)"
                    ng-disabled="!itemsCtrl.itemsAreSelected">
              <i class="fa fa-download"></i> Test Case Coverage
            </button>
          </p>
        </div>
      </div>
      <div ng-if="itemsCtrl.hasTestCaseReadPermission">
        <h1>Mass Test Case Deletion</h1>
        <div class="sidebar-content">
          <p>
            <button class="btn btn-default" type="button"
                    ng-click="itemsCtrl.startTestIdentifiersDownload()">
              <i class="fa fa-download"></i> Download Item Identifiers
            </button>

            <qm-file-upload process-file="itemsCtrl.startTestIdentifiersUpload(file)"
                            trigger-select="itemsCtrl.deleteTriggerSelect">
            </qm-file-upload>
            <button id="upload_identifier_button" class="btn btn-default" type="button"
                    ng-if="itemsCtrl.hasTestCaseCreatePermission"
                    ng-click="itemsCtrl.deleteTriggerSelect()">
              <i class="fa fa-upload"></i> Upload CSV File for Deletion
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

