<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="environments"><i class="fa fa-home"></i></a></li>
    <li qm-loading-breadcrumb="!commentCtrl.environmentName"><a
      ui-sref="divJobs({environmentId: commentCtrl.environmentId})">{{::commentCtrl.environmentName}}</a></li>
    <li ng-if="commentCtrl.batteryStudentScenarioId">
      <a
        ui-sref="divJobs.batteryStudentScenarios({
                    environmentId:commentCtrl.environmentId,
                    divJobExecId:commentCtrl.divJobExecId
                    })">
        Batteries (Battery {{::commentCtrl.divJobExecId}})
      </a>
    </li>
    <li>
      <a ng-if="commentCtrl.batteryStudentScenarioId"
         ui-sref="divJobs.batteryStudentScenarios.batteryUnits({
               environmentId:commentCtrl.environmentId,
               divJobExecId: commentCtrl.divJobExecId,
               batteryStudentScenarioId: commentCtrl.batteryStudentScenarioId
               })">
        Units (Battery {{::commentCtrl.batteryStudentScenarioId}})</a>
      <a ng-if="!commentCtrl.batteryStudentScenarioId"
         ui-sref="divJobs.studentScenarios({
               environmentId: commentCtrl.environmentId,
               divJobExecId: commentCtrl.divJobExecId
               })">
        Student Scenarios (DIV Job {{::commentCtrl.divJobExecId}})
      </a>
    </li>
    <li>
      <a ng-if="commentCtrl.batteryStudentScenarioId"
         ui-sref="divJobs.batteryStudentScenarios.batteryUnits.studentScenarioResult({
			   environmentId: commentCtrl.environmentId,
			   divJobExecId: commentCtrl.divJobExecId,
			   batteryStudentScenarioId: commentCtrl.batteryStudentScenarioId,
			   studentScenarioId: commentCtrl.studentScenarioId
			   })">
        States (Student Scenario {{::commentCtrl.studentScenarioId}})
      </a>
      <a ng-if="!commentCtrl.batteryStudentScenarioId"
         ui-sref="divJobs.studentScenarios.studentScenarioResult({
			environmentId: commentCtrl.environmentId,
			divJobExecId: commentCtrl.divJobExecId,
			studentScenarioId: commentCtrl.studentScenarioId
			})">
        States (Student Scenario {{::commentCtrl.studentScenarioId}})
      </a>
    </li>
    <li>
      <a ng-if="commentCtrl.batteryStudentScenarioId"
         ui-sref="divJobs.batteryStudentScenarios.batteryUnits.studentScenarioResult.states({
			environmentId: commentCtrl.environmentId,
			divJobExecId: commentCtrl.divJobExecId,
			batteryStudentScenarioId: commentCtrl.batteryStudentScenarioId,
			studentScenarioId: commentCtrl.studentScenarioId,
			stateId: commentCtrl.stateId
			})">
        State History ({{::commentCtrl.comments[0].stateName}})
      </a>
      <a ng-if="!commentCtrl.batteryStudentScenarioId"
         ui-sref="divJobs.studentScenarios.studentScenarioResult.states({
			environmentId: commentCtrl.environmentId,
			divJobExecId: commentCtrl.divJobExecId,
			studentScenarioId: commentCtrl.studentScenarioId,
			stateId: commentCtrl.stateId
			})">
        State History ({{::commentCtrl.comments[0].stateName}})
      </a>
    </li>
    <li>Comments (v.{{::commentCtrl.studentScenarioResultVersion}})</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <h1>Comments ({{::commentCtrl.comments[0].stateName}} - Version
        {{::commentCtrl.studentScenarioResultVersion}})</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table st-table="commentCtrl.displayedComments"
             st-safe-src="commentCtrl.comments"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="9">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control"
                          ng-model="commentCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in commentCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="comments" qm-property="perPage"
                          qm-context="{{::commentCtrl.studentScenarioResultId}}">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search"
                         class="form-control" qm-memory qm-page-name="comments"
                         qm-property="search"
                         qm-context="{{::commentCtrl.studentScenarioResultId}}"
                         ng-model="commentCtrl.search"/>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="timeStamp" st-sort-default="true">TimeStamp</th>
          <th st-sort="studentScenarioResultCommentCategory.name">Category</th>
          <th st-sort="resultComment">Details</th>
          <th st-sort="user.fullname">User</th>
          <th st-sort="externalDefectRepository.name">External Defect
            Repository
          </th>
          <th st-sort="externalDefectId">External Defect ID</th>
        </tr>
        </thead>
        <tbody qm-loading="commentCtrl.loadingResult">
        <tr ng-repeat="comment in commentCtrl.displayedComments">
          <td>{{comment.timestamp | amDateFormat :
            commentCtrl.dateTimeFormat}}
          </td>
          <td>{{comment.studentScenarioResultCommentCategory.name}}</td>
          <td>
            <button class="btn btn-default btn-xs"
                    ng-click="commentCtrl.showCommentDetailModal(comment, $index)"
                    type="button">
              <i class="fa fa-eye"></i>
            </button>
            {{comment.resultComment | limitTo:30}}<span
            ng-hide="comment.resultComment.length <= 30">...</span>
          </td>
          <td>{{comment.user.fullname}}</td>
          <td>{{comment.externalDefectRepository.name}}</td>
          <td>{{comment.externalDefectId}} </span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="9">
            <div st-pagination st-items-by-page="commentCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
