<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>
    <li>Environment Setup</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="addEnvCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="addEnvCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close"
                ng-click="addEnvCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{addEnvCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Environment Setup</h1>
    </div>
  </div>
  <form class="form-horizontal" name="environmentForm" ng-submit="addEnvCtrl.save(environmentForm.$valid)" novalidate>
    <div class="form-group" ng-class="{'has-error': environmentForm.environmentName.$invalid &&
                            (environmentForm.environmentName.$touched || environmentForm.$submitted)}">
      <label for="environmentName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="environmentName" name="environmentName"
               ng-model="addEnvCtrl.environment.name"
               placeholder="Enter Environment Name" required>
      </div>
      <div class="col-sm-9 col-sm-offset-2"
           ng-show="environmentForm.environmentName.$touched || environmentForm.$submitted">
        <div class="help-block" ng-show="environmentForm.environmentName.$error.required">
          Please enter environment name.
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': environmentForm.feUrl.$invalid &&
                            (environmentForm.feUrl.$touched || environmentForm.$submitted)}">
      <label for="feUrl" class="col-sm-2 control-label">Front End URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="feUrl" name="feUrl" ng-model="addEnvCtrl.environment.feUrl"
               placeholder="Enter Front End URL"
               ng-pattern="/^https:\/\/[-a-zA-Z0-9.$_.,+!*'()?]{7,}/"
               required>
      </div>
      <div class="col-sm-9 col-sm-offset-2" ng-show="environmentForm.feUrl.$touched || environmentForm.$submitted">
        <div class="help-block" ng-show="environmentForm.feUrl.$error.required">Please enter front end URL.</div>
        <div class="help-block" ng-show="environmentForm.feUrl.$error.pattern">
          The Front End URL should start with the protocol (https://) followed by the domain name (min. 7 characters).
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': environmentForm.epen2Url.$invalid &&
                            (environmentForm.epen2Url.$touched || environmentForm.$submitted)}">
      <label for="epen2Url" class="col-sm-2 control-label">ePEN2
        URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="epen2Url" name="epen2Url" ng-model="addEnvCtrl.environment.epenUrl"
               placeholder="Enter ePEN2 URL" required>
      </div>
      <div class="col-sm-9 col-sm-offset-2" ng-show="environmentForm.epen2Url.$touched || environmentForm.$submitted">
        <div class="help-block" ng-show="environmentForm.epen2Url.$error.required">
          Please enter front end URL.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1>Database Details</h1>
      </div>
    </div>
    <div class="form-group">
      <div ng-class="{'has-error': environmentForm.feDatabase.$invalid &&
                            (environmentForm.feDatabase.$touched || environmentForm.$submitted)}">
        <label class="col-sm-2 control-label">Front End</label>
        <div class="col-sm-10">
          <div class="input-group ">
            <input type="text" class="form-control" name="feDatabase"
                   ng-model="addEnvCtrl.environment.feMysqlConnection.host"
                   uib-typeahead="dbConnection as dbConnection.host for dbConnection in addEnvCtrl.dbConnections | filter:{host:$viewValue}"
                   typeahead-show-hint="true" typeahead-min-length="0"
                   typeahead-on-select="addEnvCtrl.onSelect($item, 'feMysqlConnection')"
                   ng-blur="addEnvCtrl.validateDbConnection('feMysqlConnection')"
                   placeholder="Select Front End Database Host" required> <span
            class="input-group-btn">
						<button class="btn btn-default" type="button" name="update"
                    ng-disabled="!addEnvCtrl.environment.feMysqlConnection.dbConnectionId"
                    ng-click="addEnvCtrl.showDbConnectionModal(false,'feMysqlConnection',addEnvCtrl.environment.feMysqlConnection.dbConnectionId)">Update</button>
						<button class="btn btn-default" type="button" name="new" id="newFeDatabase"
                    ng-click="addEnvCtrl.showDbConnectionModal(true,'feMysqlConnection')">New</button>
					</span>
          </div>
          <div ng-show="environmentForm.feDatabase.$touched || environmentForm.$submitted">
            <div class="help-block" ng-show="environmentForm.feDatabase.$error.required">
              Please enter front end database host name.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div ng-class="{'has-error': environmentForm.beDatabase.$invalid &&
                            (environmentForm.beDatabase.$touched || environmentForm.$submitted)}">
        <label class="col-sm-2 control-label">Back End</label>
        <div class="col-sm-10">
          <div class="input-group ">
            <input type="text" class="form-control" name="beDatabase"
                   ng-model="addEnvCtrl.environment.beMysqlConnection.host"
                   uib-typeahead="dbConnection as dbConnection.host for dbConnection in addEnvCtrl.dbConnections | filter:{host:$viewValue}"
                   typeahead-show-hint="true" typeahead-min-length="0"
                   typeahead-on-select="addEnvCtrl.onSelect($item, 'beMysqlConnection')"
                   ng-blur="addEnvCtrl.validateDbConnection('beMysqlConnection')"
                   placeholder="Select Back End Database Host" required> <span
            class="input-group-btn">
						<button class="btn btn-default" type="button" name="update"
                    ng-disabled="!addEnvCtrl.environment.beMysqlConnection.dbConnectionId"
                    ng-click="addEnvCtrl.showDbConnectionModal(false,'beMysqlConnection',addEnvCtrl.environment.beMysqlConnection.dbConnectionId)">Update</button>
						<button class="btn btn-default" type="button" name="new" id="newBeDatabase"
                    ng-click="addEnvCtrl.showDbConnectionModal(true,'beMysqlConnection')">New</button>
					</span>
          </div>
          <div ng-show="environmentForm.beDatabase.$touched || environmentForm.$submitted">
            <div class="help-block" ng-show="environmentForm.beDatabase.$error.required">
              Please enter back end database host name.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div ng-class="{'has-error': environmentForm.irisDatabase.$invalid &&
                            (environmentForm.irisDatabase.$touched || environmentForm.$submitted)}">
        <label class="col-sm-2 control-label">IRIS</label>
        <div class="col-sm-10">
          <div class="input-group ">
            <input type="text" class="form-control" name="irisDatabase"
                   ng-model="addEnvCtrl.environment.irisMysqlConnection.host"
                   uib-typeahead="dbConnection as dbConnection.host for dbConnection in addEnvCtrl.dbConnections | filter:{host:$viewValue}"
                   typeahead-show-hint="true" typeahead-min-length="0"
                   typeahead-on-select="addEnvCtrl.onSelect($item, 'irisMysqlConnection')"
                   ng-blur="addEnvCtrl.validateDbConnection('irisMysqlConnection')"
                   placeholder="Select IRIS Database Host" required> <span
            class="input-group-btn">
						<button class="btn btn-default" type="button" name="update"
                    ng-disabled="!addEnvCtrl.environment.irisMysqlConnection.dbConnectionId"
                    ng-click="addEnvCtrl.showDbConnectionModal(false,'irisMysqlConnection',addEnvCtrl.environment.irisMysqlConnection.dbConnectionId)">Update</button>
						<button class="btn btn-default" type="button" name="new" id="newIrisDatabase"
                    ng-click="addEnvCtrl.showDbConnectionModal(true,'irisMysqlConnection')">New</button>
					</span>
          </div>
          <div ng-show="environmentForm.irisDatabase.$touched || environmentForm.$submitted">
            <div class="help-block" ng-show="environmentForm.irisDatabase.$error.required">
              Please enter IRIS database host name.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div ng-class="{'has-error': environmentForm.dataWareHouseMongoDatabase.$invalid &&
                            (environmentForm.dataWareHouseMongoDatabase.$touched || environmentForm.$submitted)}">
        <label class="col-sm-2 control-label">Data Warehouse</label>
        <div class="col-sm-10">
          <div class="input-group ">
            <input type="text" class="form-control" name="dataWareHouseMongoDatabase"
                   ng-model="addEnvCtrl.environment.dataWarehouseMongoConnection.host"
                   uib-typeahead="dbConnection as dbConnection.host for dbConnection in addEnvCtrl.dbConnections | filter:{host:$viewValue}"
                   typeahead-show-hint="true" typeahead-min-length="0"
                   typeahead-on-select="addEnvCtrl.onSelect($item, 'dataWarehouseMongoConnection')"
                   ng-blur="addEnvCtrl.validateDbConnection('dataWarehouseMongoConnection')"
                   placeholder="Select Data Warehouse Mongo Database Host" required> <span
            class="input-group-btn">
						<button class="btn btn-default" type="button" name="update"
                    ng-disabled="!addEnvCtrl.environment.dataWarehouseMongoConnection.dbConnectionId"
                    ng-click="addEnvCtrl.showDbConnectionModal(false,'dataWarehouseMongoConnection',addEnvCtrl.environment.dataWarehouseMongoConnection.dbConnectionId)">Update</button>
						<button class="btn btn-default" type="button" name="new" id="newDataWareHouseMongoDatabase"
                    ng-click="addEnvCtrl.showDbConnectionModal(true,'dataWarehouseMongoConnection')">New</button>
					</span>
          </div>
          <div ng-show="environmentForm.dataWareHouseMongoDatabase.$touched || environmentForm.$submitted">
            <div class="help-block" ng-show="environmentForm.dataWareHouseMongoDatabase.$error.required">
              Please enter data warehouse mongo host name.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group has-feedback">
      <div ng-class="{'has-error': environmentForm.epen2Database.$invalid &&
                            (environmentForm.epen2Database.$touched || environmentForm.$submitted)}">
        <label class="col-sm-2 control-label">ePen2</label>
        <div class="col-sm-10">
          <div class="input-group ">
            <input type="text" class="form-control" name="epen2Database"
                   ng-model="addEnvCtrl.environment.epen2MysqlConnection.host"
                   uib-typeahead="dbConnection as dbConnection.host for dbConnection in addEnvCtrl.dbConnections | filter:{host:$viewValue}"
                   typeahead-show-hint="true" typeahead-min-length="0"
                   typeahead-on-select="addEnvCtrl.onSelect($item, 'epen2MysqlConnection')"
                   ng-blur="addEnvCtrl.validateDbConnection('epen2MysqlConnection')"
                   placeholder="Select ePen2 Database Host" required> <span
            class="input-group-btn">
						<button class="btn btn-default" type="button" name="update"
                    ng-disabled="!addEnvCtrl.environment.epen2MysqlConnection.dbConnectionId"
                    ng-click="addEnvCtrl.showDbConnectionModal(false,'epen2MysqlConnection',addEnvCtrl.environment.epen2MysqlConnection.dbConnectionId)">Update</button>
						<button class="btn btn-default" type="button" name="new" id="newEpen2Database"
                    ng-click="addEnvCtrl.showDbConnectionModal(true,'epen2MysqlConnection')">New</button>
					</span>
          </div>
          <div ng-show="environmentForm.epen2Database.$touched || environmentForm.$submitted">
            <div class="help-block" ng-show="environmentForm.epen2Database.$error.required">
              Please enter ePen2 database host name.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group has-feedback">
      <div ng-class="{'has-error': environmentForm.epen2MongoDatabase.$invalid &&
                            (environmentForm.epen2MongoDatabase.$touched || environmentForm.$submitted)}">
        <label class="col-sm-2 control-label">ePEN2
          Mongo</label>
        <div class="col-sm-10">
          <div class="input-group ">
            <input type="text" class="form-control" name="epen2MongoDatabase"
                   ng-model="addEnvCtrl.environment.epen2MongoConnection.host"
                   uib-typeahead="dbConnection as dbConnection.host for dbConnection in addEnvCtrl.dbConnections | filter:{host:$viewValue}"
                   typeahead-show-hint="true" typeahead-min-length="0"
                   typeahead-on-select="addEnvCtrl.onSelect($item, 'epen2MongoConnection')"
                   ng-blur="addEnvCtrl.validateDbConnection('epen2MongoConnection')"
                   placeholder="Select ePEN2 mongo Database Host" required> <span
            class="input-group-btn">
						<button class="btn btn-default" type="button" name="update"
                    ng-disabled="!addEnvCtrl.environment.epen2MongoConnection.dbConnectionId"
                    ng-click="addEnvCtrl.showDbConnectionModal(false,'epen2MongoConnection',addEnvCtrl.environment.epen2MongoConnection.dbConnectionId)">Update</button>
						<button class="btn btn-default" type="button" name="new" id="newEpen2MongoDatabase"
                    ng-click="addEnvCtrl.showDbConnectionModal(true,'epen2MongoConnection')">New</button>
					</span>
          </div>
          <div ng-show="environmentForm.epen2MongoDatabase.$touched || environmentForm.$submitted">
            <div class="help-block" ng-show="environmentForm.epen2MongoDatabase.$error.required">
              Please enter ePEN2 mongo database host name.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="button" class="btn btn-default" ng-click="addEnvCtrl.cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-if="!addEnvCtrl.environment.environmentId">Save</button>
        <button type="button" class="btn btn-primary" ng-click="addEnvCtrl.update(environmentForm.$valid)"
                ng-if="addEnvCtrl.environment.environmentId">Update
        </button>
      </div>
    </div>
  </form>
</div>
