<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="previewers">QTI Validation (Previewers)</a></li>
    <li qm-loading-breadcrumb="!qtiScvExecutionsCtrl.previewerName">
      <a ui-sref="tenants({
                        previewerId: qtiScvExecutionsCtrl.previewerId,
                        previewerName: qtiScvExecutionsCtrl.previewerName
                    })">
        {{::qtiScvExecutionsCtrl.previewerName}}
      </a>
    </li>
    <li>Nightly Job History</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <h1>Nightly Job History</h1>
      <table st-table="qtiScvExecutionsCtrl.displayedQtiScvExecutions"
             st-safe-src="qtiScvExecutionsCtrl.qtiScvExecutions"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="5">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="qtiScvExecutionsCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in qtiScvExecutionsCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="qtiScvExecutions" qm-property="perPage"
                          qm-context="{{::qtiScvExecutionsCtrl.previewerId}}">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control"
                         qm-memory qm-page-name="qtiScvExecutions" qm-property="search"
                         qm-context="{{::qtiScvExecutionsCtrl.previewerId}}"
                         ng-model="qtiScvExecutionsCtrl.search"/>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="histExecId" st-sort-default="reverse">ID</th>
          <th st-sort="execStart">Execution Start Time</th>
          <th st-sort="execStop">Execution End Time</th>
          <th st-sort="qtiScvExecutionsCtrl.wasCompleted" class="text-center">Execution Completed</th>
          <th class="text-center">Execution Summary</th>
        </tr>
        </thead>
        <tbody qm-loading="qtiScvExecutionsCtrl.loadingQtiScvExecutions">
        <tr ng-hide="qtiScvExecutionsCtrl.displayedQtiScvExecutions.length">
          <td colspan="5" class="text-center" ng-if="!qtiScvExecutionsCtrl.qtiScvExecutionsInitialized">
            &nbsp;
          </td>
          <td colspan="5" class="text-center" ng-if="qtiScvExecutionsCtrl.qtiScvExecutionsInitialized">
            No results found.
          </td>
        </tr>
        <tr ng-repeat="qtiScvExecution in qtiScvExecutionsCtrl.displayedQtiScvExecutions">
          <td>{{qtiScvExecution.histExecId}}</td>
          <td>{{qtiScvExecution.execStart | amDateFormat: qtiScvExecutionsCtrl.dateTimeFormat}}</td>
          <td>{{qtiScvExecution.execStop | amDateFormat: qtiScvExecutionsCtrl.dateTimeFormat}}</td>
          <td class="text-center">
                            <span class="label"
                                  ng-class="qtiScvExecution.execCompleted ? 'label-success' : 'label-warning'">
                                {{qtiScvExecutionsCtrl.wasCompleted(qtiScvExecution)}}
                            </span>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-default btn-xs" ui-sref="qtiScvTenantExecutions({
                                    previewerId: qtiScvExecutionsCtrl.previewerId,
                                    previewerName: qtiScvExecutionsCtrl.previewerName,
                                    qtiScvExecutionId: qtiScvExecution.histExecId
                                })">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="5">
            <div st-pagination st-items-by-page="qtiScvExecutionsCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

