<form name="createTestCasesForm" ng-submit="createTestCasesCtrl.submit(createTestCasesForm.$valid)" novalidate>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="createTestCasesCtrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="createTestCasesModalLabel">
      Create Test Cases
    </h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" role="alert"
         ng-class="createTestCasesCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
         ng-if="createTestCasesCtrl.alertMessage">
      {{createTestCasesCtrl.alertMessage}}
    </div>
    <div ng-if="!createTestCasesCtrl.jobStarted">
      <div class="form-group" ng-class="{'has-error': createTestCasesForm.maxCorrect.$invalid &&
                            (createTestCasesForm.maxCorrect.$touched || createTestCasesForm.$submitted)}">
        <label for="maxCorrect">Max Correct Responses</label>
        <input type="number" class="form-control" id="maxCorrect" name="maxCorrect" autofocus
               ng-model="createTestCasesCtrl.maxCorrect" min="1" max="100" pattern="\d+" required/>
        <div ng-show="createTestCasesForm.maxCorrect.$touched || createTestCasesForm.$submitted">
          <div class="help-block" ng-show="createTestCasesForm.maxCorrect.$error.required">
            Max Correct Responses is required.
          </div>
          <div class="help-block" ng-show="createTestCasesForm.maxCorrect.$invalid &&
                            !createTestCasesForm.maxCorrect.$error.required">
            Max Correct Responses must be a whole number between 1 and 100.
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': createTestCasesForm.maxIncorrect.$invalid &&
                            (createTestCasesForm.maxIncorrect.$touched || createTestCasesForm.$submitted)}">
        <label for="maxIncorrect">Max Incorrect Responses</label>
        <input type="number" class="form-control" id="maxIncorrect" name="maxIncorrect"
               ng-model="createTestCasesCtrl.maxIncorrect" min="1" max="100" pattern="\d+" required/>
        <div ng-show="createTestCasesForm.maxIncorrect.$touched || createTestCasesForm.$submitted">
          <div class="help-block" ng-show="createTestCasesForm.maxIncorrect.$error.required">
            Max Incorrect Responses is required.
          </div>
          <div class="help-block" ng-show="createTestCasesForm.maxIncorrect.$invalid &&
                            !createTestCasesForm.maxIncorrect.$error.required">
            Max Incorrect Responses must be a whole number between 1 and 100.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="createTestCasesCtrl.close()">Close</button>
    <button type="submit" class="btn btn-primary" ng-disabled="createTestCasesCtrl.jobStarting"
            ng-hide="createTestCasesCtrl.jobStarted">
      <i class="fa fa-sun-o" ng-class="{'fa-spin': createTestCasesCtrl.jobStarting}"
         ng-show="createTestCasesCtrl.jobStarting">
      </i>
      Submit
    </button>
  </div>
</form>
