<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="viewStatsFailureCtrl.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="jsonDetailsModalLabel">{{::viewStatsFailureCtrl.title}}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <table st-table="viewStatsFailureCtrl.statsFailureReport"
             st-safe-src="viewStatsFailureCtrl.displayStatsFailureReport"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="9">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control"
                          ng-model="viewStatsFailureCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in viewStatsFailureCtrl.itemsPerPageOptions">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control"/>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="idValue" st-sort-default="reverse">Div Job ID</th>
          <th st-sort="batteryValue">Battery ID</th>
          <th st-sort="studentValue">Student Scenario ID</th>
          <th st-sort="formValue">Form Code</th>
          <th st-sort="uuidValue">Uuid</th>
          <th st-sort="misMatchedValue">Mismatched</th>
          <th st-sort="actualValue">Actual Value</th>
          <th st-sort="expectedValue">Expected Value</th>
          <th st-sort="resultValue">Result</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="12" class="text-center" ng-if="viewStatsFailureCtrl.alertMessage">
            {{viewStatsFailureCtrl.alertMessage}}
          </td>
        </tr>
        <tr ng-repeat="stat in viewStatsFailureCtrl.statsFailureReport">
          <td>{{stat.idValue}}</td>
          <td>{{stat.batteryValue}}</td>
          <td>{{stat.studentValue}}</td>
          <td>{{stat.formValue}}</td>
          <td>{{stat.uuidValue}}</td>
          <td>{{stat.misMatchedValue}}</td>
          <td>{{stat.actualValue}}</td>
          <td>{{stat.expectedValue}}</td>
          <td>{{stat.resultValue}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="10">
            <div st-pagination st-items-by-page="viewStatsFailureCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="viewStatsFailureCtrl.close()">Close</button>
</div>
