<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="tenantSubscriptionCtrl.close()"><span
      aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Tenant subscription confirmation</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" role="alert"
         ng-class="tenantSubscriptionCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
         ng-if="tenantSubscriptionCtrl.alertMessage">{{tenantSubscriptionCtrl.alertMessage}}
    </div>
    <p ng-if="!tenantSubscriptionCtrl.alertMessage">
      Are you sure you want to {{tenantSubscriptionCtrl.subscriptionType}}
      "{{tenantSubscriptionCtrl.tenant.name}}" (Tenant ID {{tenantSubscriptionCtrl.tenant.tenantId}})?
    </p>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-default" ng-click="tenantSubscriptionCtrl.close()"
            ng-if="!tenantSubscriptionCtrl.alertMessage">No
    </button>
    <button type="button" class="btn btn-primary"
            ng-disabled="tenantSubscriptionCtrl.loading"
            ng-click="tenantSubscriptionCtrl.manageSubscription(tenantSubscriptionCtrl.tenant)"
            ng-if="!tenantSubscriptionCtrl.alertMessage">
      <i class="fa fa-sun-o"
         ng-class="{'fa-spin': tenantSubscriptionCtrl.loading}"
         ng-show="tenantSubscriptionCtrl.loading"></i>Yes
    </button>
    <button type="button" class="btn btn-default" ng-click="tenantSubscriptionCtrl.close()"
            ng-if="tenantSubscriptionCtrl.alertMessage">Close
    </button>
  </div>
</div>
