<form class="form-horizontal" name="apiForm" ng-submit="apiConnectionCtrl.save(apiForm.$valid)" novalidate>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close"
            ng-click="apiConnectionCtrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="dbConnectionModal">API Connection Detail</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" role="alert"
         ng-class="apiConnectionCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
         ng-if="apiConnectionCtrl.alertMessage">
      {{apiConnectionCtrl.alertMessage}}
    </div>
    <div class="form-group" ng-class="{'has-error': apiForm.apiUrl.$invalid &&
                            (apiForm.apiUrl.$touched || apiForm.$submitted)}">
      <label for="apiUrl" class="col-sm-3 control-label">URL </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="apiUrl" name="apiUrl"
               ng-model="apiConnectionCtrl.apiConnection.apiUrl"
               placeholder="API URL" required>
      </div>
      <div class="col-sm-9 col-sm-offset-3" ng-show="apiForm.apiUrl.$touched || apiForm.$submitted">
        <div class="help-block" ng-show="apiForm.apiUrl.$error.required">
          Please enter API URL.
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': apiForm.token.$invalid &&
                            (apiForm.token.$touched || apiForm.$submitted)}">
      <label for="token" class="col-sm-3 control-label">Token</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="token" name="token"
               ng-model="apiConnectionCtrl.apiConnection.token"
               placeholder="API Token" required>
      </div>
      <div class="col-sm-9 col-sm-offset-3" ng-show="apiForm.token.$touched || apiForm.$submitted">
        <div class="help-block" ng-show="apiForm.token.$error.required">
          Please enter API Token.
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': apiForm.secret.$invalid &&
                            (apiForm.secret.$touched || apiForm.$submitted)}">
      <label for="secret" class="col-sm-3 control-label"> Secret</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input type="{{apiConnectionCtrl.inputType}}" class="form-control" id="secret"
                 name="secret" ng-model="apiConnectionCtrl.apiConnection.secret"
                 placeholder="API Secret" required>
          <span id="spnSecret" class="add-on input-group-addon"
                style="cursor: pointer;" ng-click="apiConnectionCtrl.hideShowSecret()">
								<i class="glyphicon glyphicon-eye-close" ng-if="apiConnectionCtrl.inputType == 'password'"></i>
								<i class="glyphicon glyphicon-eye-open" ng-if="apiConnectionCtrl.inputType == 'text'"></i>
							</span>
        </div>
      </div>
      <div class="col-sm-9 col-sm-offset-3" ng-show="apiForm.secret.$touched || apiForm.$submitted">
        <div class="help-block" ng-show="apiForm.secret.$error.required">
          Please enter API Secret.
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="apiConnectionCtrl.close()">Close</button>
    <button type="submit" class="btn btn-primary" ng-hide="apiConnectionCtrl.hideButton"
            ng-if="!apiConnectionCtrl.tempApiConnection">Save
    </button>
    <button type="button" class="btn btn-primary" ng-hide="apiConnectionCtrl.hideButton"
            ng-if="apiConnectionCtrl.tempApiConnection" ng-click="apiConnectionCtrl.update(apiForm.$valid)">Update
    </button>
  </div>
</form>

