<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="previewers">QTI Validation (Previewers)</a></li>
    <li qm-loading-breadcrumb="!testCasesCtrl.previewerName">
      <a ui-sref="tenants({previewerId: testCasesCtrl.previewerId, previewerName: testCasesCtrl.previewerName})">
        {{::testCasesCtrl.previewerName}}
      </a>
    </li>
    <li qm-loading-breadcrumb="!testCasesCtrl.tenantName">
      {{::testCasesCtrl.tenantName}} ({{::testCasesCtrl.tenantId}})
    </li>
    <li>
      <a ui-sref="items({
                        previewerId: testCasesCtrl.previewerId,
                        previewerName: testCasesCtrl.previewerName,
                        tenantId: testCasesCtrl.tenantId,
                        tenantName: testCasesCtrl.tenantName
                    })">
        Items
      </a>
    </li>
    <li qm-loading-breadcrumb="!testCasesCtrl.itemName">
      {{::testCasesCtrl.itemName}}
    </li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="testCasesCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="testCasesCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close" ng-click="testCasesCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{testCasesCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Test Cases</h1>
      <table st-table="testCasesCtrl.displayedTestCases" st-safe-src="testCasesCtrl.testCases"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="8">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="testCasesCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in testCasesCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="testCases" qm-property="perPage"
                          qm-context="{{::testCasesCtrl.previewerId}}_{{::testCasesCtrl.tenantId}}_{{::testCasesCtrl.itemId}}">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control"
                         qm-memory qm-page-name="testCases" qm-property="search"
                         qm-context="{{::testCasesCtrl.previewerId}}_{{::testCasesCtrl.tenantId}}_{{::testCasesCtrl.itemId}}"
                         ng-model="testCasesCtrl.search"/>
                </div>
              </div>
            </div>
            <div class="row" ng-show="testCasesCtrl.fingerprintAllowed || testCasesCtrl.deleteAllowed">
              <div class="form-group form-group-sm col-xs-12">
                <button class="btn btn-default" type="button"
                        ng-click="testCasesCtrl.updateFingerprint()"
                        ng-if="testCasesCtrl.fingerprintAllowed"
                        ng-disabled="!testCasesCtrl.testCasesAreSelected">
                  Fingerprint Selected Test Cases
                </button>
                <button class="btn btn-default" type="button"
                        ng-click="testCasesCtrl.deleteItemTestCases()"
                        ng-if="testCasesCtrl.deleteAllowed"
                        ng-disabled="!testCasesCtrl.testCasesAreSelected">
                  Delete Selected Test Cases
                </button>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="text-center" ng-if="testCasesCtrl.fingerprintAllowed || testCasesCtrl.deleteAllowed">
            <st-select-all collection="testCasesCtrl.displayedTestCases"
                           any-selected="testCasesCtrl.testCasesAreSelected"/>
          </th>
          <th st-sort="id" st-sort-default="true">ID</th>
          <th st-sort="testCasesCtrl.getPassFail">Pass/Fail</th>
          <th st-sort="testCasesCtrl.isFingerprinted" class="text-center">Fingerprinted</th>
          <th st-sort="testCasesCtrl.showMods">Mods</th>
          <th st-sort="testCasesCtrl.showScore" class="text-center">Score / Max Score</th>
          <th st-sort="testCasesCtrl.showOutcomes">Outcomes</th>
          <th>Play</th>
        </tr>
        </thead>
        <tbody qm-loading="testCasesCtrl.loadingTestCases">
        <tr ng-hide="testCasesCtrl.displayedTestCases.length">
          <td colspan="8" class="text-center" ng-if="!testCasesCtrl.testCasesInitialized">&nbsp;</td>
          <td colspan="8" class="text-center" ng-if="testCasesCtrl.testCasesInitialized">No results found.</td>
        </tr>
        <tr ng-repeat="testCase in testCasesCtrl.displayedTestCases">
          <td class="text-center" ng-if="testCasesCtrl.fingerprintAllowed || testCasesCtrl.deleteAllowed">
            <input type="checkbox" ng-model="testCase.isSelected"/>
          </td>
          <td>{{testCase.id}}</td>
          <td class="text-center">
                            <span class="label" ng-class="testCase.passed ? 'label-success' : 'label-danger'">
                                {{testCasesCtrl.getPassFail(testCase)}}
                            </span>
          </td>
          <td class="text-center">
                            <span class="label" ng-class="testCase.fingerprinted ? 'label-success' : 'label-warning'">
                                {{testCasesCtrl.isFingerprinted(testCase)}}
                            </span>
          </td>
          <td>
            <div ng-repeat="mod in testCasesCtrl.showMods(testCase)">
              {{mod}}
            </div>
          </td>
          <td class="text-center">{{testCasesCtrl.showScore(testCase)}}</td>
          <td>
            <div ng-repeat="outcome in testCasesCtrl.showOutcomes(testCase)">
              {{outcome}}
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-xs" ui-sref="playTestCases({
                                        previewerId: testCasesCtrl.previewerId,
                                        previewerName: testCasesCtrl.previewerName,
                                        tenantId: testCasesCtrl.tenantId,
                                        tenantName: testCasesCtrl.tenantName,
                                        itemId: testCasesCtrl.itemId,
                                        itemName: testCasesCtrl.itemName,
                                        testCaseId: testCase.id
                                    })">
              <i class="fa fa-play"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="8">
            <div st-pagination st-items-by-page="testCasesCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
