<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>
    <li qm-loading-breadcrumb="!divJobsCtrl.environmentName">{{::divJobsCtrl.environmentName}}</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="divJobsCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="divJobsCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close" ng-click="divJobsCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{divJobsCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Data Integrity Validation Jobs</h1>
      <table st-table="divJobsCtrl.displayedDivJobs" st-safe-src="divJobsCtrl.divJobs"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="9">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="divJobsCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in divJobsCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="divJobs" qm-property="perPage">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control" qm-memory
                         qm-page-name="divJobs" qm-property="search"
                         qm-context="{{::divJobsCtrl.environmentId}}" ng-model="search"/>
                </div>
              </div>
            </div>


            <div class="row" ng-if="divJobsCtrl.allowDivJobCreation || divJobsCtrl.allowDivJobResume">
              <div class="form-group form-group-sm col-xs-11">
                <a class="btn btn-default" ng-click="divJobsCtrl.goToDivJobSetup()"
                   ng-if="divJobsCtrl.allowDivJobCreation">New Job</a>

                <div class="btn-group" uib-dropdown>
                  <button id="withSelected" type="button" class="btn btn-primary"
                          ng-disabled="!divJobsCtrl.divJobsAreSelected" uib-dropdown-toggle>Actions for selected items <span
                    class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-if="divJobsCtrl.allowDivJobResume" ng-disabled="divJobsCtrl.resumingDivJobs"><a href="#"
                                                                                                           ng-click="divJobsCtrl.resumeDivJobs()">Resume/Rerun
                      Job</a>
                    </li>
                    <li><a href="#" ng-click="divJobsCtrl.exportFailedScenarios()">Export Failed Scenarios</a></li>
                    <li><a href="#" ng-click="divJobsCtrl.showStatsReport()">View Stats Failures</a></li>
                  </ul>
                </div>
              </div>

              <div class="btn-group" uib-dropdown>
                <button id="reports" type="button" class="btn btn-primary" uib-dropdown-toggle>
                  Reports <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                  <li><a href="#" ng-click="divJobsCtrl.goToDivJobForms()">Div Job Forms</a></li>
                  <li ng-if="divJobsCtrl.hasUsageStatisticsPermission"><a href="#"
                                                                          ng-click="divJobsCtrl.goToUsageStatistics()">Usage
                    Statistics</a></li>
                </ul>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="text-center" ng-if="divJobsCtrl.allowDivJobResume">
            <st-select-all
              collection="divJobsCtrl.displayedDivJobs"
              any-selected="divJobsCtrl.divJobsAreSelected"/>
          </th>
          <th st-sort="divJobExecId" st-sort-default="reverse">ID</th>
          <th st-sort="scopeTreePath">ScopeTreePath</th>
          <th st-sort="submitUser.fullname">Creator</th>
          <th st-sort="submitTimeStamp">Creation Date</th>
          <th st-sort="completeTimeStamp">Completion Date</th>
          <th st-sort="numStudentScenarios">Scenarios</th>
          <th>Scenarios by Status</th>
          <th st-sort="divJobExecStatus.status">Status
            <div class="btn-group pull-right" uib-dropdown auto-close="outsideClick">
              <button type="button" class="btn btn-xs dropdown-toggle" uib-dropdown-toggle
                      ng-class="divJobsCtrl.statusFilter ? 'btn-primary' : 'btn-default'">
                <i class="fa fa-filter"></i>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li ng-repeat="menu in divJobsCtrl.statusFilterMenus">
                  <div class="checkbox dropdown-margin">
                    <label>
                      <input type="checkbox" ng-checked="divJobsCtrl.selectedFilter.indexOf(menu) >=0"
                             ng-click="divJobsCtrl.setStatusFilter(menu)">{{menu}}
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </th>
        </tr>
        </thead>
        <tbody qm-loading="divJobsCtrl.loadingDivJobs">
        <tr ng-hide="divJobsCtrl.displayedDivJobs.length">
          <td colspan="9" class="text-center" ng-if="!divJobsCtrl.divJobsInitialized">&nbsp;</td>
          <td colspan="9" class="text-center" ng-if="divJobsCtrl.divJobsInitialized">No results found.</td>
        </tr>
        <tr ng-repeat="divJob in divJobsCtrl.displayedDivJobs">
          <td class="text-center" ng-if="divJobsCtrl.allowDivJobResume"><input type="checkbox"
                                                                               ng-model="divJob.isSelected"
                                                                               ng-disabled="!divJob.isSelectable"/>
          </td>
          <td>
            <a ng-if="divJob.testType==='Standard'"
               ui-sref="divJobs.studentScenarios({environmentId:divJob.environment.environmentId,divJobExecId: divJob.divJobExecId})">
              {{divJob.divJobExecId}} </a>
            <a ng-if="divJob.testType==='Battery'"
               ui-sref="divJobs.batteryStudentScenarios({environmentId:divJob.environment.environmentId,divJobExecId: divJob.divJobExecId})">
              {{divJob.divJobExecId}} </a>
          </td>
          <td>{{divJob.scopeTreePath}}</td>
          <td>{{divJob.submitUser.fullname}}</td>
          <td>{{divJob.submitTimeStamp | amDateFormat: divJobsCtrl.dateTimeFormat}}</td>
          <td>{{divJob.completeTimeStamp | amDateFormat: divJobsCtrl.dateTimeFormat}}</td>
          <td>{{divJob.numStudentScenarios}}</td>

          <td><span class="label label-default default-cursor" uib-popover="Not Started"
                    popover-trigger="mouseenter"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;
                                {{divJob.numNotStarted}}
                        </span> <span class="label label-warning default-cursor" uib-popover="In Progress"
                                      popover-trigger="mouseenter">
                                <i class="fa fa-refresh"></i>&nbsp;&nbsp; {{divJob.numInProgress}}
                        </span> <span class="label label-danger default-cursor" uib-popover="Failed"
                                      popover-trigger="mouseenter">
                                <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp; {{divJob.numFailed}}
                        </span> <span class="label label-success default-cursor" uib-popover="Completed"
                                      popover-trigger="mouseenter">
                                <i class="fa fa-check"></i>&nbsp;&nbsp; {{divJob.numCompleted}}
                        </span></td>

          <td><span class="label"
                    ng-class="{
								'label-primary': divJob.divJobExecStatus.status=='Queued',
								'label-default': divJob.divJobExecStatus.status=='Not Started',
								'label-warning': divJob.divJobExecStatus.status=='In Progress',
								'label-danger': divJob.divJobExecStatus.status=='Failed',
								'label-success': divJob.divJobExecStatus.status=='Completed',
								'label-success': divJob.divJobExecStatus.status.indexOf('Completed') === 0}">
                                {{divJob.divJobExecStatus.status}} </span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="9">
            <div st-pagination st-items-by-page="divJobsCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
