<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>

    <li ng-if="usageStatisticsCtrl.environmentId" qm-loading-breadcrumb="!usageStatisticsCtrl.environment"><a
      ui-sref="divJobs({environmentId:usageStatisticsCtrl.environmentId})">{{::usageStatisticsCtrl.environmentName}}</a>
    </li>

    <li>Usage Statistics</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="usageStatisticsCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="usageStatisticsCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close"
                ng-click="usageStatisticsCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{usageStatisticsCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Usage Statistics</h1>
    </div>
  </div>
  <div class="row">
    <form name="usageStatisticsForm" ng-submit="usageStatisticsCtrl.submit(usageStatisticsForm.$valid)" novalidate>
      <div class="form-group col-xs-3">
        <label for="environment">Environment</label>
        <div class="input-group">
          <select id="environment" class="form-control" ng-model="usageStatisticsCtrl.environment"
                  ng-change="usageStatisticsCtrl.getScopeTreePaths()"
                  ng-options="environment.environmentId as environment.name for environment in usageStatisticsCtrl.displayedEnvironments">
          </select>
        </div>
      </div>

      <div class="form-group col-xs-3">
        <label for="scopeTreePath">Scope Tree Path</label> <select id="scopeTreePath" name="scopeTreePath"
                                                                   class="form-control"
                                                                   ng-model="usageStatisticsCtrl.selectedScopeTreePath"
                                                                   ng-options="scopeTreePath for scopeTreePath in usageStatisticsCtrl.scopeTreePaths ">
      </select>
      </div>

      <div class="form-group col-xs-3"
           ng-class="{'has-error': usageStatisticsForm.startDate.$invalid && (usageStatisticsForm.startDate.$touched|| usageStatisticsForm.$submitted)}">
        <label for="environment">Start Date</label>
        <p class="input-group">
          <input type="text" class="form-control" id="startDate" name="startDate"
                 uib-datepicker-popup="{{usageStatisticsCtrl.format}}"
                 ng-model="usageStatisticsCtrl.startDate"
                 is-open="usageStatisticsCtrl.popupStartCalendar.opened"
                 close-text="Close" max-date="usageStatisticsCtrl.maxDate" required> <span
          class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="usageStatisticsCtrl.openStartCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>

        </p>
        <div ng-show="usageStatisticsForm.startDate.$touched ||usageStatisticsForm.$submitted">
          <div class="help-block" ng-show="usageStatisticsForm.startDate.$error.required">Please select start
            date.
          </div>
        </div>
      </div>
      <div class="form-group col-xs-3"
           ng-class="{'has-error': usageStatisticsForm.endDate.$invalid && (usageStatisticsForm.endDate.$touched || usageStatisticsForm.$submitted)}">
        <label for="environment">End Date</label>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{usageStatisticsCtrl.format}}"
                 ng-model="usageStatisticsCtrl.endDate" is-open="usageStatisticsCtrl.popupEndCalendar.opened"
                 close-text="Close" name="endDate" required max-date="usageStatisticsCtrl.maxDate"/>
          <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="usageStatisticsCtrl.openEndCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
        </p>
        <div ng-show="usageStatisticsForm.endDate.$touched ||usageStatisticsForm.$submitted">
          <div class="help-block" ng-show="usageStatisticsForm.endDate.$error.required">Please select end
            date.
          </div>
        </div>
      </div>
      <div>
        <div class="col-sm-12 usage-btn">
          <button type="submit" class="btn btn-default" ng-disabled="usageStatisticsCtrl.loading">
            <i class="fa fa-sun-o"
               ng-class="{'fa-spin': usageStatisticsCtrl.loading}"
               ng-show="usageStatisticsCtrl.loading"></i>
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="row" ng-show="usageStatisticsCtrl.showStats">

    <div class="form-group form-group-sm col-xs-6" ng-if="usageStatisticsCtrl.overAllStatistics.length>0">
      <label for="environment">Overall Statistics</label>
      <table st-table="usageStatisticsCtrl.displayedOverAllStatistics"
             st-safe-src="usageStatisticsCtrl.overAllStatistics" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="vertically-center" st-sort="key">Name</th>
          <th class="vertically-center" st-sort="value">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='overall in usageStatisticsCtrl.displayedOverAllStatistics'>
          <td style="text-align: left" class="text-center">{{overall.key}}</td>
          <td style="text-align: left" class="text-center">{{overall.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group form-group-sm col-xs-6" ng-if="usageStatisticsCtrl.failedTestAttemptsPerState.length>0">
      <label for="environment">Failed Test Attempts Per State</label>
      <table st-table="usageStatisticsCtrl.displayedTestAttemptsPerState"
             st-safe-src="usageStatisticsCtrl.failedTestAttemptsPerState"
             class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="vertically-center" st-sort="key">State</th>
          <th class="vertically-center" st-sort="value">Failed Test Attempts</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='failedPerState in usageStatisticsCtrl.displayedTestAttemptsPerState'>
          <td class="vertically-center">{{failedPerState.key}}</td>
          <td class="vertically-center">{{failedPerState.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group form-group-sm col-xs-12" ng-if="usageStatisticsCtrl.testAttemptsPerForm.length>0">
      <label for="environment">Test Attempts Per Form</label>
      <table st-table="usageStatisticsCtrl.displayedTestAttemptsPerForm"
             class="table table-bordered table-striped" st-safe-src="usageStatisticsCtrl.testAttemptsPerForm">
        <thead>
        <tr>
          <th class="vertically-center" st-sort="key">Form Code</th>
          <th class="vertically-center" st-sort="value">Test Attempts</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='attemptsPerForm in usageStatisticsCtrl.displayedTestAttemptsPerForm'>
          <td class="vertically-center">{{attemptsPerForm.key}}</td>
          <td class="vertically-center">{{attemptsPerForm.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
