<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li>System Validation (Environments)</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="envCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="envCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close"
                ng-click="envCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{envCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Environments</h1>
      <table st-table="envCtrl.displayedEnvironments"
             st-safe-src="envCtrl.environments"
             qm-custom-search qm-custom-search-key="envCtrl.archivedFilterKey" qm-custom-search-field="archived"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="7">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control"
                          ng-model="envCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in envCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="environments" qm-property="perPage">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search"
                         class="form-control" qm-memory qm-page-name="environments"
                         qm-property="search" ng-model="search"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div ng-if="envCtrl.hasAddEnvironmentPermission">
                <div class="form-group form-group-sm col-xs-11">
                  <a class="btn btn-default" ng-click="envCtrl.goToNewEnvironmentSetup()">New Environment</a>
                </div>
              </div>
              <div class="btn-group" uib-dropdown>
                <button id="reports" type="button" class="btn btn-primary" uib-dropdown-toggle>
                  Reports <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                  <li ng-if="envCtrl.hasUsageStatisticsPermission"><a href="#" ng-click="envCtrl.goToUsageStatistics()">Usage
                    Statistics</a></li>
                </ul>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="vertically-center" st-sort="environment.name" st-sort-default="reverse">Environment</th>
          <th class="vertically-center" st-sort="environment.feUrl">PA Next</th>
          <th class="vertically-center" st-sort="environment.epenUrl">ePEN 2</th>
          <th class="vertically-center" st-sort="environment.dataWarehouseMongoConnection.host">Data
            Warehouse
          </th>
          <th class="vertically-center" st-sort="environment.irisMysqlConnection.host">IRIS</th>
          <th class="vertically-center" ng-if="envCtrl.hasAnyEditEnvironmentPermission">Edit</th>
          <th class="vertically-center" ng-if="envCtrl.hasAnyEditEnvironmentPermission">
            Archived
            <div class="btn-group pull-right" uib-dropdown>
              <button type="button" class="btn btn-xs dropdown-toggle" uib-dropdown-toggle
                      ng-class="envCtrl.archivedFilter ? 'btn-primary' : 'btn-default'">
                <i class="fa fa-filter"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="envCtrl.setArchivedFilter(0)">
                  <i class="fa fa-check"
                     ng-class="{ 'visually-hidden': envCtrl.archivedFilter !== 0 }"></i>
                  No Filter
                </a></li>
                <li><a href="#" ng-click="envCtrl.setArchivedFilter(1)">
                  <i class="fa fa-check"
                     ng-class="{ 'visually-hidden': envCtrl.archivedFilter !== 1 }"></i>
                  Archived
                </a></li>
                <li><a href="#" ng-click="envCtrl.setArchivedFilter(-1)">
                  <i class="fa fa-check"
                     ng-class="{ 'visually-hidden': envCtrl.archivedFilter !== -1 }"></i>
                  Not Archived
                </a></li>
              </ul>
            </div>
          </th>
        </tr>
        </thead>
        <tbody qm-loading="envCtrl.loadingEnvironments">
        <tr ng-hide="envCtrl.displayedEnvironments.length">
          <td colspan="7" class="text-center"
              ng-if="!envCtrl.environmentsInitialized">&nbsp;
          </td>
          <td colspan="7" class="text-center"
              ng-if="envCtrl.environmentsInitialized">No results found.
          </td>
        </tr>
        <tr ng-repeat="environment in envCtrl.displayedEnvironments">
          <td class="vertically-center">
                            <span ng-if="envCtrl.hasDivJobReadAccess(environment.environmentId)">
                                <a
                                  ui-sref="divJobs({environmentId:environment.environmentId,environmentName:environment.name})">
                                    {{environment.name}}
                                </a>
                            </span>
            <span ng-if="!envCtrl.hasDivJobReadAccess(environment.environmentId)">
                                {{environment.name}}
                            </span>
          </td>
          <td class="vertically-center">
            <p><strong>url: </strong><a ng-href="{{environment.feUrl}}" target="_blank">{{environment.feUrl}}</a>
            </p>
            <p><strong>beHost: </strong>{{environment.beMysqlConnection.host}}</p>
            <p><strong>feHost: </strong>{{environment.feMysqlConnection.host}}</p>
          </td>
          <td class="vertically-center">
            <p><strong>url: </strong><a ng-href="{{environment.epenUrl}}" target="_blank">{{environment.epenUrl}}</a>
            </p>
            <p><strong>dbHost: </strong>{{environment.epen2MysqlConnection.host}}</p>
            <p><strong>MongoHost: </strong>{{environment.epen2MongoConnection.host}}:{{environment.epen2MongoConnection.port}}
            </p>
          </td>
          <td class="vertically-center" nowrap="nowrap">
            <p><strong>Host: </strong>{{environment.dataWarehouseMongoConnection.host}}:{{environment.dataWarehouseMongoConnection.port}}
            </p>
          </td>
          <td class="vertically-center">
            <p><strong>DbHost: </strong>{{environment.irisMysqlConnection.host}}</p>
            <p><strong>DbName: </strong>{{environment.irisMysqlConnection.dbName}}</p>
          </td>
          <td class="vertically-center" ng-if="envCtrl.hasAnyEditEnvironmentPermission">
            <button class="btn btn-default" type="button"
                    ng-disabled="!envCtrl.hasEditEnvironmentPermission(environment.environmentId)"
                    ui-sref="environment({environmentId: environment.environmentId})">
              Edit
            </button>
          </td>
          <td class="vertically-center text-center" ng-if="envCtrl.hasAnyEditEnvironmentPermission">
            <input type="checkbox" ng-checked="environment.archived"
                   ng-disabled="!envCtrl.hasEditEnvironmentPermission(environment.environmentId)"
                   ng-click="envCtrl.showConfirmationDialog(environment)"/>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="7">
            <div st-pagination st-items-by-page="envCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

