<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <h1>Grid Automation Jobs</h1>
      <table st-table="gridJobHistoryCtrl.displayedGridJobs" st-safe-src="gridJobHistoryCtrl.gridJobs"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="12">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="gridJobHistoryCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in gridJobHistoryCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="gridJobs" qm-property="perPage">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control" qm-memory
                         qm-page-name="gridJobs" qm-property="search"
                         qm-context="{{::gridJobHistoryCtrl.environmentId}}" ng-model="search"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group form-group-sm col-xs-11">
                <a class="btn btn-default" ng-click="gridJobHistoryCtrl.goToScheduleNewJob()">Schedule Job</a>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="gridJobId" st-sort-default="reverse">ID</th>
          <th st-sort="qualGroup">Group</th>
          <th st-sort="submitUser.fullname">Creator</th>
          <th st-sort="submitTimestamp" nowrap>Creation Date</th>
          <th st-sort="fileName">File Name</th>
          <th st-sort="status">Status</th>
          <th st-sort="gridContractId">Contract</th>
          <th st-sort="gridProgramId">Program</th>
          <th st-sort="gridAdminId">Admin</th>
          <th st-sort="gridSeasonId">Season</th>
          <th st-sort="docCode" nowrap>Doc Code</th>
          <th st-sort="runType">Run Type</th>
        </tr>
        </thead>
        <tbody qm-loading="gridJobHistoryCtrl.loadingGridJobs">
        <tr ng-hide="gridJobHistoryCtrl.displayedGridJobs.length">
          <td colspan="12" class="text-center" ng-if="!gridJobHistoryCtrl.gridJobsInitialized">&nbsp;</td>
          <td colspan="12" class="text-center" ng-if="gridJobHistoryCtrl.gridJobsInitialized">No results found.</td>
        </tr>
        <tr ng-repeat="gridJob in gridJobHistoryCtrl.displayedGridJobs">
          <td>{{gridJob.gridJobId}}</td>
          <td>{{gridJob.qualGroup}}</td>
          <td>{{gridJob.submitUser.fullname}}</td>
          <td>{{gridJob.submitTimestamp | amDateFormat: gridJobHistoryCtrl.dateTimeFormat}}</td>
          <td>{{gridJob.fileName}}</td>
          <td>
            <span class="label"
                  ng-class="{
                                'label-default': gridJob.jobStatus.status=='Not Started',
                                'label-warning': gridJob.jobStatus.status=='In Progress',
                                'label-danger': gridJob.jobStatus.status=='Failed',
                                'label-success': gridJob.jobStatus.status=='Completed',
                                'label-info': gridJob.jobStatus.status=='Waiting',
                                'label-success': gridJob.jobStatus.status.indexOf('Completed') === 0}">
								{{gridJob.jobStatus.status}}
            </span>
          </td>
          <td>{{gridJob.gridContract.contractName}}</td>
          <td>{{gridJob.gridProgram.programName}}</td>
          <td>{{gridJob.gridAdmin.adminName}}</td>
          <td>{{gridJob.gridSeason.seasonName}}</td>
          <td nowrap>{{gridJob.docCode}}</td>
          <td nowrap>{{gridJobHistoryCtrl.getRunTypeName(gridJob.runType)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
