<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="users">User Management</a></li>
    <li>Roles</li>
  </ol>

  <div class="row">
    <div class="col-sm-12">
      <h1>Role Management</h1>
      <div class="alert alert-success" role="alert"
           ng-class="rolesCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="rolesCtrl.alertMessage">{{rolesCtrl.alertMessage}}
        <button type="button" class="close" aria-label="Close"
                ng-click="rolesCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <table st-table="rolesCtrl.displayedRoles" st-safe-src="rolesCtrl.roles"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="4">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="rolesCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in rolesCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="roles" qm-property="perPage">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control" qm-memory
                         qm-page-name="roles" qm-property="search" ng-model="search"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group form-group-sm col-xs-12">
                <a class="btn btn-default" ng-click="rolesCtrl.displayAddRoleModal()">New Role</a>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="user.fullname" st-sort-default="true">Name</th>
          <th st-sort="email">Module</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody qm-loading="rolesCtrl.loadingRoles">
        <tr ng-hide="rolesCtrl.displayedRoles.length">
          <td colspan="4" class="test-center" ng-if="!rolesCtrl.rolesInitialized">&nbsp;</td>
          <td colspan="4" class="text-center" ng-if="rolesCtrl.rolesInitialized">No results found.</td>
        </tr>
        <tr ng-repeat="role in rolesCtrl.displayedRoles">
          <td>{{role.name}}</td>
          <td>{{role.applicationModule.applicationModuleName}}</td>
          <td>
            <button class="btn btn-default" type="button"
                    ng-click="rolesCtrl.displayPermissionOptionModal(role)">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-default" type="button"
                    ng-click="rolesCtrl.deleteRole(role)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="4">
            <div st-pagination st-items-by-page="rolesCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
