<form class="form-horizontal" name="permissionForm" ng-submit="addPermissionCtrl.save(permissionForm.$valid)"
      novalidate>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="addPermissionCtrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="permissionModal">Select permission details</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" role="alert"
         ng-class="addPermissionCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
         ng-if="addPermissionCtrl.alertMessage">{{addPermissionCtrl.alertMessage}}
      <button type="button" class="close" aria-label="Close"
              ng-click="addPermissionCtrl.clearAlertMessage()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-group"
         ng-class="{'has-error': permissionForm.humanUser.email.$invalid &&
                            (permissionForm.humanUser.email.$touched || permissionForm.$submitted)}">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <td class="text-center">Module</td>
              <td class="text-center">Role</td>
              <td class="text-center"
                  ng-if="addPermissionCtrl.userPermission.applicationModule.permissionType.permissionTypeName ==='EnvironmentLevelPermission'">
                Environment
              </td>
              <td
                ng-if="addPermissionCtrl.userPermission.applicationModule.permissionType.permissionTypeName ==='TenantLevelPermission'">
                Previewer
              </td>
              <td class="text-center"
                  ng-if="addPermissionCtrl.userPermission.applicationModule.permissionType.permissionTypeName ==='TenantLevelPermission'">
                Tenant
              </td>

            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="input-group" ng-class="{'has-error': permissionForm.applicationModule.$invalid &&
                            (permissionForm.applicationModule.$touched || permissionForm.$submitted)}">
                  <select class="form-control" name="applicationModule" id="applicationModule"
                          ng-model="addPermissionCtrl.userPermission.applicationModule"
                          ng-disabled="!addPermissionCtrl.applicationModules"
                          ng-options="applicationModule as applicationModule.applicationModuleName for applicationModule in addPermissionCtrl.applicationModules"
                          ng-change="addPermissionCtrl.getPermissionSettings()" required>
                    <option value="">Select a module</option>
                  </select>
                  <div ng-show="permissionForm.applicationModule.$touched || permissionForm.$submitted">
                    <div class="help-block"
                         ng-show="permissionForm.applicationModule.$error.required">
                      Please select a module.
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="input-group"
                     ng-class="{'has-error': permissionForm.permissionSetting.$invalid
                                     && (permissionForm.permissionSetting.$touched
                                     || permissionForm.$submitted) && addPermissionCtrl.permissionSettings}">
                  <select class="form-control" name="permissionSetting" id="permissionSetting"
                          ng-disabled="!addPermissionCtrl.permissionSettings"
                          ng-options="permissionSetting as permissionSetting.name for permissionSetting in addPermissionCtrl.permissionSettings"
                          ng-model="addPermissionCtrl.userPermission.permissionSetting"
                          ng-change="(addPermissionCtrl.userPermission.applicationModule.permissionType.permissionTypeName ==='EnvironmentLevelPermission')?
                                            addPermissionCtrl.getEnvironments():addPermissionCtrl.getPreviewerTenants()"
                          required>
                    <option value="" selected>Select a role</option>
                  </select>
                  <div ng-show="(permissionForm.permissionSetting.$touched
                                    || permissionForm.$submitted)
                                    && addPermissionCtrl.permissionSettings">
                    <div class="help-block"
                         ng-show="permissionForm.permissionSetting.$error.required">
                      Please select a role.
                    </div>
                  </div>
                </div>
              </td>
              <td
                ng-if="addPermissionCtrl.userPermission.applicationModule.permissionType.permissionTypeName ==='EnvironmentLevelPermission'">
                <div class="input-group"
                     ng-class="{'has-error': permissionForm.environment.$invalid
                                     && (permissionForm.environment.$touched || permissionForm.$submitted)
                                     && addPermissionCtrl.environments && !addPermissionCtrl.userPermission.allEnvironments}">
                  <div class="input-group">
                    <input type="checkbox" name="allEnvironments" id="allEnvironments"
                           ng-model="addPermissionCtrl.userPermission.allEnvironments"
                           ng-checked="addPermissionCtrl.existingUserPermission.isWildcard || addPermissionCtrl.disableEnvironments"
                           ng-disabled="!addPermissionCtrl.environments.length"
                           ng-click="addPermissionCtrl.disableEnvironmentList()"/>
                    All Environments
                  </div>
                  <select class="form-control" name="environment" id="environment"
                          ng-disabled="!addPermissionCtrl.environments.length || addPermissionCtrl.disableEnvironments"
                          ng-options="environment as environment.name for environment in addPermissionCtrl.environments"
                          ng-model="addPermissionCtrl.userPermission.environment" multiple
                          ng-required="!addPermissionCtrl.disableEnvironments">
                    <option value="">Select an environment</option>
                  </select>
                  <div ng-show="(permissionForm.environment.$touched || permissionForm.$submitted)
                                    && addPermissionCtrl.environments && !addPermissionCtrl.userPermission.allEnvironments">
                    <div class="help-block"
                         ng-show="permissionForm.environment.$error.required">
                      Please select check box or at least one environment from the list.
                    </div>
                  </div>
                </div>
              </td>
              <td
                ng-if="addPermissionCtrl.userPermission.applicationModule.permissionType.permissionTypeName ==='TenantLevelPermission'">
                <div class="input-group"
                     ng-class="{'has-error': permissionForm.previewer.$invalid
                                     && (permissionForm.previewer.$touched || permissionForm.$submitted)}">
                  <select class="form-control" name="previewer" id="previewer"
                          ng-disabled="!addPermissionCtrl.previewers"
                          ng-options="previewer as previewer.name for previewer in addPermissionCtrl.previewers"
                          ng-model="addPermissionCtrl.userPermission.previewer"
                          ng-change="addPermissionCtrl.getPreviewerTenants()" required>
                    <option value="" selected>Select a previewer</option>
                  </select>
                  <div ng-show="(permissionForm.previewer.$touched || permissionForm.$submitted)">
                    <div class="help-block"
                         ng-show="permissionForm.previewer.$error.required">
                      Please select a previewer.
                    </div>
                  </div>
                </div>
              </td>
              <td
                ng-if="addPermissionCtrl.userPermission.applicationModule.permissionType.permissionTypeName ==='TenantLevelPermission'">
                <div class="input-group"
                     ng-class="{'has-error': permissionForm.tenant.$invalid
                                     && (permissionForm.tenant.$touched || permissionForm.$submitted)
                                     && addPermissionCtrl.tenants && !addPermissionCtrl.userPermission.allTenants}">
                  <div class="input-group">
                    <input type="checkbox" name="allTenants" id="allTenants"
                           ng-model="addPermissionCtrl.userPermission.allTenants"
                           ng-checked="addPermissionCtrl.existingUserPermission.isWildcard || addPermissionCtrl.disableTenants"
                           ng-disabled="!addPermissionCtrl.tenants.length"
                           ng-click="addPermissionCtrl.disableTenantList()"/>
                    All Tenants
                  </div>

                  <select class="form-control" name="tenant" id="tenant"
                          ng-disabled="!addPermissionCtrl.tenants.length || addPermissionCtrl.disableTenants"
                          ng-options="tenant as tenant.tenantId+ '- '+ tenant.name for tenant in addPermissionCtrl.tenants"
                          ng-model="addPermissionCtrl.userPermission.tenant" multiple="multiple"
                          ng-required="!addPermissionCtrl.disableTenants">
                  </select>
                  <div ng-show="((permissionForm.tenant.$touched || permissionForm.$submitted)
                                    && addPermissionCtrl.tenants && !addPermissionCtrl.userPermission.allTenants)">
                    <div class="help-block"
                         ng-show="permissionForm.tenant.$error.required">
                      Please select check box or at least one tenant from the list.
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-12" ng-show="permissionForm.email.$touched || permissionForm.$submitted">
        <div class="help-block" ng-show="permissionForm.email.$error.required">Please enter valid email
          address.
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-default" ng-click="addPermissionCtrl.close()">Cancel
    </button>
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-sun-o"
         ng-class="{'fa-spin': addPermissionCtrl.savingPermissions}"
         ng-show="addPermissionCtrl.savingPermissions"></i>
      Add Permission
    </button>
  </div>
</form>

