<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="users">User Management</a></li>
    <li>User Permissions</li>
  </ol>
  <h1>
    User Permission Setup:
    <strong>{{userPermissionCtrl.humanUser.user.fullname}}</strong>
    <small>({{userPermissionCtrl.humanUser.email}})</small>
  </h1>
  <div class="alert alert-success" role="alert"
       ng-class="userPermissionCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
       ng-if="userPermissionCtrl.alertMessage">{{userPermissionCtrl.alertMessage}}
    <button type="button" class="close" aria-label="Close"
            ng-click="userPermissionCtrl.clearAlertMessage()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table st-table="userPermissionCtrl.displayedUserPermissions"
             st-safe-src="userPermissionCtrl.userPermissions"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="5">
            <div class="row" ng-hide="userPermissionCtrl.humanUser.user.isAdmin">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control"
                          ng-model="userPermissionCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in userPermissionCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="userPermissions" qm-property="perPage">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search"
                         class="form-control" qm-memory qm-page-name="userPermissions"
                         qm-property="search" ng-model="search"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group form-group-sm col-xs-2">
                <input type="checkbox" ng-checked="userPermissionCtrl.humanUser.user.isAdmin"
                       ng-model="userPermissionCtrl.humanUser.user.isAdmin"
                       ng-click="userPermissionCtrl.updateAdminRole()">
                Admin User
              </div>
              <div class="form-group form-group-sm col-xs-2"
                   ng-hide="userPermissionCtrl.humanUser.user.isAdmin">
                <a class="btn btn-default" ng-click="userPermissionCtrl.displayPermissionModal()"> Add
                  Permission </a>
              </div>
            </div>
          </th>
        </tr>
        <tr ng-hide="userPermissionCtrl.humanUser.user.isAdmin">
          <th class="text-center" st-sort="userPermission.applicationModule.applicationModuleName">Module</th>
          <th st-sort="userPermission.permissionSettings.name">Role</th>
          <th st-sort="userPermission.environment.name">Environment Name</th>
          <th st-sort="userPermission.previewer.name">Previewer</th>
          <th st-sort="userPermission.tenantId">Tenant</th>
          <th class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody ng-hide="userPermissionCtrl.humanUser.user.isAdmin">
        <tr ng-repeat="userPermission in userPermissionCtrl.displayedUserPermissions">
          <td>{{userPermission.applicationModule.applicationModuleName}}</td>
          <td>{{userPermission.permissionSettings.name}}</td>
          <td>
            <span
              ng-if="userPermission.isWildcard && userPermission.applicationModule.applicationModuleName === 'systemValidation'">All Environments</span>
            <span ng-if="!userPermission.isWildcard">{{userPermission.environment.name}}</span>
          </td>
          <td>{{userPermission.previewer.name}}</td>
          <td><span
            ng-if="userPermission.isWildcard && userPermission.applicationModule.applicationModuleName === 'qtiValidation'">All Tenants</span>
            <span ng-if="!userPermission.isWildcard">{{userPermission.tenantId}}</span>
          </td>
          <td class="text-center">
            <a class="btn btn-default"
               ng-click="userPermissionCtrl.deleteUserPermission(userPermission.userPermissionId)">
              <i class="fa fa-times"></i>
            </a>
          </td>
        </tr>
        </tbody>
        <tfoot ng-hide="userPermissionCtrl.humanUser.user.isAdmin">
        <tr class="table-controls">
          <td colspan="9">
            <div st-pagination st-items-by-page="userPermissionCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
</div>
