<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="applyAllFormsCtrl.close('No')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirmation Message</h4>
  </div>
  <div class="confirm-delete-modal modal-body">{{applyAllFormsCtrl.message}}</div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-default" ng-click="applyAllFormsCtrl.close('No')">No</button>
    <button type="button" class="btn btn-primary" ng-click="applyAllFormsCtrl.applyToAll()">Yes</button>
  </div>
</div>
