<div class="container ng-scope">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>
    <li><a ui-sref="divJobs({environmentId:ssCtrl.environment.environmentId})"> {{ssCtrl.environment.name}}</a></li>
    <li><a ui-sref="testCodeSelection({environmentId:ssCtrl.environment.environmentId})">Test Code Selection</a></li>
    <li><a ui-sref="testSessionSelection({environmentId:ssCtrl.environment.environmentId})">Test Session Selection</a>
    </li>
    <li>Scenario Selection</li>
  </ol>
  <div class="row" ng-if="ssCtrl.alertMessage.length > 0 || ssCtrl.warningMessage">
    <div class="col-sm-12">
      <div class="alert" role="alert"
           ng-class="{'alert-success': ssCtrl.alertSuccess === true,
           'alert-danger': ssCtrl.alertSuccess === false,
           'alert-warning': ssCtrl.alertSuccess === undefined || ssCtrl.warningMessage }">
        <button type="button" class="close" aria-label="Close" ng-click="ssCtrl.clearAlertMessages()">
          <span aria-hidden="true">&times;</span>
        </button>
        <p ng-if="ssCtrl.warningMessage">{{ssCtrl.warningMessage}}</p>
        <ul ng-class="ssCtrl.alertMessage.length  === 1 ? 'list-unstyled' : ''">
          <li ng-repeat="message in ssCtrl.alertMessage">{{ssCtrl.messages[0]}}<span
            ng-if='message.indexOf("https") == -1'> {{message}}</span> <a target="_blank"
                                                                          ng-if='message.indexOf("https") != -1'
                                                                          ng-href="{{message}}">{{message}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <form name="scenarioSelectionForm" ng-submit="ssCtrl.submit(scenarioSelectionForm.$valid)" novalidate>
    <div class="row">
      <div id="loadingOverlay" class="overlay" ng-hide="!ssCtrl.loadingScenarios">
        <div class="overlay-content">
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            LOADING...
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <h1>Data Integrity Validation Job Setup - Step 3/4</h1>
        <table st-table="ssCtrl.displayedTestForms" st-safe-src="ssCtrl.testForms"
               class="table table-bordered table-striped">
          <thead>
          <tr class="table-controls">
            <th>
              <div class="row">
                <div class="form-group form-group-sm col-xs-4">
                  <label for="itemsPerPage">Per Page</label>
                  <div class="input-group">
                    <select id="itemsPerPage" class="form-control"
                            ng-model="ssCtrl.itemsPerPage"
                            ng-options="option.name for option in ssCtrl.itemsPerPageOptions">
                    </select>
                  </div>
                </div>
                <div class="form-group form-group-sm col-xs-8">
                  <label for="search">Search</label>
                  <div class="input-group">
                    <input st-search id="search" type="search" class="form-control"/>
                  </div>
                </div>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-hide="ssCtrl.displayedTestForms.length">
            <td class="text-center" ng-if="!ssCtrl.scenariosInitialized">&nbsp;</td>
            <td class="text-center" ng-if="ssCtrl.scenariosInitialized">No results found.</td>
          </tr>
          <tr ng-repeat="testDetail in ssCtrl.displayedTestForms track by $index">
            <td>
              <div class="row" ng-if="testDetail.alertMessage">
                <div class="col-sm-12">
                  <div class="alert" role="alert"
                       ng-class="{
                          'alert-success': testDetail.alertSuccess === true && testDetail.alertMessage.length===0,
                          'alert-warning': testDetail.alertSuccess === true && testDetail.alertMessage.length>1,
                          'alert-danger': testDetail.alertSuccess === false}">
                    <button type="button" class="close" aria-label="Close"
                            ng-click="ssCtrl.clearAlertMessage(testDetail)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{testDetail.alertMessage}}
                    <span ng-if="testDetail.alertMessage === 'Insufficient Item Test Case Coverage found.'">Please
				 <a download="itemTestCaseCoverage.csv"
            ng-if="testDetail.alertMessage === 'Insufficient Item Test Case Coverage found.'"
            ng-href="{{testDetail.testCaseCoverage}}">
                                        Download</a>
                                     Item Test Case Coverage by clicking on download</span>
                  </div>
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="col-sm-3" ng-if="testDetail.batteryTestCode">
                      <div class="col-sm-6" style="margin: 0px; padding: 0px;">
                        <strong>Battery Test Code: </strong>
                      </div>
                      <div class="col-sm-1 formCode-left">
                        <span ng-if="testDetail.batteryTestCode">{{testDetail.batteryTestCode}}</span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="col-sm-6" style="margin: 0px; padding: 0px;">
                        <strong><span ng-if="testDetail.batteryTestCode">Unit </span>Test Code(s): </strong>
                      </div>
                      <div class="col-sm-1 formCode-left">
                        <span ng-if="!testDetail.batteryTestCode" style="margin: 0px;">{{testDetail.testCode}}</span>
                        <p ng-if="testDetail.batteryTestCode" style="margin: 0px;"
                           ng-repeat="unit in testDetail.units">{{unit.testCode}}</p>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="col-sm-5" style="margin: 0px;padding: 0px;">
                        <strong>Form Code(s): </strong>
                      </div>
                      <div class="col-sm-1 formCode-left">
                        <span ng-if="!testDetail.batteryTestCode">{{testDetail.formCode}}</span>
                        <p ng-if="testDetail.batteryTestCode" style="margin: 0px;"
                           ng-repeat="unit in testDetail.units track by $index">{{unit.formCode}}
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-3 pull-right">
                      <div class="col-sm-7" style="margin: 0px;padding: 0px;">
                        <strong>Remaining Students: </strong>
                      </div>
                      <div class="col-sm-1  formCode-left">
                        <span>{{testDetail.remainingStudents}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group col-sm-2">
                      <strong>TestNav</strong> <span ng-if="testDetail.testNavPercentValue">({{testDetail.testNavPercentValue}}%)</span>
                      <div class="input-group"
                           ng-class="{'has-error': testDetail.showErrorMessage}">
                        <select class="form-control" ng-model="testDetail.selectedTestNavScenario"
                                ng-if="!testDetail.testCaseCoverage  || testDetail.testCaseCoverage.length === 0"
                                ng-disabled="ssCtrl.loadingScenarios"
                                id="testNav_{{$index}}" name="testNav_{{$index}}"
                                ng-options="scenario.scenarioClass as scenario.scenarioClass for scenario in ssCtrl.testnavScenarioClasses track by scenario.scenarioClass"
                                ng-required="true" ng-change="ssCtrl.displayPercentEntryDialog(testDetail,'testNav')">
                          <option value="">SelectOne</option>
                        </select>
                        <select class="form-control"
                                ng-if="testDetail.testCaseCoverage.length > 0"
                                id="testNav_{{$index}}" name="testNav_{{$index}}"
                                ng-required="true">
                          <option value="">SelectOne</option>
                        </select>
                        <div
                          ng-show="testDetail.showErrorMessage">
                          <div class="help-block" ng-show="scenarioSelectionForm['testNav_'+$index].$error.required"
                               nowrap>
                            Please Select a testNav Scenario from dropdown.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-sm-2">
                      <strong>ePEN</strong> <span
                      ng-if="testDetail.epenPercentValue">({{testDetail.epenPercentValue}}%)</span>
                      <div class="input-group">
                        <select class="form-control" ng-model="testDetail.selectedEpenScenario"
                                ng-if="!testDetail.testCaseCoverage  || testDetail.testCaseCoverage.length === 0"
                                id="epen_{{$index}}" name="epen_{{$index}}"
                                ng-options=" scenario.scenarioClass as scenario.scenarioClass for scenario in  ssCtrl.epenScenarioClasses track by scenario.scenarioClass"
                                ng-disabled="testDetail.epenScenarioDisable || ssCtrl.disableEpen2 || testDetail.disableEpenScenarios ||  ssCtrl.loadingScenarios"
                                ng-change="ssCtrl.displayPercentEntryDialog(testDetail,'epen')">
                          <option value="">SelectOne</option>
                        </select>
                        <select class="form-control" ng-model="testDetail.selectedEpenScenario"
                                ng-if="testDetail.testCaseCoverage.length > 0"
                                id="epen_{{$index}}" name="epen_{{$index}}">
                          <option value="">SelectOne</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-sm-2" qm-loading="ssCtrl.addScenarios">
                      <button ng-if="!testDetail.batteryTestCode" class="btn btn-default addScenario-btn"
                              type="button"
                              ng-disabled="testDetail.remainingStudents <=0"
                              ng-click="ssCtrl.addSelectedScenarios(testDetail)">
                        Add Scenario
                      </button>
                      <button ng-if="testDetail.batteryTestCode" class="btn btn-default addScenario-btn" type="button"
                              ng-disabled="testDetail.remainingStudents <=0"
                              ng-click="ssCtrl.addSelectedScenariosForBatteryTest(testDetail, $index)">
                        Add Scenario
                      </button>
                    </div>
                    <div class="form-group col-sm-5 zeroMarginPadding">
                      <table class="table table-bordered table-striped zeroMarginPadding">
                        <thead>
                        <th class="text-center">TestNav</th>
                        <th class="text-center">ePEN</th>
                        <th class="text-center">Students</th>
                        <th class="text-center">Remove</th>
                        </thead>
                        <tbody>
                        <tr ng-if="!testDetail.selectedScenarios || testDetail.selectedScenarios.length === 0">
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr ng-repeat="selectedScenario in testDetail.selectedScenarios track by $index">
                          <td class="text-center">{{selectedScenario.testNav}}</td>
                          <td class="text-center">{{selectedScenario.epen}}</td>
                          <td ng-if="!selectedScenario.warning || selectedScenario.warning === false"
                              class="text-center" nowrap="true">{{selectedScenario.maxCount}}
                          </td>
                          <td ng-if="selectedScenario.warning === true"
                              ng-class="{'alert-warning': selectedScenario.warning === true}" class="text-center"
                              nowrap="true">{{selectedScenario.warningMessage}}
                          </td>
                          <td class="text-center">
                            <button type="button" ng-if="!testDetail.batteryTestCode" class="btn btn-padding"
                                    ng-click="ssCtrl.deleteSelectedScenario(testDetail, selectedScenario)">
                              <i
                                class="fa fa-close"></i></button>

                            <button type="button" ng-if="testDetail.batteryTestCode" class="btn btn-padding"
                                    ng-click="ssCtrl.deleteSelectedBatteryScenario(testDetail, selectedScenario)"><i
                              class="fa fa-close"></i></button>
                          </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                          <td colspan="4">
                            <button class="btn btn-default applyToAllForms" type="button"
                                    ng-if="!testDetail.batteryTestCode"
                                    ng-click="ssCtrl.applyToAll(testDetail.selectedScenarios, $index)"
                                    ng-disabled="ssCtrl.testForms.length <= 1 || !testDetail.selectedScenarios || testDetail.selectedScenarios.length < 1">
                              Apply To All Forms
                            </button>
                            <button class="btn btn-default applyToAllForms" type="button"
                                    ng-if="testDetail.batteryTestCode"
                                    ng-click="ssCtrl.applyToAllBatteryForms(testDetail.selectedScenarios, $index)"
                                    ng-disabled="ssCtrl.testForms.length <= 1 || !testDetail.selectedScenarios || testDetail.selectedScenarios.length < 1 ">
                              <small> Apply To All Forms</small>
                            </button>
                          </td>
                        </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr class="table-controls">
            <td colspan="6">
              <div st-pagination st-items-by-page="ssCtrl.itemsPerPage.value"></div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <input type="submit" class="btn btn-default" value="Next"
               ng-disabled="ssCtrl.loadingScenarios || ssCtrl.submitted"/>
      </div>
    </div>
  </form>
</div>
