<div class="container">
  <div ng-if="!validatedItemsCtrl.fromDashboard">
    <ol class="breadcrumb">
      <li><a ui-sref="previewers"><i class="fa fa-home"></i></a></li>
      <li qm-loading-breadcrumb="!validatedItemsCtrl.previewerName">
        <a ui-sref="tenants({
                        previewerId: validatedItemsCtrl.previewerId,
                        previewerName: validatedItemsCtrl.previewerName
                    })">
          {{::validatedItemsCtrl.previewerName}}
        </a>
      </li>
      <li>
        <a ui-sref="qtiScvExecutions({
                                previewerId: validatedItemsCtrl.previewerId,
                                previewerName: validatedItemsCtrl.previewerName
                            })">
          Nightly Job History
        </a>
      </li>
      <li>
        <a ui-sref="qtiScvTenantExecutions({
                                previewerId: validatedItemsCtrl.previewerId,
                                previewerName: validatedItemsCtrl.previewerName,
                                qtiScvExecutionId: validatedItemsCtrl.qtiScvExecutionId
                            })">
          Execution {{::validatedItemsCtrl.qtiScvExecutionId}}
        </a>
      </li>
      <li qm-loading-breadcrumb="!validatedItemsCtrl.tenantName">
        {{::validatedItemsCtrl.tenantName}} ({{::validatedItemsCtrl.tenantId}})
      </li>
    </ol>
  </div>
  <div ng-if="validatedItemsCtrl.fromDashboard">
    <ol class="breadcrumb">
      <li><a ui-sref="previewers"><i class="fa fa-home"></i></a></li>
      <li qm-loading-breadcrumb="!validatedItemsCtrl.previewerName">
        <a
          ui-sref="tenants({previewerId: validatedItemsCtrl.previewerId, previewerName: validatedItemsCtrl.previewerName})">
          {{::validatedItemsCtrl.previewerName}}
        </a>
      </li>
      <li qm-loading-breadcrumb="!validatedItemsCtrl.tenantName">
        {{::validatedItemsCtrl.tenantName}} ({{::validatedItemsCtrl.tenantId}})
      </li>
      <li>
        <a ui-sref="dashboard({previewerId: validatedItemsCtrl.previewerId, tenantId: validatedItemsCtrl.tenantId})">
          Dashboard
        </a>
      </li>
      <li>Validated Item Summary</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Validated Items Summary</h1>
      <table st-table="validatedItemsCtrl.displayedValidatedItems" st-safe-src="validatedItemsCtrl.validatedItems"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="6">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="validatedItemsCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in validatedItemsCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="validatedItems" qm-property="perPage"
                          qm-context="{{::validatedItemsCtrl.qtiScvTenantExecutionId}}">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control"
                         qm-memory qm-page-name="validatedItems" qm-property="search"
                         qm-context="{{::validatedItemsCtrl.qtiScvTenantExecutionId}}"
                         ng-model="validatedItemsCtrl.search"/>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="previewerTenantItem.itemId">Item ID</th>
          <th st-sort="previewerTenantItem.itemIdentifier">Identifier</th>
          <th class="text-center">View in Previewer</th>
          <th st-sort="testCases" class="text-center">Test Cases</th>
          <th st-sort="failedTestCases" st-sort-default="reverse" class="text-center">Failed Test Cases</th>
          <th st-sort="pendingTestCases" class="text-center">Pending Test Cases</th>
        </tr>
        </thead>
        <tbody qm-loading="validatedItemsCtrl.loadingValidatedItems">
        <tr ng-hide="validatedItemsCtrl.displayedValidatedItems.length">
          <td colspan="6" class="text-center" ng-if="!validatedItemsCtrl.validatedItemsInitialized">
            &nbsp;
          </td>
          <td colspan="6" class="text-center" ng-if="validatedItemsCtrl.validatedItemsInitialized">
            No results found.
          </td>
        </tr>
        <tr ng-repeat="validatedItem in validatedItemsCtrl.displayedValidatedItems">
          <td>
                            <span ng-if="validatedItemsCtrl.hasTestCasesReadPermission">
                                <a ui-sref="testCases({
                                                previewerId: validatedItemsCtrl.previewerId,
                                                previewerName: validatedItemsCtrl.previewerName,
                                                tenantId: validatedItemsCtrl.tenantId,
                                                tenantName: validatedItemsCtrl.tenantName,
                                                itemId: validatedItem.previewerTenantItem.itemId,
                                                itemName: validatedItem.previewerTenantItem.itemIdentifier
                                            })">
                                    {{validatedItem.previewerTenantItem.itemId}}
                                </a>
                            </span>
            <span ng-if="!validatedItemsCtrl.hasTestCasesReadPermission">
                                {{validatedItem.previewerTenantItem.itemId}}
                            </span>
          </td>
          <td>
                            <span ng-if="validatedItemsCtrl.hasTestCasesReadPermission">
                                <a ui-sref="testCases({
                                                previewerId: validatedItemsCtrl.previewerId,
                                                previewerName: validatedItemsCtrl.previewerName,
                                                tenantId: validatedItemsCtrl.tenantId,
                                                tenantName: validatedItemsCtrl.tenantName,
                                                itemId: validatedItem.previewerTenantItem.itemId,
                                                itemName: validatedItem.previewerTenantItem.itemIdentifier
                                            })">
                                    {{validatedItem.previewerTenantItem.itemIdentifier}}
                                </a>
                            </span>
            <span ng-if="!validatedItemsCtrl.hasTestCasesReadPermission">
                                {{validatedItem.previewerTenantItem.itemIdentifier}}
                            </span>
          </td>
          <td class="text-center">
            <a class="btn btn-default btn-xs" target="_blank"
               ng-href="{{validatedItemsCtrl.previewerProtocol}}{{validatedItemsCtrl.previewerName}}/tenants/{{validatedItemsCtrl.tenantId}}/items/{{validatedItem.previewerTenantItem.itemId}}">
              <i class="fa fa-eye"></i>
            </a>
          </td>
          <td class="text-center">{{validatedItem.testCases}}</td>
          <td class="text-center">
                            <span class="label" ng-class="validatedItem.failedTestCases ?
                                    'label-danger' : 'label-default'">
                                {{validatedItem.failedTestCases}}
                            </span>
            &nbsp;
            <button type="button" class="btn btn-default btn-xs"
                    ng-click="validatedItemsCtrl.showFailedTestCases(
                                        validatedItem.previewerTenantItem.itemId,
                                        validatedItem.previewerTenantItem.itemIdentifier,
                                        validatedItem.histItemId)"
                    ng-if="validatedItem.failedTestCases">
              <i class="fa fa-eye"></i>
            </button>
          </td>
          <td class="text-center">{{validatedItem.pendingTestCases}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="6">
            <div st-pagination st-items-by-page="validatedItemsCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

