<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>
    <li qm-loading-breadcrumb="!ssrHistoryCtrl.environmentName"><a
      ui-sref="divJobs({environmentId: ssrHistoryCtrl.environmentId})">{{::ssrHistoryCtrl.environmentName}}</a></li>
    <li ng-if="ssrHistoryCtrl.batteryStudentScenarioId"><a
      ui-sref="divJobs.batteryStudentScenarios({environmentId:ssrHistoryCtrl.environmentId,divJobExecId:ssrHistoryCtrl.divJobExecId})">
      DIV Job {{::ssrHistoryCtrl.divJobExecId}}
    </a>
    </li>
    <li ng-if="ssrHistoryCtrl.batteryStudentScenarioId">
      <a
        ui-sref="divJobs.batteryStudentScenarios.batteryUnits({
                    environmentId:ssrHistoryCtrl.environmentId,
                    divJobExecId: ssrHistoryCtrl.divJobExecId,
                    batteryStudentScenarioId: ssrHistoryCtrl.batteryStudentScenarioId
                    })">
        Battery {{::ssrHistoryCtrl.batteryStudentScenarioId}}</a>
    </li>
    <li ng-if="ssrHistoryCtrl.batteryStudentScenarioId">
      <a
        ui-sref="divJobs.batteryStudentScenarios.batteryUnits.studentScenarioResult({
                    environmentId: ssrHistoryCtrl.environmentId,
                    divJobExecId: ssrHistoryCtrl.divJobExecId,
                    batteryStudentScenarioId: ssrHistoryCtrl.batteryStudentScenarioId,
                    studentScenarioId: ssrHistoryCtrl.studentScenarioId
                    })">
        Student Scenario {{::ssrHistoryCtrl.studentScenarioId}} </a></li>
    <li ng-if="!ssrHistoryCtrl.batteryStudentScenarioId"><a
      ui-sref="divJobs.studentScenarios({
                environmentId:ssrHistoryCtrl.environmentId,
                divJobExecId: ssrHistoryCtrl.divJobExecId
                })">
     DIV Job {{::ssrHistoryCtrl.divJobExecId}} </a></li>
    <li ng-if="!ssrHistoryCtrl.batteryStudentScenarioId"><a
      ui-sref="divJobs.studentScenarios.studentScenarioResult({
                environmentId:ssrHistoryCtrl.environmentId,
                divJobExecId: ssrHistoryCtrl.divJobExecId,
                studentScenarioId: ssrHistoryCtrl.studentScenarioId
                })">
      Student Scenario {{::ssrHistoryCtrl.studentScenarioId}} </a></li>
    <li>State History
      ({{ssrHistoryCtrl.studentScenarioResultHistory[0].state.stateName}})
    </li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <h1>State History
        ({{ssrHistoryCtrl.studentScenarioResultHistory[0].state.stateName}})</h1>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-sm-12">UUID:
      {{(ssrHistoryCtrl.studentScenarioResultHistory|filter:query)[0].studentScenario.uuid}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Version</th>
          <th>TimeStamp</th>
          <th>Details</th>
          <th>Comments</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody qm-loading="ssrHistoryCtrl.loadingResult">
        <tr
          ng-hide="ssrHistoryCtrl.displayedstudentScenarioResultHistory.length">
          <td colspan="5" class="text-center"
              ng-if="!ssrHistoryCtrl.scenarioResultHistoryInitialized">&nbsp;
          </td>
          <td colspan="5" class="text-center"
              ng-if="ssrHistoryCtrl.scenarioResultHistoryInitialized">No
            results found.
          </td>
        </tr>
        <tr
          ng-repeat="result in ssrHistoryCtrl.studentScenarioResultHistory">
          <td>{{result.version}}</td>
          <td>{{result.timestamp | amDateFormat:
            ssrHistoryCtrl.dateTimeFormat}}
          </td>
          <td class="text-center">
            <button
              class="btn btn-default btn-xs"
              ng-click="ssrHistoryCtrl.showDetails(result.resultDetails)"
              type="button">
              <i class="fa fa-eye"></i>
            </button>
          </td>
          <td class="text-center">
            <button class="btn btn-default btn-xs"
                    ng-disabled="result.success"
                    ng-click="ssrHistoryCtrl.showCommentDetailModal(result.studentScenarioResultId, result.studentScenarioResultComments)"
                    type="button">
              <i class="fa fa-plus"></i>
            </button>
            &nbsp;&nbsp;
            <a
              ng-if="ssrHistoryCtrl.batteryStudentScenarioId && result.studentScenarioResultComments != null"
              ui-sref="batteryComments({
                                        environmentId: ssrHistoryCtrl.environmentId,
                                        divJobExecId: ssrHistoryCtrl.divJobExecId,
                                        batteryStudentScenarioId: ssrHistoryCtrl.batteryStudentScenarioId,
                                        studentScenarioId: ssrHistoryCtrl.studentScenarioId,
                                        stateId: result.stateId,
                                        studentScenarioResultId: result.studentScenarioResultId,
                                        studentScenarioResultVersion: result.version
									})">
              <span
                ng-if="result.studentScenarioResultComments != null">{{result.studentScenarioResultComments.length}}</span>
            </a>
            <a
              ng-if="!ssrHistoryCtrl.batteryStudentScenarioId && result.studentScenarioResultComments != null"
              ui-sref="comments({
                                        environmentId: ssrHistoryCtrl.environmentId,
                                        divJobExecId: ssrHistoryCtrl.divJobExecId,
                                        studentScenarioId: ssrHistoryCtrl.studentScenarioId,
                                        stateId: result.stateId,
                                        studentScenarioResultId: result.studentScenarioResultId,
                                        studentScenarioResultVersion: result.version
									})">
              <span
                ng-if="result.studentScenarioResultComments != null">{{result.studentScenarioResultComments.length}}</span>
            </a>

            <span ng-if="result.studentScenarioResultComments == null">0</span>
          </td>
          <td><span class="label"
                    ng-class="result.success ? 'label-success' : 'label-danger'">
								{{ssrHistoryCtrl.getPassFail(result.success)}} </span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
