<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="gridJobHistory">Grid Automation Jobs</a></li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="scheduleGridJobCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="scheduleGridJobCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close"
                ng-click="scheduleGridJobCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{scheduleGridJobCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Schedule Grid Job</h1>
    </div>
  </div>
  <form name="scheduleGriddingJobForm" ng-submit="scheduleGridJobCtrl.submit(scheduleGriddingJobForm.$valid)"
        enctype="multipart/form-data"
        novalidate>
    <div class="row form-group">
      <div class="col-sm-3" ng-class="{'has-error': scheduleGriddingJobForm.typeOfRun.$invalid &&
                            (scheduleGriddingJobForm.typeOfRun.$touched || scheduleGriddingJobForm.$submitted)}">
        <label for="typeOfRun">Type Of Run</label>
        <div class="input-group">
          <select id="typeOfRun" name="typeOfRun" class="form-control"
                  ng-model="scheduleGridJobCtrl.gridFile.runType" required>
            <option value="">Please select run type</option>
            <option ng-repeat="runType in scheduleGridJobCtrl.runTypes" value="{{runType.key}}">
              {{runType.value}}
            </option>
          </select>
        </div>
        <div ng-show="scheduleGriddingJobForm.typeOfRun.$touched || scheduleGriddingJobForm.$submitted">
          <div class="help-block" ng-show="scheduleGriddingJobForm.typeOfRun.$error.required">
            Please select run type from the list.
          </div>
        </div>
      </div>
      <div class="col-sm-3" ng-class="{'has-error': scheduleGriddingJobForm.jobContract.$invalid &&
                            (scheduleGriddingJobForm.jobContract.$touched || scheduleGriddingJobForm.$submitted)}">
        <label for="jobContract">Contract</label>
        <div class="input-group">
          <select id="jobContract" name="jobContract" class="form-control" required
                  ng-model="scheduleGridJobCtrl.gridFile.jobContract"
                  ng-change="scheduleGridJobCtrl.doSomething()"
                  ng-options="contract as contract.contractName for contract in scheduleGridJobCtrl.contracts">
            <option value="">Please select contract</option>
          </select>
        </div>
        <div ng-show="scheduleGriddingJobForm.jobContract.$touched || scheduleGriddingJobForm.$submitted">
          <div class="help-block" ng-show="scheduleGriddingJobForm.jobContract.$error.required">
            Please select contract from the list.
          </div>
        </div>
      </div>
      <div class="col-sm-3" ng-class="{'has-error': scheduleGriddingJobForm.jobProgram.$invalid &&
                            (scheduleGriddingJobForm.jobProgram.$touched || scheduleGriddingJobForm.$submitted)}">
        <label for="jobProgram">Program</label>
        <div class="input-group">
          <select id="jobProgram" name="jobProgram" required class="form-control"
                  ng-model="scheduleGridJobCtrl.gridFile.jobProgram"
                  ng-options="program as program.programName for program in scheduleGridJobCtrl.programs">
            <option value="">Please select program</option>
          </select>
        </div>
        <div ng-show="scheduleGriddingJobForm.jobProgram.$touched || scheduleGriddingJobForm.$submitted">
          <div class="help-block" ng-show="scheduleGriddingJobForm.jobProgram.$error.required">
            Please select program from the list.
          </div>
        </div>
      </div>
      <div class="col-sm-3" ng-class="{'has-error': scheduleGriddingJobForm.jobAdmin.$invalid &&
                            (scheduleGriddingJobForm.jobAdmin.$touched || scheduleGriddingJobForm.$submitted)}">
        <label for="jobAdmin">Admin</label>
        <div class="input-group">
          <select id="jobAdmin" name="jobAdmin" required class="form-control"
                  ng-model="scheduleGridJobCtrl.gridFile.jobAdmin"
                  ng-options="admin as admin.adminName for admin in scheduleGridJobCtrl.admins">
            <option value="">Please select admin</option>
          </select>
        </div>
        <div ng-show="scheduleGriddingJobForm.jobAdmin.$touched || scheduleGriddingJobForm.$submitted">
          <div class="help-block" ng-show="scheduleGriddingJobForm.jobAdmin.$error.required">
            Please select admin from the list.
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3" ng-class="{'has-error': scheduleGriddingJobForm.jobSeason.$invalid &&
                            (scheduleGriddingJobForm.jobSeason.$touched || scheduleGriddingJobForm.$submitted)}">
        <label for="jobSeason">Season</label>
        <div class="input-group">
          <select id="jobSeason" name="jobSeason" required class="form-control"
                  ng-model="scheduleGridJobCtrl.gridFile.jobSeason"
                  ng-options="season as season.seasonName for season in scheduleGridJobCtrl.seasons">
            <option value="">Please select season</option>
          </select>
        </div>
        <div ng-show="scheduleGriddingJobForm.jobSeason.$touched || scheduleGriddingJobForm.$submitted">
          <div class="help-block" ng-show="scheduleGriddingJobForm.jobSeason.$error.required">
            Please select admin from the list.
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="uploadFile"><br/>Bubbler Files to Upload</label>
        <input id="uploadFile" name="uploadFile" type="file" qm-stream-file-upload ng-model="scheduleGridJobCtrl.files">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12" ng-class="{'has-error': scheduleGriddingJobForm.pgmssn.$invalid &&
	                            (scheduleGriddingJobForm.pgmssn.$touched || scheduleGriddingJobForm.$submitted)}">
        <label for="pgmssn">PGMSSN</label>
        <input type="text" class="form-control" id="pgmssn" name="pgmssn" ng-pattern="/^[0-9]{6}$/"
               ng-model="scheduleGridJobCtrl.gridFile.pgmssn" required>
        <div ng-show="scheduleGriddingJobForm.pgmssn.$touched || scheduleGriddingJobForm.$submitted">
          <div class="help-block" ng-show="scheduleGriddingJobForm.pgmssn.$error.required">Please enter the Program SSN
            code for this project.
          </div>
          <div class="help-block" ng-show="scheduleGriddingJobForm.pgmssn.$error.pattern">Program SSN must be 6 digits
            long.
          </div>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12" ng-class="{'has-error': scheduleGriddingJobForm.docCode.$invalid &&
                            (scheduleGriddingJobForm.docCode.$touched || scheduleGriddingJobForm.$submitted)}">
        <label for="docCode">Doc Code</label>
        <input type="text" class="form-control" id="docCode" name="docCode" ng-pattern="/^[0-9]{6}-[0-9]{3}$/"
               ng-model="scheduleGridJobCtrl.gridFile.docCode" required>
        <div ng-show="scheduleGriddingJobForm.docCode.$touched || scheduleGriddingJobForm.$submitted">
          <div class="help-block" ng-show="scheduleGriddingJobForm.docCode.$error.required">Please enter the Document
            Code for the file uploaded.
          </div>
          <div class="help-block" ng-show="scheduleGriddingJobForm.docCode.$error.pattern">Document Code must be in full
            10 digit form (eg. 123456-001).
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12" ng-class="{'has-error': scheduleGriddingJobForm.stateCode.$invalid &&
                            (scheduleGriddingJobForm.stateCode.$touched || scheduleGriddingJobForm.$submitted)}">
        <label for="stateCode">State Code</label>
        <input type="text" class="form-control" id="stateCode" name="stateCode" ng-pattern="/^[A-Z]{2}$/"
               ng-model="scheduleGridJobCtrl.gridFile.stateCode" required>
        <div ng-show="scheduleGriddingJobForm.stateCode.$touched || scheduleGriddingJobForm.$submitted">
          <div class="help-block" ng-show="scheduleGriddingJobForm.stateCode.$error.required">Please enter the 2 digit
            State Code.
          </div>
          <div class="help-block" ng-show="scheduleGriddingJobForm.stateCode.$error.pattern">State Code must be 2
            capital letters.
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12" ng-class="{'has-error': scheduleGriddingJobForm.lithoStart.$invalid &&
                            (scheduleGriddingJobForm.lithoStart.$touched || scheduleGriddingJobForm.$submitted)}">
        <label for="lithoStart">Litho Start #</label>
        <input type="text" class="form-control" id="lithoStart" name="lithoStart" ng-pattern="/^[0-9]*$/"
               ng-model="scheduleGridJobCtrl.gridFile.lithoStart" required>
        <div ng-show="scheduleGriddingJobForm.lithoStart.$touched || scheduleGriddingJobForm.$submitted">
          <div class="help-block" ng-show="scheduleGriddingJobForm.lithoStart.$error.required">Please enter a Litho
            Start Number for the Document.
          </div>
          <div class="help-block" ng-show="scheduleGriddingJobForm.lithoStart.$error.pattern">Litho Start Number must be
            a valid number.
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3"
           ng-class="{'has-error': scheduleGriddingJobForm.deliveryDate.$invalid && (scheduleGriddingJobForm.deliveryDate.$touched|| scheduleGriddingJobForm.$submitted)}">
        <label for="deliveryDate">Final Print Delivery Date</label>
        <p class="input-group">
          <input type="text" class="form-control" id="deliveryDate" name="deliveryDate"
                 uib-datepicker-popup="{{scheduleGridJobCtrl.format}}"
                 ng-model="scheduleGridJobCtrl.gridFile.deliveryDate"
                 is-open="scheduleGridJobCtrl.popupDeliveryCalendar.opened"
                 close-text="Close" name="theName" min-date="scheduleGridJobCtrl.minDate" required> <span
          class="input-group-btn">
	                        <button type="button" class="btn btn-default"
                                  ng-click="scheduleGridJobCtrl.openDeliveryCalendar()">
	                          <i class="glyphicon glyphicon-calendar"></i>
	                        </button>
	                    </span>
        </p>
        <div ng-show="scheduleGriddingJobForm.deliveryDate.$touched ||scheduleGriddingJobForm.$submitted">
          <div class="help-block" ng-show="scheduleGriddingJobForm.deliveryDate.$error.required">Please select a
            Final Print Delivery Date.
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12">
        <label for="comments">Comments</label>
        <input type="text" class="form-control" id="comments" name="comments"
               ng-model="scheduleGridJobCtrl.gridFile.comments">
      </div>
    </div>
    <div class="col-sm-3">
      <label for="is6by8">Convert to 6x8</label>
      <input type="checkbox" class="form-control" id="is6by8" name="is6by8"
             ng-model="scheduleGridJobCtrl.gridFile.is6by8">

      <label for="release">Automatic release to Z drive</label>
      <input type="checkbox" class="form-control" id="autorelease" name="autorelease"
             ng-model="scheduleGridJobCtrl.gridFile.release">
    </div>

    <div class="col-sm-12 usage-btn text-right">
      <button type="button" class="btn btn-default" ng-click="scheduleGridJobCtrl.cancel()"
              ng-disabled="scheduleGridJobCtrl.loading">Cancel
      </button>
      <button type="submit" class="btn btn-primary" ng-disabled="scheduleGridJobCtrl.loading">
        <i class="fa fa-sun-o"
           ng-class="{'fa-spin': scheduleGridJobCtrl.loading}"
           ng-show="scheduleGridJobCtrl.loading"></i>
        Submit
      </button>
    </div>
  </form>
</div>
