<form class="form-horizontal" name="userForm" ng-submit="userCtrl.save(userForm.$valid)" novalidate>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="userCtrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="userModal">Please enter e-mail address</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" role="alert"
         ng-class="userCtrl.alertSuccess ? 'alert-success' : 'alert-danger'" ng-if="userCtrl.alertMessage">
      {{userCtrl.alertMessage}}
      <button type="button" class="close" aria-label="Close"
              ng-click="userCtrl.clearAlertMessage()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-group"
         ng-class="{'has-error': userForm.email.$invalid &&
                            (userForm.email.$touched || userForm.$submitted)}">

      <div class="col-sm-12">
        <input type="email" class="form-control" id="email" name="email" ng-model="userCtrl.humanUser.email"
               pattern=".*@[pP][eE][aA][rR][sS][oO][nN]\.[cC][oO][mM]"
               placeholder="Email address" required>
      </div>
      <div class="col-sm-12" ng-show="userForm.email.$touched || userForm.$submitted">
        <div class="help-block"
             ng-show="userForm.email.$error.required || userForm.email.$error.pattern || !userForm.email.$valid">
          Please enter a valid
          Pearson email address.
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-if="!userCtrl.alertMessage || !userCtrl.alertSuccess" type="button" class="btn btn-default"
            ng-click="userCtrl.close()">Cancel
    </button>
    <button ng-if="userCtrl.alertSuccess" type="button" class="btn btn-default" ng-click="userCtrl.displayUsers()">
      Close
    </button>
    <button ng-if="!userCtrl.alertSuccess" type="submit" class="btn btn-primary">
      <i class="fa fa-sun-o"
         ng-class="{'fa-spin': userCtrl.savingUser}"
         ng-show="userCtrl.savingUser"></i>
      Save
    </button>
  </div>
</form>

