<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li>User Management</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <h1>User Management</h1>
      <table st-table="usersCtrl.displayedUsers" st-safe-src="usersCtrl.users"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="3">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="usersCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in usersCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="users" qm-property="perPage">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control" qm-memory
                         qm-page-name="users" qm-property="search" ng-model="search"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group form-group-sm col-xs-1">
                <a class="btn btn-default" ng-click="usersCtrl.displayNewUserModal()">New User</a>
              </div>
              <div class="form-group form-group-sm col-xs-2">
                <a class="btn btn-default" ng-click="usersCtrl.goToRolesPage()">
                  Manage Roles</a>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="user.fullname" st-sort-default="true">Name</th>
          <th st-sort="email">Email</th>
          <th class="col-sm-1">&nbsp;</th>
        </tr>
        </thead>
        <tbody qm-loading="usersCtrl.loadingUsers">
        <tr ng-hide="usersCtrl.displayedUsers.length">
          <td colspan="3" class="test-center" ng-if="!usersCtrl.usersInitialized">&nbsp;</td>
          <td colspan="3" class="text-center" ng-if="usersCtrl.usersInitialized">No results found.</td>
        </tr>
        <tr ng-repeat="humanUser in usersCtrl.displayedUsers">
          <td>{{humanUser.user.fullname}}</td>
          <td>{{humanUser.email}}</td>
          <td>
            <button class="btn btn-default" type="button" name="permission"
                    ui-sref="users.user({humanUserId: humanUser.humanUserId})">View Permissions
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="3">
            <div st-pagination st-items-by-page="usersCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
