<div class="container ng-scope">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>
    <li><a
      ui-sref="divJobs({environmentId:stdSelectionCtrl.environment.environmentId})">
      {{stdSelectionCtrl.environment.name}}</a></li>
    <li><a ui-sref="testCodeSelection({environmentId:stdSelectionCtrl.environment.environmentId})">Test Code
      Selection</a></li>
    <li><a ui-sref="testSessionSelection({environmentId:stdSelectionCtrl.environment.environmentId})">Test Session
      Selection</a></li>
    <li><a ui-sref="scenarioSelection({environmentId:stdSelectionCtrl.environment.environmentId})">Scenario
      Selection</a></li>
    <li>Student Selection</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="stdSelectionCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="stdSelectionCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close"
                ng-click="stdSelectionCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        <span ng-bind-html="stdSelectionCtrl.alertMessage"></span>
      </div>
    </div>
  </div>
  <form ng-submit="stdSelectionCtrl.submit()">
    <div class="row">
      <div class="col-sm-12">
        <h1>Data Integrity Validation Job Setup - Step 4/4</h1>
        <table st-table="stdSelectionCtrl.displayedStudentScenarios"
               st-safe-src="stdSelectionCtrl.studentScenarios"
               class="table table-bordered table-striped">
          <thead>
          <tr class="table-controls">
            <th colspan="9">
              <div class="row">
                <div class="form-group form-group-sm col-xs-4">
                  <label for="itemsPerPage">Per Page</label>
                  <div class="input-group">
                    <select id="itemsPerPage" class="form-control"
                            ng-model="stdSelectionCtrl.itemsPerPage"
                            ng-options="option.name for option in stdSelectionCtrl.itemsPerPageOptions">
                    </select>
                  </div>
                </div>
                <div class="form-group form-group-sm col-xs-8">
                  <label for="search">Search</label>
                  <div class="input-group">
                    <input st-search id="search" type="search"
                           class="form-control"/>
                  </div>
                </div>
              </div>
            </th>
          </tr>

          <tr>
            <th class="text-center"
                ng-if="stdSelectionCtrl.displayedStudentScenarios[0].batteryTestCode">Battery Test
              Code
            </th>
            <th class="text-center"><span
              ng-if="stdSelectionCtrl.displayedStudentScenarios[0].batteryTestCode">Unit </span>Test Code
            </th>
            <th class="text-center" nowrap>Form Code</th>
            <th class="text-center">TestNav Scenario</th>
            <th class="text-center">Total Points</th>
            <th class="text-center">ePEN2 Scenario</th>
            <th class="text-center" nowrap>Test Session</th>
            <th class="text-center"><span
              ng-if="stdSelectionCtrl.displayedStudentScenarios[0].batteryTestCode">Battery </span>Student
              UUID
            </th>
            <th class="text-center">Remove</th>
          </tr>
          </thead>
          <tbody ng-if="stdSelectionCtrl.displayedStudentScenarios[0].batteryTestCode"
                 qm-loading="stdSelectionCtrl.loadingStudentScenarios"
                 ng-repeat="battery in stdSelectionCtrl.displayedStudentScenarios">
          <tr ng-hide="stdSelectionCtrl.displayedStudentScenarios.length">
            <td colspan="9" class="text-center"
                ng-if="!stdSelectionCtrl.studentScenariosInitialized">&nbsp;
            </td>
            <td colspan="9" class="text-center"
                ng-if="stdSelectionCtrl.studentScenariosInitialized">No results found.
            </td>
          </tr>
          <tr ng-repeat="studentScenario in battery.studentScenarios">
            <td class="text-center vertically-center" ng-hide="$index > 0"
                rowspan="{{battery.studentScenarios.length}}">{{battery.batteryTestCode}}
            </td>
            <td class="text-center vertically-center">{{studentScenario.testnavScenario.testCode}}</td>
            <td class="text-center vertically-center">{{studentScenario.testnavScenario.formCode}}</td>
            <td class="text-center vertically-center">{{studentScenario.testnavScenario.scenarioName}}</td>
            <td class="text-center vertically-center">{{studentScenario.testnavScenario.points}}</td>
            <td class="text-center vertically-center">{{studentScenario.epenScenario.scenarioName}}</td>
            <td class="text-center vertically-center">{{studentScenario.testSession.sessionName}}</td>
            <td class="text-center vertically-center" ng-hide="$index > 0"
                rowspan="{{battery.studentScenarios.length}}">{{battery.batteryUuid}}
            </td>
            <td class="text-center vertically-center" ng-hide="$index > 0"
                rowspan="{{battery.studentScenarios.length}}">
              <button type="button" class="btn btn-sm btn-default" ng-click="stdSelectionCtrl.removeRow(battery)"><i
                class="fa fa-times"></i></button>
            </td>
          </tr>
          </tbody>
          <tbody ng-if="!stdSelectionCtrl.displayedStudentScenarios[0].batteryTestCode"
                 qm-loading="stdSelectionCtrl.loadingStudentScenarios">
          <tr ng-hide="stdSelectionCtrl.displayedStudentScenarios.length">
            <td colspan="9" class="text-center"
                ng-if="!stdSelectionCtrl.studentScenariosInitialized">&nbsp;
            </td>
            <td colspan="9" class="text-center"
                ng-if="stdSelectionCtrl.studentScenariosInitialized">No
              results found.
            </td>
          </tr>
          <tr
            ng-repeat="student in stdSelectionCtrl.displayedStudentScenarios">
            <td class="text-center vertically-center"
                ng-if="stdSelectionCtrl.displayedStudentScenarios[0].batteryTest">
              {{student.batteryTest.batteryTestCode}}
            </td>
            <td class="text-center vertically-center">{{student.testnavScenario.testCode}}</td>
            <td class="text-center vertically-center">{{student.testnavScenario.formCode}}</td>
            <td class="text-center vertically-center">{{student.testnavScenario.scenarioName}}</td>
            <td class="text-center vertically-center">{{student.testnavScenario.points}}</td>
            <td class="text-center vertically-center">{{student.epenScenario.scenarioName}}</td>
            <td class="text-center vertically-center">{{student.testSession.sessionName}}</td>
            <td class="text-center vertically-center">{{student.uuid}}</td>
            <td class="text-center vertically-center">
              <button type="button" class="btn btn-sm btn-default"
                      ng-click="stdSelectionCtrl.removeRow(student)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr class="table-controls">
            <td colspan="9">
              <div st-pagination
                   st-items-by-page="stdSelectionCtrl.itemsPerPage.value"></div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <input type="submit" class="btn btn-default" value="Submit"
               ng-disabled="!stdSelectionCtrl.alertSuccess || stdSelectionCtrl.loadingStudentScenarios || stdSelectionCtrl.submitted || stdSelectionCtrl.studentScenarios.length < 1"/>
      </div>
    </div>
  </form>
</div>
