<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="failedTestCasesCtrl.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="failedTestCasesModalLabel">
    Failed Test Cases
    <i class="fa fa-spinner" ng-class="{'fa-spin': failedTestCasesCtrl.loadingFailedTestCases}"
       ng-show="failedTestCasesCtrl.loadingFailedTestCases"></i>
  </h4>
</div>
<div class="modal-body">
  <table class="table table-bordered table-striped" ng-hide="failedTestCasesCtrl.loadingFailedTestCases">
    <thead>
    <tr>
      <th>ID</th>
      <th colspan="2"></th>
      <th ng-if="failedTestCasesCtrl.hasTestCasesReadAccess" class="text-center">Play</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="failedTestCase in failedTestCasesCtrl.failedTestCases">
      <td rowspan="4">
        {{failedTestCase.tcIdFromPreviewer}}
      </td>
      <td><b>Response</b></td>
      <td>
        <div ng-repeat="mod in failedTestCasesCtrl.showMods(failedTestCase.mods)">
          {{mod}}
        </div>
      </td>
      <td rowspan="4" ng-if="failedTestCasesCtrl.hasTestCasesReadAccess" class="text-center">
        <button type="button" class="btn btn-default btn-xs" ui-sref="playTestCases({
                                previewerId: failedTestCasesCtrl.previewerId,
                                previewerName: failedTestCasesCtrl.previewerName,
                                tenantId: failedTestCasesCtrl.tenantId,
                                tenantName: failedTestCasesCtrl.tenantName,
                                itemId: failedTestCasesCtrl.itemId,
                                itemName: failedTestCasesCtrl.itemName,
                                testCaseId: failedTestCase.tcIdFromPreviewer
                            })"
                ng-click="failedTestCasesCtrl.close()">
          <i class="fa fa-play"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td><b>Test Case Outcomes</b></td>
      <td>
        <div ng-repeat="outcome in
                            failedTestCasesCtrl.showOutcomes(failedTestCase.failedTestCaseExpected)">
          {{outcome}}
        </div>
      </td>
    </tr>
    <tr>
      <td><b>Fingerprinted Outcomes</b></td>
      <td>
        <div ng-repeat="outcome in
                            failedTestCasesCtrl.showOutcomes(failedTestCase.failedFingerprintExpected)">
          {{outcome}}
        </div>
      </td>
    </tr>
    <tr ng-repeat-end>
      <td><b>Actual Outcomes</b></td>
      <td>
                    <span ng-if="failedTestCase.failedTestCaseActual">
                        <div ng-repeat="outcome in
                                failedTestCasesCtrl.showOutcomes(failedTestCase.failedTestCaseActual)">
                            {{outcome}}
                        </div>
                    </span>
        <span ng-if="!failedTestCase.failedTestCaseActual">
                        <div ng-repeat="outcome in
                                failedTestCasesCtrl.showOutcomes(failedTestCase.failedFingerprintActual)">
                            {{outcome}}
                        </div>
                    </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="failedTestCasesCtrl.close()">Close</button>
</div>
