<form class="form" name="permissionOptionForm" ng-submit="permissionOptionCtrl.save()">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="permissionOptionCtrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="roleModal">Permission options for role
      <u>{{permissionOptionCtrl.permissionSettingsValues[0].permissionSettings.name}}</u>
    </h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" role="alert"
         ng-class="permissionOptionCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
         ng-if="permissionOptionCtrl.alertMessage">{{permissionOptionCtrl.alertMessage}}
      <button type="button" class="close" aria-label="Close"
              ng-click="permissionOptionCtrl.clearAlertMessage()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row"
         ng-repeat="permissionSettingsValue in permissionOptionCtrl.permissionSettingsValues">
      <div class="col-sm-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{permissionSettingsValue.permissionOption.name}}</h3>
          </div>
          <div class="panel-body">
            <div class="checkbox-inline">
              <label for="create_{{permissionOption.name}}_{{$index}}">
                <input type="checkbox" id="create_{{permissionOption.name}}_{{$index}}"
                       ng-model="permissionSettingsValue.createAccess"
                       ng-disabled="!permissionSettingsValue.permissionOption.createAccess"/>
                Create </label>
            </div>

            <div class="checkbox-inline">
              <label for="read_{{permissionSettingsValue.permissionOption.name}}_{{$index}}">
                <input type="checkbox"
                       id="read_{{permissionSettingsValue.permissionOption.name}}_{{$index}}"
                       ng-model="permissionSettingsValue.readAccess"
                       ng-disabled="!permissionSettingsValue.permissionOption.readAccess"/>
                Read </label>
            </div>

            <div class="checkbox-inline">
              <label for="update_{{permissionSettingsValue.permissionOption.name}}_{{$index}}">
                <input type="checkbox"
                       id="update_{{permissionSettingsValue.permissionOption.name}}_{{$index}}"
                       ng-model="permissionSettingsValue.updateAccess"
                       ng-disabled="!permissionSettingsValue.permissionOption.updateAccess"/>
                Update </label>
            </div>

            <div class="checkbox-inline">
              <label for="delete_{{permissionSettingsValue.permissionOption.name}}_{{$index}}">
                <input type="checkbox"
                       id="delete_{{permissionSettingsValue.permissionOption.name}}_{{$index}}"
                       ng-model="permissionSettingsValue.deleteAccess"
                       ng-disabled="!permissionSettingsValue.permissionOption.deleteAccess"/>
                Delete </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-if="!permissionOptionCtrl.alertMessage || !permissionOptionCtrl.alertSuccess" type="button"
            class="btn btn-default"
            ng-click="permissionOptionCtrl.close()">Cancel
    </button>
    <button ng-if="permissionOptionCtrl.alertSuccess" type="button" class="btn btn-default"
            ng-click="permissionOptionCtrl.close()">
      Close
    </button>
    <button ng-if="!permissionOptionCtrl.alertSuccess && !permissionOptionCtrl.permissionSetting.permissionSettingsId"
            type="submit"
            class="btn btn-primary">
      <i class="fa fa-sun-o"
         ng-class="{'fa-spin': permissionOptionCtrl.savingPermissionOptions}"
         ng-show="permissionOptionCtrl.savingPermissionOptions"></i>
      Save
      <span ng-if="permissionOptionCtrl.permissionSetting.permissionSettingsId">Update</span>
    </button>
  </div>
</form>
