<form class="form-horizontal" novalidate>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="releaseVersionCtrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Release Notes</h4>
  </div>
  <div class="modal-body" id="releaseVersionModalBody">
    <div btf-markdown ng-include="'/release-notes.md'"></div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="releaseVersionCtrl.close()">Close</button>

  </div>
</form>

