<form name="percentEntryForm" ng-submit="percentEntryCtrl.submit(percentEntryForm.$valid)" novalidate>
  <div class="modal-header">
    <h4 class="modal-title" id="percentEntryModalLabel">
      PercentCorrect - Percent Entry
    </h4>
  </div>
  <div class="modal-body">
    <div class="form-group" ng-class="{'has-error': percentEntryForm.percent.$invalid &&
                        (percentEntryForm.percent.$touched || percentEntryForm.$submitted)}">
      <label for="percent">Percentage</label>
      <input type="number" class="form-control" id="percent" name="percent"
             ng-model="percentEntryCtrl.percent" min="0" max="100" pattern="\d+" required/>
      <div ng-show="percentEntryForm.percent.$touched || percentEntryForm.$submitted">
        <div class="help-block" ng-show="percentEntryForm.percent.$invalid">
          Please enter a whole number percent value.
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="percentEntryCtrl.close()">Close</button>
    <button type="submit" class="btn btn-primary">Ok</button>
  </div>
</form>
