<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="reRunStatsCtrl.close('No')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirmation Message</h4>
  </div>
  <div class="confirm-delete-modal modal-body">{{reRunStatsCtrl.reRunMessage}}</div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-default" ng-click="reRunStatsCtrl.close()">Cancel</button>
    <button ng-if="!reRunStatsCtrl.reRunStatsOnly" type="button" class="btn btn-default"
            ng-click="reRunStatsCtrl.resumeOnly()">No
    </button>
    <button type="button" class="btn btn-primary" ng-click="reRunStatsCtrl.resumeAndReRunCompletedStats()">Yes</button>
  </div>
</div>
