<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>
    <li qm-loading-breadcrumb="!bssCtrl.environmentName">
      <a ui-sref="divJobs({environmentId:bssCtrl.environmentId})">{{::bssCtrl.environmentName}}</a>
    </li>
    <li>DIV Job {{::bssCtrl.divJobExecId}}
    </li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="bssCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="bssCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close"
                ng-click="bssCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{bssCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Batteries (DIV Job {{::bssCtrl.divJobExecId}})</h1>
      <table st-table="bssCtrl.displayedBatteryStudentScenarios"
             st-safe-src="bssCtrl.batteryStudentScenarios"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="10">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control"
                          ng-model="bssCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in bssCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="batteryStudentScenarios"
                          qm-property="perPage"
                          qm-context="{{::bssCtrl.divJobExecId}}">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search"
                         class="form-control" qm-memory
                         qm-page-name="batteryStudentScenarios" qm-property="search"
                         qm-context="{{::bssCtrl.divJobExecId}}"
                         ng-model="bssCtrl.search"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group form-group-sm col-xs-10">
                <button class="btn btn-default" type="button"
                        ng-click="bssCtrl.resumeDivJob()"
                        ng-disabled="!bssCtrl.divJobResumable"
                        ng-if="bssCtrl.allowDivJobResume">Resume/Rerun Current DIV Job
                </button>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="batteryStudentScenarioId" st-sort-default="true">ID</th>
          <th st-sort="batteryUuid">Battery UUID</th>
          <th st-sort="batteryTestCode">Battery Test Code</th>
          <th>Form Codes</th>
          <th>Test Sessions</th>
          <th>Unit Test UUIDs</th>
          <th>TestNav Scenario</th>
          <th>ePEN Scenario</th>
          <th st-sort="status">Status</th>
          <th>Battery STATS Details</th>
        </tr>
        </thead>
        <tbody qm-loading="bssCtrl.loadingDivJobs">
        <tr ng-repeat-start="record in bssCtrl.displayedBatteryStudentScenarios">
        <tr ng-hide="bssCtrl.displayedBatteryStudentScenarios">
          <td colspan="10" class="text-center"
              ng-if="!bssCtrl.divJobsInitialized">&nbsp;
          </td>
          <td colspan="10" class="text-center"
              ng-if="bssCtrl.divJobsInitialized">No results found.
          </td>
        </tr>
        <tr ng-repeat="unit in record.batteryUnits">
          <td class="vertically-center text-center" rowspan="{{record.batteryUnits.length}}"
              ng-hide="$index>0">
            <a
              ui-sref="divJobs.batteryStudentScenarios.batteryUnits({
                                environmentId:record.environmentId,
                                divJobExecId: bssCtrl.divJobExecId,
                                batteryStudentScenarioId: record.batteryStudentScenarioId
                                })">
              {{record.batteryStudentScenarioId}}</a>
          </td>
          <td class="vertically-center" rowspan="{{record.batteryUnits.length}}" ng-hide="$index>0">
            {{record.batteryUuid}}
          </td>
          <td class="vertically-center" rowspan="{{record.batteryUnits.length}}" ng-hide="$index>0">
            {{record.batteryTestCode}}
          </td>
          <td class="vertically-center">{{unit.formCode}}</td>
          <td class="vertically-center">{{unit.testSessionName}}</td>
          <td class="vertically-center">{{unit.unitUuid}}</td>
          <td class="vertically-center">{{unit.testNavScenarioName}}</td>
          <td class="vertically-center">{{unit.epenScenarioName}}</td>
          <td class="vertically-center">
                            <span class="label"
                                  ng-class="{
                                'label-default': unit.status=='Not Started',
                                'label-warning': unit.status=='In Progress',
                                'label-danger': unit.status=='Failed',
                                'label-success': unit.status.indexOf('Completed')==0}">
                            {{unit.status}}
                            </span>
          </td>
          <td class="vertically-center text-center" rowspan="{{record.batteryUnits.length}}"
              ng-hide="$index>0">
            <p>
                            <span class="label"
                                  ng-class="{
                                'label-default': record.status=='Not Started',
                                'label-warning': record.status=='In Progress',
                                'label-danger': record.status=='Failed',
                                'label-success': record.status=='Completed'}">
                            {{record.status}}
                            </span>
            </p>
            <p>
              <button
                ng-disabled="!record.details.length"
                class="btn btn-default btn-xs"
                ng-click="bssCtrl.showDetails(record.details)"
                type="button">
                <i class="fa fa-eye"></i>
              </button>
              &nbsp;&nbsp;
              <a uib-popover="Previous runs"
                 popover-placement="top"
                 popover-trigger="mouseenter"
                 popover-append-to-body="true"
                 ng-if="record.numberOfPreviousExecutions > 0 ||  record.status === 'In Progress'"
                 ui-sref="divJobs.batteryStudentScenarios.batteryUnits.studentScenarioResult.states({
                                        environmentId: bssCtrl.environmentId,
                                        divJobExecId:  bssCtrl.divJobExecId,
                                        batteryStudentScenarioId: record.batteryStudentScenarioId,
                                        studentScenarioId: record.studentScenarioId,
                                        stateId: record.stateId
									})">
                            <span ng-if="record.status  === 'In Progress'">
                                {{record.numberOfPreviousExecutions}}
                            </span>
                <span ng-if="record.status !== 'In Progress'">
                                {{record.numberOfPreviousExecutions}}
                            </span>
              </a>
              <span uib-popover="Previous runs"
                    popover-placement="top"
                    popover-trigger="mouseenter"
                    popover-append-to-body="true"
                    ng-if="record.numberOfPreviousExecutions === 0 && record.status !== 'In Progress'">
                            {{record.numberOfPreviousExecutions}}
                        </span>
            </p>
          </td>
        </tr>
        <tr ng-repeat-end></tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="10">
            <div st-pagination
                 st-items-by-page="bssCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
