<div class="container container-full-width">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="previewers">QTI Validation (Previewers)</a></li>
    <li qm-loading-breadcrumb="!playTestCasesCtrl.previewerName">
      <a
        ui-sref="tenants({previewerId: playTestCasesCtrl.previewerId, previewerName: playTestCasesCtrl.previewerName})">
        {{::playTestCasesCtrl.previewerName}}
      </a>
    </li>
    <li qm-loading-breadcrumb="!playTestCasesCtrl.tenantName">
      {{::playTestCasesCtrl.tenantName}} ({{::playTestCasesCtrl.tenantId}})
    </li>
    <li>
      <a ui-sref="items({
                        previewerId: playTestCasesCtrl.previewerId,
                        previewerName: playTestCasesCtrl.previewerName,
                        tenantId: playTestCasesCtrl.tenantId,
                        tenantName: playTestCasesCtrl.tenantName
                    })">
        Items
      </a>
    </li>
    <li qm-loading-breadcrumb="!playTestCasesCtrl.itemName">
      <a ui-sref="testCases({
                        previewerId: playTestCasesCtrl.previewerId,
                        previewerName: playTestCasesCtrl.previewerName,
                        tenantId: playTestCasesCtrl.tenantId,
                        tenantName: playTestCasesCtrl.tenantName,
                        itemId: playTestCasesCtrl.itemId,
                        itemName: playTestCasesCtrl.itemName
                    })">
        {{::playTestCasesCtrl.itemName}}
      </a>
    </li>
    <li>Play Test Cases</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="playTestCasesCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="playTestCasesCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close" ng-click="playTestCasesCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{playTestCasesCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Play Test Cases</h1>
    </div>
  </div>
  <div qm-loading="playTestCasesCtrl.loadingTestCases">
    <div class="row">
      <div class="col-sm-12">
        <div ng-if="playTestCasesCtrl.testCasesInitialized && !playTestCasesCtrl.testCases.length">
          No test cases found.
        </div>
        <div ng-if="playTestCasesCtrl.testCases.length">
          <table class="table table-bordered table-fixed">
            <tbody>
            <tr>
              <td><b>Test Case ID:</b> {{playTestCasesCtrl.testCase.id}}</td>
              <td>
                <b>Pass/Fail:</b>
                <span class="label"
                      ng-class="playTestCasesCtrl.testCase.passed ? 'label-success' : 'label-danger'">
                                        {{playTestCasesCtrl.getPassFail(playTestCasesCtrl.testCase)}}
                                    </span>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-3">
              <table class="table table-bordered table-fixed">
                <thead>
                <tr>
                  <th>Responses (Mods)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="max-height-td">
                    <div class="max-height-td-inner">
                      <div ng-repeat="mod in
                                                        playTestCasesCtrl.showMods(playTestCasesCtrl.testCase.mods)">
                        {{mod}}
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-9">
              <table class="table table-bordered table-fixed">
                <thead>
                <tr>
                  <th>Actual Outcomes</th>
                  <th>Test Case Outcomes</th>
                  <th>Fingerprinted Outcomes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="max-height-td">
                    <div class="max-height-td-inner">
                      <div ng-repeat="actualOutcome in
                                                            playTestCasesCtrl.showOutcomes(playTestCasesCtrl.testCase.actualOutcomes)">
                        {{actualOutcome}}
                      </div>
                    </div>
                  </td>
                  <td class="max-height-td">
                    <div class="max-height-td-inner">
                      <div ng-repeat="testCaseOutcome in
                                                            playTestCasesCtrl.showOutcomes(playTestCasesCtrl.testCase.outcomes)">
                        {{testCaseOutcome}}
                      </div>
                    </div>
                  </td>
                  <td class="max-height-td">
                    <div class="max-height-td-inner">
                      <div ng-repeat="fingerprintedOutcome in
                                                            playTestCasesCtrl.showOutcomes(playTestCasesCtrl.testCase.fingerprintedOutcomes)">
                        {{fingerprintedOutcome}}
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center margin-bottom" ng-if="playTestCasesCtrl.testCases.length">
      <div class="col-sm-12">
        Test case {{playTestCasesCtrl.testCaseIndex + 1}} of {{playTestCasesCtrl.testCases.length}}
        <nav>
          <ul class="pagination">
            <li ng-class="{disabled: playTestCasesCtrl.testCaseIndex === 0}">
              <a ng-click="playTestCasesCtrl.setTestCase(0)">
                <i class="fa fa-angle-double-left"></i>
              </a>
            </li>
            <li ng-class="{disabled: playTestCasesCtrl.testCaseIndex === 0}">
              <a ng-click="playTestCasesCtrl.setTestCase(playTestCasesCtrl.testCaseIndex - 1)">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <li ng-repeat="testCaseIndex in playTestCasesCtrl.paginationOptions"
                ng-class="{active: testCaseIndex === playTestCasesCtrl.testCaseIndex}">
              <a ng-click="playTestCasesCtrl.setTestCase(testCaseIndex)">
                {{testCaseIndex + 1}}
              </a>
            </li>
            <li ng-class="{disabled: playTestCasesCtrl.testCaseIndex === playTestCasesCtrl.testCases.length - 1}">
              <a ng-click="playTestCasesCtrl.setTestCase(playTestCasesCtrl.testCaseIndex + 1)">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            <li ng-class="{disabled: playTestCasesCtrl.testCaseIndex === playTestCasesCtrl.testCases.length - 1}">
              <a ng-click="playTestCasesCtrl.setTestCase(playTestCasesCtrl.testCases.length - 1)">
                <i class="fa fa-angle-double-right"></i>
              </a>
            </li>
          </ul>
        </nav>
        <button type="button" class="btn btn-default" ng-click="playTestCasesCtrl.updateFingerprint()"
                ng-if="playTestCasesCtrl.hasFingerPrintUpdateAccess">
          Fingerprint
        </button>
        <button type="button" class="btn btn-default" ng-click="playTestCasesCtrl.updateTestCase()"
                ng-if="playTestCasesCtrl.hasTestCaseUpdateAccess">
          Accept New Outcomes
        </button>
        <button type="button" class="btn btn-default" ng-click="playTestCasesCtrl.deleteTestCase()"
                ng-if="playTestCasesCtrl.hasTestCaseDeleteAccess">
          Delete Test Case
        </button>
      </div>
    </div>
    <div class="row" ng-if="!playTestCasesCtrl.loadingTestCases && playTestCasesCtrl.testCases.length">
      <div class="col-sm-12">
        <qm-item-iframe show-item-function="playTestCasesCtrl.showItem"></qm-item-iframe>
      </div>
    </div>
  </div>
</div>
