<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="itemExceptionsCtrl.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="itemExceptionsModalLabel">
    Item Exceptions
    <i class="fa fa-spinner" ng-class="{'fa-spin': itemExceptionsCtrl.loadingItemExceptions}"
       ng-show="itemExceptionsCtrl.loadingItemExceptions"></i>
  </h4>
</div>
<div class="modal-body table-responsive"">
<table class="table table-bordered table-striped" ng-hide="itemExceptionsCtrl.loadingItemExceptions">
  <thead>
  <tr>
    <th>Item ID</th>
    <th>Item Identifier</th>
    <th>Exception</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="itemException in itemExceptionsCtrl.itemExceptions">
    <td>{{itemException.itemId}}</td>
    <td>{{itemException.itemIdentifier}}</td>
    <td>{{itemException.exception}}</td>
  </tr>
  </tbody>
</table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="itemExceptionsCtrl.close()">Close</button>
</div>
