<div class="container ng-scope">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>
    <li qm-loading-breadcrumb="!divjobFormsCtrl.environmentName"><a
      ui-sref="divJobs({environmentId:divjobFormsCtrl.environmentId})">{{::divjobFormsCtrl.environmentName}}</a></li>
    <li>DIV Job Forms</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <h1>DIV Job Forms</h1>
      <table st-table="divjobFormsCtrl.displayedDivjobForms" st-safe-src="divjobFormsCtrl.divjobForms"
             class="table table-bordered table-striped">
        <thead>
        <tr class="table-controls">
          <th colspan="9">
            <div class="row">
              <div class="form-group form-group-sm col-xs-4">
                <label for="itemsPerPage">Per Page</label>
                <div class="input-group">
                  <select id="itemsPerPage" class="form-control" ng-model="divjobFormsCtrl.itemsPerPage"
                          ng-options="option.value as option.name for option in divjobFormsCtrl.itemsPerPageOptions"
                          qm-memory qm-page-name="divjobForms" qm-property="perPage">
                  </select>
                </div>
              </div>
              <div class="form-group form-group-sm col-xs-8">
                <label for="search">Search</label>
                <div class="input-group">
                  <input st-search id="search" type="search" class="form-control" qm-memory
                         qm-page-name="divjobForms" qm-property="search"
                         qm-context="{{::divjobFormsCtrl.environmentId}}" ng-model="search"/>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="divJobExecId">Div Job ID</th>
          <th st-sort="testCode">Test Code</th>
          <th st-sort="formCode">Form Code</th>
          <th>Testnav Scenarios</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="divjobFormsCtrl.displayedDivjobForms.length">
          <td colspan="9" class="text-center">No results found.</td>
        </tr>
        <tr ng-repeat="divjobForm in divjobFormsCtrl.displayedDivjobForms">
          <td>
            <a
              ui-sref="divJobs.studentScenarios({environmentId:divjobFormsCtrl.environmentId,divJobExecId:divjobForm.divjobId})">
              {{divjobForm.divjobId}} </a>
          </td>
          <td>{{divjobForm.testCode}}</td>
          <td>{{divjobForm.formCode}}</td>
          <td>{{divjobForm.testnavScenarios}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-controls">
          <td colspan="10">
            <div st-pagination
                 st-items-by-page="divjobFormsCtrl.itemsPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
