<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
  </ol>
  <div class="row">
    <div class="col-xs-12">
      <h1>Module Selection</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3 module-option" ng-repeat="module in moduleSelectionCtrl.modules">
      <a class="btn btn-default btn-md" ui-sref="{{module.state}}">
        <div class="module-icon">
          <i class="fa fa-4x {{module.icon}}"></i>
        </div>
        <div class="module-name">
          {{module.name}}
        </div>
      </a>
    </div>
  </div>
</div>
