<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="archiveConfirmationCtrl.close()"><span
      aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Environment Archive Confirmation</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-success" role="alert"
         ng-class="archiveConfirmationCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
         ng-if="archiveConfirmationCtrl.alertMessage">{{archiveConfirmationCtrl.alertMessage}}
    </div>
    <p ng-if="!archiveConfirmationCtrl.alertMessage">
      Are you sure you want to {{archiveConfirmationCtrl.archiveType}} the
      {{archiveConfirmationCtrl.environmentName}} environment?
    </p>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-default" ng-click="archiveConfirmationCtrl.close()"
            ng-if="!archiveConfirmationCtrl.alertMessage">No
    </button>
    <button type="button" class="btn btn-primary"
            ng-disabled="archiveConfirmationCtrl.loading"
            ng-click="archiveConfirmationCtrl.changeArchiveStatus()"
            ng-if="!archiveConfirmationCtrl.alertMessage">
      <i class="fa fa-sun-o"
         ng-class="{'fa-spin': archiveConfirmationCtrl.loading}"
         ng-show="archiveConfirmationCtrl.loading"></i>Yes
    </button>
    <button type="button" class="btn btn-default" ng-click="archiveConfirmationCtrl.close()"
            ng-if="archiveConfirmationCtrl.alertMessage">Close
    </button>
  </div>
</div>
