<div class="container ng-scope">
  <ol class="breadcrumb">
    <li><a ui-sref="{{::mainCtrl.landingPage}}"><i class="fa fa-home"></i></a></li>
    <li><a ui-sref="environments">System Validation (Environments)</a></li>
    <li><a
      ui-sref="divJobs({environmentId:tssCtrl.environment.environmentId})">
      {{tssCtrl.environment.name}}</a></li>
    <li><a ui-sref="testCodeSelection({environmentId:tssCtrl.environment.environmentId})">Test Code Selection</a></li>
    <li>Test Session Selection</li>
  </ol>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert"
           ng-class="tssCtrl.alertSuccess ? 'alert-success' : 'alert-danger'"
           ng-if="tssCtrl.alertMessage">
        <button type="button" class="close" aria-label="Close"
                ng-click="tssCtrl.clearAlertMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{tssCtrl.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Data Integrity Validation Job Setup - Step 2/4</h1>
      <form ng-submit="tssCtrl.submit()">
        <table st-table="tssCtrl.displayedTestDetails"
               st-safe-src="tssCtrl.testDetails"
               class="table table-bordered table-striped">
          <thead>
          <tr class="table-controls">
            <th colspan="2">
              <div class="row">
                <div class="form-group form-group-sm col-xs-4">
                  <label for="itemsPerPage">Per Page</label>
                  <div class="input-group">
                    <select id="itemsPerPage" class="form-control"
                            ng-model="tssCtrl.itemsPerPage"
                            ng-options="option.name for option in tssCtrl.itemsPerPageOptions">
                    </select>
                  </div>
                </div>
                <div class="form-group form-group-sm col-xs-8">
                  <label for="search">Search</label>
                  <div class="input-group">
                    <input st-search id="search" type="search"
                           class="form-control"/>
                  </div>
                </div>
              </div>
            </th>
          </tr>
          <tr>
            <th class="text-center"><span ng-if="tssCtrl.testType == 'Battery'">Battery </span> Test
              Code
            </th>
            <th class="text-center">Sessions</th>
          </tr>
          </thead>
          <tbody qm-loading="tssCtrl.loadingTestSessions">
          <tr ng-hide="tssCtrl.testDetails.length">
            <td colspan="6" class="text-center"
                ng-if="!tssCtrl.testSessionsInitialized">&nbsp;
            </td>
            <td colspan="6" class="text-center"
                ng-if="tssCtrl.testSessionsInitialized">No results found.
            </td>
          </tr>
          <tr ng-repeat="testDetail in tssCtrl.displayedTestDetails">
            <td class="vertically-center text-center">{{testDetail.testCode}}</td>
            <td>
              <qm-pick-list collection-Name="Sessions"
                            available-Items="testDetail.testSessions"
                            display-Attribute="sessionName"
                            picked-Items="testDetail.selectedTestSessions"/>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr class="table-controls">
            <td colspan="6">
              <div st-pagination st-items-by-page="tssCtrl.itemsPerPage.value"></div>
            </td>
          </tr>
          </tfoot>
        </table>
        <div class="form-group form-group-sm text-right">
          <input type="submit" class="btn btn-default" value="Next"
                 ng-disabled="tssCtrl.loadingTestSessions || tssCtrl.submitted"/>
        </div>
      </form>
    </div>
  </div>
</div>
