<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="confirmCtrl.close()"><span
      aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Test Case Deletion Confirmation</h4>
  </div>
  <div class="confirm-delete-modal modal-body" qm-loading="confirmCtrl.load">
    <p> Are you sure you want to delete all test cases for the items listed in the uploaded file?</p>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-primary" ng-click="confirmCtrl.processFile()">Yes</button>
    <button type="button" class="btn btn-default" ng-click="confirmCtrl.close()">No</button>
  </div>
</div>
