html, body, #topLevelUi {
    height: 100%;
}

.center-contents-vertically {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vertically-center {
    vertical-align: middle !important;
}

#mainUi {
    padding-top: 70px;
    flex-shrink: 0;
}

#mainContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container.container-full-width {
    width: 100%;
}

#footer {
    flex-shrink: 0;
}

h1 {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #dcdcdc;
    margin-top: 0;
    margin-bottom: 18px;
    padding-bottom: 5px;
}

hr {
    border-color: #dcdcdc;
}

.sidebar-content {
    margin-bottom: 20px;
}

.sidebar-content .btn {
    margin-bottom: 5px;
}

textarea {
    resize: none;
}

.margin-bottom {
    margin-bottom: 20px;
}

.table-bordered {
    border: 0 none;
}

.table-bordered > thead > tr {
    border-top: 1px solid #dddddd;
}

.table-bordered > thead > tr.table-controls {
    border: 0 none;
}

.table-bordered > thead > tr.table-controls > th {
    border: 0 none;
    padding: 0;
    font-weight: 400;
}

.table-fixed {
    table-layout: fixed;
}

.table > thead > tr > th[st-sort] {
    cursor: pointer;
    position: relative;
    padding-right: 24px;
}

.table > thead > tr > th[st-sort]:after {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
    content: "\f0dc";
}

.table > thead > tr > th[st-sort].st-sort-ascent:after {
    content: "\f0de";
}

.table > thead > tr > th[st-sort].st-sort-descent:after {
    content: "\f0dd";
}

.table > tbody > tr > td.button-column {
    line-height: 34px;
}

.table-bordered > tfoot > tr.table-controls > td {
    border: 0 none;
    padding: 0;
    font-weight: 400;
}

button.btn.btn-wrapped-text {
    white-space: normal;
}

.input-group {
    width: 100%;
}

.pagination-count div {
    margin-top: 15px;
}

@media ( max-width: 767px) {
    .pagination-count {
        text-align: center;
    }

    .pagination-controls {
        text-align: center;
    }
}

@media ( min-width: 768px) {
    .pagination-controls {
        text-align: right;
    }
}

.pagination {
    margin-top: 15px;
}

.pagination > li > a {
    cursor: pointer;
}

.loading-overlay-content {
    letter-spacing: normal;
    text-transform: none;
}

.visually-hidden {
    visibility: hidden;
}

/* Fix issue with cursor not changing when hovering over disabled buttons. */
.btn[disabled] {
    pointer-events: auto;
}

iframe {
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}

.label {
    vertical-align: middle;
}

.dropdown-menu {
    width: auto;
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.module-option {
    margin-bottom: 20px;
}

.module-option a {
    width: 100%;
    white-space: normal;
}

.module-option .module-icon {
    margin-top: 10px;
    margin-bottom: 20px;
}

.module-option .module-name {
    margin-bottom: 10px;
}

.notifications-button {
    max-height: 50px;
}

.notifications-numbers {
    border-radius: 4px;
    margin-top: -7px;
    margin-right: 5px;
    padding: 4px;
    background-color: #e7e7e7;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    float: left;
}

.notifications-number-icon {
    width: 11px;
}

.notifications {
    font-size: 12px;
    width: 361px;
    max-height: 500px;
}

.notifications .divider {
    clear: both;
}

.notifications h5, .notifications h6 {
    margin-top: 0;
    font-weight: bold;
    font-size: 14px;
}

.notifications .notification-icon {
    width: 16px;
    margin-left: 10px;
    float: left;
}

.notifications .notification-body {
    width: 270px;
    margin-left: 10px;
    float: left;
}

.notifications .notification-close {
    width: 16px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

.notifications .notification-info {
    margin-bottom: 10px;
}

.notifications .notification-alert {
    max-height: 150px;
    overflow-y: auto;
}

.notifications .notification-alert ul {
    padding-left: 10px;
    list-style-type: disc;
}

/* Fix issue with icon alignment when using has-feedback in Bootstrap. */
.fa.form-control-feedback {
    line-height: 34px;
}

/* Don't show spinner for numeric inputs in Firefox. */
input[type='number'] {
    -moz-appearance: textfield;
}

/* Don't show spinner for numeric inputs in Webkit browsers. */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

qm-pick-list .form-group {
    padding: 0 15px;
}

qm-pick-list select[multiple] {
    height: 150px;
}

qm-pick-list .pick-list-section {
    padding: 0;
}

qm-pick-list .button-controls {
    position: relative;
}

qm-pick-list .btn {
    display: block;
    width: 20px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}

table tr td.max-height-td {
    padding: 0;
}

.max-height-td-inner {
    padding: 8px;
    max-height: 150px;
    overflow-y: auto;
}

.default-cursor {
    cursor: default;
}

.dotted-underline {
    border-bottom: 1px dotted #000;
}

.epen-disable {
    float: right;
    margin-right: 15px;
}

.form-control[readonly].read-only-no-color {
    cursor: text;
    background-color: #FFF;
}

.word-break {
    word-break: break-all;
}

.version-right {
    float: right;
}

#releaseVersionModalBody h5 {
    font-size: 16px;
    font-weight: bold;
}

.submit-btn {
    float: right;
    margin-right: 15px;
}

.usage-btn {
    margin-bottom: 10px;
}

.confirm-delete-modal {
    z-index: 1200 !important;
}

.modal-xl {
    width: 1200px;
}

.addScenario-btn {
    margin-top: 25px;
}

.submit-btn {
    float: right;
}

.formCode-right {
    padding-right: 2px;
}

.formCode-left {
    padding-left: 0px;
}

.btn-padding {
    padding: 0px;
}

.applyToAllForms {
    float: right;
}

.zeroMarginPadding {
    margin: 0px;
    padding: 0px;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.6); /* Black w/ opacity */
}

.overlay-content {
    position: relative;
    top: 35%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    opacity: 0.7;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.dropdown-margin {
    margin: 5px 20px;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}